$path: '../images';


/* ==================================================
   BS內建
================================================== */

*,
*:before,
*:after{
	box-sizing:border-box;
}

body {
	font-weight: bold;
	margin: 0 auto;
	background-color: $monochromeFF;
	color: $monochrome22;

	&.openNav {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.scrollArea {

		&.anchorOffset {
			position: absolute;

			@include rwd-min(320px) {
				top: rem(-64);
			}

			@include rwd-min(768px) {
				top: rem(-82);
			}
		}
	}
}

.wrapper {
	position: relative;
	max-width: 1200px;
	min-height: 100%;
	margin: 0 auto;
}

/* ==================================================
   header
================================================== */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: transparent;
	@include transition(background-color, .3s, ease-in);

	.wrapper {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include rwd-min(320px) {
			width: 100%;
			min-height: auto;
		}

		@include rwd-min(991.98px) {
			width: 1200px;
		}
	}

	@include rwd-min(320px) {
		padding: rem(12) rem(16);
	}

	@include rwd-min(991.98px) {
		padding: rem(10) rem(10);
	}

	.logos {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;

		.featDeco {
			margin: 0 rem(12);
		}
	}

	.navbar-brand {
		padding: 0;
		margin-right: 0;
	}

	.logoImg {
		display: block;

		img {
			width: 100%;
		}

		&--ch {
			width: rem(53);

			@include rwd-min(991.98px) {
				width: rem(80);
			}
		}
		&--feat {
			width: rem(119);

			@include rwd-min(991.98px) {
				width: rem(158);
			}
		}
	}

	.nav-item {
		display: flex;
		align-items: center;
		justify-content: center;

		&.nav-item-share {
			display: flex;
			flex-wrap: nowrap;

			.nav-link {
				margin-left: rem(16);

				&:first-child {
					margin-left: 0
				}
			}
		}
	}

	.nav-link {
		font-size: rem(18);
		line-height: calc(22/18);
		font-weight: 400;
		display: block;
		color: $monochrome22;
		text-decoration: none;

		&.is-active,
		&:hover {
			color: $primary;
		}

		@include rwd-not-hover {
			&:hover {
				color: $monochrome22;
			}
		}

		img {
			width: rem(32);
		}
	}

	&-expand-lg {
		.navbar-nav {

			.nav-item {

				@include rwd-min(320px) {
					margin-top: rem(24);

					&:first-child {
						margin-top: 0;
					}
				}

				@include rwd-min(991.98px) {
					margin-top: 0;
					margin-left: rem(16);

					&:first-child {
						margin-left: 0;
					}
				}
			}

			.nav-link {
				padding: 0;
			}
		}
	}

	.navbar-collapse {

		@include rwd-min(320px) {
			margin-top: rem(48);

			&.show {
				@include transition(opacity, 0.25s, ease);
			}
		}

		@include rwd-min(991.98px) {
			margin-top: 0;
			height: auto;
			background-color: transparent;
		}
	}

	&.is-scrolled {
      background-color: $monochromeFF;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
    }

	&.is-opened {
		background-color: $tertiary-dark;
		height: 100%;
		align-items: flex-start;

		.logos {
			width: 0;
			overflow: hidden;
		}

		.nav-link {
			color: $monochromeFF;
		}
	}
}

/* ==================================================
   漢堡按鈕-旋轉X
================================================== */
.navbar-toggler {
	padding: 0;
	border-radius: 0;
	background-color: none;
	border: none;

	&:focus {
		box-shadow: none;
	}
}

/*Hamburger Menu to X css*/
.navbarX {
	width: rem(50);
	height: rem(40);
	background-color: transparent !important;
	position: relative;
	margin-right: 0;
	cursor: pointer;
	align-self: center;

	@include rwd-min(1025px) {
		display: none;
	}

	i {
		display: block;
		background-color: #434141;
		border-radius: rem(3);
		width: rem(24);
		height: rem(2);
		margin-left: auto;
		margin-right: auto;

		&:nth-child(1) {
			animation: outT 0.8s backwards;  /*若要取消進場動畫*/
			animation-direction: reverse;
		}

		&:nth-child(2) {
			margin-top: rem(6);
			margin-bottom: rem(6);
			animation: outM 0.8s backwards;  /*若要取消進場動畫*/
			animation-direction: reverse;
		}

		&:nth-child(3) {
			animation: outBtm 0.8s backwards; /*若要取消進場動畫*/
			animation-direction: reverse;
		}
	}

	&.active {
		i {
			background-color: $monochromeFF;

			&:nth-child(1) {
				animation: inT 0.8s forwards;
			}

			&:nth-child(2) {
				animation: inM 0.8s forwards;
			}

			&:nth-child(3) {
				animation: inBtm 0.8s forwards;
			}
		}
	}
}

@keyframes inM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@keyframes outM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}


@keyframes inT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(8px) rotate(135deg);/*微上調2px*/
	}
}

@keyframes outT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(8px) rotate(135deg);
	}
}

@keyframes inBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-8px) rotate(135deg);
	}
}

@keyframes outBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-8px) rotate(135deg);
	}
}

/* ==================================================
   footer
================================================== */

footer {
    width: 100%;
	padding: rem(30) rem(20);

	a {
		transition: .3s;
		color: $monochrome22;
		text-decoration: none;

		&:hover {
			color: $primary;
		}

		@include rwd-not-hover {
			&:hover {
				color: $monochrome22;
			}
		}
	}

	ul {
		list-style-type: none;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 0;
		margin: 0;

		li {
			border-right: rem(1) solid $monochrome22;
			padding-right: rem(10);
			margin: 0 rem(10) rem(10) 0;

			&:last-child {
				border: none;
				padding: 0;
				margin: 0;
			}

			a {
				font-size: rem(15);
				line-height: rem(18);
				font-weight: 400;
				color: $monochrome22;


				&:hover {
					opacity: 0.65;
				}
			}


		}

		&.socialList {

			@include rwd-min(320px) {
				margin-bottom: rem(50);
			}

			@include rwd-min(768px) {
				margin-bottom: rem(40);
			}

			li {
				border-right: none;
				padding: 0;
				margin-right: rem(30);
				margin-bottom: 0;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&:last-child {
			margin: 0;
		}
	}

	p {
		font-size: rem(14);
		font-weight: 300;
		line-height: rem(24);
		color: $monochrome22;
		text-align: center;
		margin-top: 0;
		margin-bottom: 10px;
	}

	@include rwd-max(768px) {
		ul {
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;

			li {
				padding: 0 5px 0 0;
				margin: 0 5px 10px 0;
			}
		}

	}
}

.btn-more {
	position: fixed;
	bottom: 2em;
	right: 15px;
	z-index: 9;
	opacity: 1;
	border-radius: 50%;
	box-shadow: 0 0 rem(20) rgba(0,0,0,.15);
	opacity: 0;
	animation: loop 2.5s ease-out infinite;
	@include transition(opacity, .3s, ease-in);

	@include rwd-min(320px) {
		width: rem(120);
		height: rem(120)
	}

	@include rwd-min(768px) {
		width: rem(150);
		height: rem(150);
	}

	img {
		height: auto;
		width: 100%;
		transition: all 0.5s;
	}

	&.is-active {
		opacity: 1;
	}
}