$path: '../images';

.featDeco {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &--logo {
        width: rem(24);
        height: rem(24);
        background-image: url('#{$path}/deco_feat-logo.svg');
    }

    &--hero {
        width: rem(30);
        height: rem(30);
        background-image: url('#{$path}/deco_feat-hero.svg');
    }
}

.quotationDeco {
    display: block;
    width: rem(40);
    height: rem(35);
    margin: rem(16) auto;

    img {
        width: 100%;
    }
}

.adviceBox {
    position: relative;
    padding-top: rem(30);

    &__deco {
        position: absolute;
        top: rem(14);
        left: rem(-9);
        width: rem(84);
        height: rem(77);
    }

    &__content {
        background-color: #FFD19A;
        border-radius: rem(8);
        padding: rem(8) rem(16) rem(8) rem(80);

        p {
            color: $text-dark;
            font-size: rem(18);
            font-weight: 400;
            line-height: 1.7;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.gridWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &--function {
        column-gap: rem(24);
        row-gap: rem(26);

        .gridWrap__item {
            width: calc((100% - rem(24)) / 2);
            flex: 0 0 calc((100% - rem(24)) / 2);
        }
    }
}
