$path: '../images';

.featDeco {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &--logo {
        background-image: url('#{$path}/deco_feat-logo.svg');

        @include rwd-min(320px) {
            flex: 0 0 rem(20);
            width: rem(20);
            height: rem(20);
        }

        @include rwd-min(991.98px) {
            flex: 0 0 rem(24);
            width: rem(24);
            height: rem(24);
        }
    }

    &--hero {
        background-image: url('#{$path}/deco_feat-hero.svg');

        @include rwd-min(320px) {
            flex: 0 0 rem(16);
            width: rem(16);
            height: rem(16);
        }

        @include rwd-min(991.98px) {
            flex: 0 0 rem(30);
            width: rem(30);
            height: rem(30);
        }
    }
}

.quotationDeco {
    display: block;
    width: rem(40);
    height: rem(35);
    margin-left: auto;
    margin-right: auto;

    @include rwd-min(320px) {
        margin-top: rem(8);
        margin-bottom: rem(8);
    }

    @include rwd-min(991.98px) {
        margin-top: rem(16);
        margin-bottom: rem(16);
    }

    img {
        width: 100%;
    }
}

.adviceBox {
    position: relative;
    padding-top: rem(30);

    &__deco {
        position: absolute;
        top: rem(14);
        left: rem(-9);
        width: rem(84);
        height: rem(77);
    }

    &__content {
        background-color: #FFD19A;
        border-radius: rem(8);
        padding: rem(8) rem(16) rem(8) rem(80);

        p {
            color: $text-dark;
            font-size: rem(18);
            font-weight: 400;
            line-height: 1.7;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.gridWrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    @include rwd-min(320px) {
        row-gap: rem(10);
    }

    @include rwd-min(768px) {
        column-gap: rem(24);
        row-gap: rem(26);
    }

    &--function {

        @include rwd-min(320px) {
            row-gap: rem(10);
        }

        @include rwd-min(768px) {
            column-gap: rem(24);
            row-gap: rem(26);
        }


        .gridWrap__item {

            @include rwd-min(320px) {
                width: 100%;
                flex: 0 0 100%;
            }

            @include rwd-min(768px) {
                width: calc((100% - rem(24)) / 2);
                flex: 0 0 calc((100% - rem(24)) / 2);
            }
        }
    }

    &--calculator {
        @include rwd-min(320px) {
            gap: rem(8);
        }

        @include rwd-min(768px) {
            gap: rem(16);
        }

        .gridWrap__item {

            @include rwd-min(320px) {
                width: 100%;
                flex: 0 0 100%;
            }

            @include rwd-min(768px) {
                width: calc((100% - rem(16)) / 2);
                flex: 0 0 calc((100% - rem(16)) / 2);
            }
        }
    }

    &--defect {

        @include rwd-min(320px) {
            gap: rem(8);
        }

        @include rwd-min(768px) {
            gap: rem(16);
        }

        .gridWrap__item {

            @include rwd-min(320px) {
                width: calc((100% - rem(8)) / 2);
                flex: 0 0 calc((100% - rem(8)) / 2);
            }

            @include rwd-min(768px) {
                width: calc((100% - rem(32)) / 3);
                flex: 0 0 calc((100% - rem(32)) / 3);
            }

        }
    }
}

.tabBlock {
    .tabBtn {
        background-color: transparent;
        border: none;
    }
}

.accordion-button {
    &:focus {
        box-shadow: none;
        border: none;
    }
}
