@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap");
html {
  font-family: "Noto Sans TC", serif;
  font-size: 2.564102564dvw;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-style: inherit;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}

del,
ins {
  text-decoration: none;
}

li {
  font-style: inherit;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

legend {
  color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input,
button,
textarea,
select {
  *font-size: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 100%;
  color: #17181A;
  line-height: 1.44;
  font-weight: 300;
  -ms-text-size-adjust: 100%; /* 2 */
  -moz-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  text-size-adjust: 100%; /* 2 */
  background: #FFFFFF;
}

div,
ul,
li,
header,
footer,
section,
p,
dl,
dt,
dd {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

header {
  line-height: 1;
  text-align: center;
  padding: 2rem 0;
}

.wrapper {
  padding: 0 3rem;
}

@-webkit-keyframes waveFlow {
  from {
    background-position-X: 0;
  }
  to {
    background-position-X: -26.4rem;
  }
}

@keyframes waveFlow {
  from {
    background-position-X: 0;
  }
  to {
    background-position-X: -26.4rem;
  }
}
@-webkit-keyframes loadingShake {
  0%, 100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(0, -1rem, 0);
    transform: translate3d(0, -1rem, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(0, 1rem, 0);
    transform: translate3d(0, 1rem, 0);
  }
}
@keyframes loadingShake {
  0%, 100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(0, -1rem, 0);
    transform: translate3d(0, -1rem, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(0, 1rem, 0);
    transform: translate3d(0, 1rem, 0);
  }
}
.loading {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 105;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
.loading__overlay {
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(16, 55, 141, 0.1);
  backdrop-filter: blur(0.3rem);
}
.loading__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 200;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading__wrap .image {
  -webkit-filter: drop-shadow(0px 0px 0.4rem rgba(16, 55, 141, 0.7));
          filter: drop-shadow(0px 0px 0.4rem rgba(16, 55, 141, 0.7));
  -webkit-animation: loadingShake 5s ease 1.55s infinite;
          animation: loadingShake 5s ease 1.55s infinite;
  text-align: center;
  margin-bottom: 1rem;
}
.loading__wrap .image img {
  width: 3rem;
  height: 7rem;
}
.loading__wrap .text {
  font-family: "Unbounded", sans-serif;
  color: #FFFFFF;
  font-size: 1.8rem;
  letter-spacing: 0.18rem;
  text-shadow: 0 0 0.4rem rgba(16, 55, 141, 0.7);
}
.loading.is-hide {
  opacity: 0;
}

.pageTitle__text {
  display: block;
  text-align: center;
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: 0.3rem;
  font-weight: bold;
}
.pageTitle__text--en {
  font-family: "Unbounded", sans-serif;
}
.pageTitle__text--zh {
  font-family: "Noto Sans TC", serif;
}

.pageDesc__text {
  display: block;
  text-align: center;
}
.pageDesc__text--topic {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0.17rem;
}
.pageDesc__text--memo {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
}

.pageAction {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pageAction > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.noteList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.noteList > li {
  position: relative;
  padding-left: 2.4rem;
  margin-bottom: 0.6rem;
}
.noteList > li:last-child {
  margin-bottom: 0;
}
.noteList > li:before {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  left: 1rem;
  top: 1.2rem;
}
.noteList > li span {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 300;
}

.processBox {
  padding: 1.6rem;
  border-radius: 1rem;
}
.processBox__text .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.processBox__text .count__num, .processBox__text .count__hr {
  font-family: "Unbounded", sans-serif;
  font-weight: bold;
}
.processBox__text .count__hr {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.processBox__text .count__num--current {
  color: #F1E462;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0.4rem;
}
.processBox__text .count__num--total {
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}
.processBox__text .memo {
  margin-top: 1.6rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.7;
}
.processBox__text .bar {
  position: relative;
  width: 100%;
  height: 1rem;
  margin-top: 1rem;
  background-color: #EFEFEF;
  border-radius: 0.5rem;
}
.processBox__text .bar__value {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  background-color: #003891;
  border-radius: 0.5rem;
}
.processBox--default {
  background-color: #3858A1;
  background-image: url("../../images/liff/bg-process.webp");
  background-size: 26.4rem auto;
  background-position: center bottom;
  background-repeat: repeat-x;
  -webkit-animation: waveFlow 20s linear infinite;
          animation: waveFlow 20s linear infinite;
}
.processBox--default .processBox__text .topic {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}
.processBox--default .processBox__text .count {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1.6rem;
}
.processBox--default .processBox__text .count__hr {
  color: #fff;
}
.processBox--default .processBox__text .count__num--current {
  color: #F1E462;
}
.processBox--default .processBox__text .count__num--total {
  color: #fff;
}
.processBox--popup {
  background-color: #fff;
}
.processBox--popup .processBox__text .topic {
  color: #4D4D4D;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.17rem;
}
.processBox--popup .processBox__text .count {
  margin-top: 1rem;
}
.processBox--popup .processBox__text .count__hr {
  color: #4D4D4D;
}
.processBox--popup .processBox__text .count__num--current {
  color: #003893;
}
.processBox--popup .processBox__text .count__num--total {
  color: #4D4D4D;
}

.stickyBtn {
  position: sticky;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.6rem 0;
  background-color: #fff;
  -webkit-box-shadow: 0 -0.4rem 1rem rgba(16, 55, 141, 0.13);
          box-shadow: 0 -0.4rem 1rem rgba(16, 55, 141, 0.13);
}
.stickyBtn .actions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main {
  position: relative;
  z-index: 5;
  padding: 2rem 0 3rem;
}
main .pageDesc {
  margin-top: 2rem;
}
main .processBox {
  margin-top: 3rem;
}
main .pageAction {
  margin-top: 3rem;
}
main .noteList {
  margin-top: 3rem;
}

.btn {
  padding: 0;
  border-radius: 0;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn--collect {
  border-radius: 1rem;
  display: block;
  padding: 1.6rem 0;
  text-align: center;
  background-color: #5792C2;
}
.btn--collect .btn__text {
  color: #fff;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.btn--scan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1.6rem;
  background-color: #3858A1;
  -webkit-column-gap: 1.6rem;
     -moz-column-gap: 1.6rem;
          column-gap: 1.6rem;
  border-radius: 1rem;
}
.btn--scan:before {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
  width: 5rem;
  height: 5rem;
  background-image: url("../../images/liff/btn-icon_scan.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5rem;
}
.btn--scan .btn__text {
  color: #fff;
  line-height: 1.5;
}
.btn--scan .btn__text .topic {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
}
.btn--scan .btn__text .memo {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
}
.btn--fixFunc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
}
.btn--fixFunc:before {
  content: "";
  display: block;
  width: 6rem;
  height: 6rem;
  background-size: 6rem;
  background-position: center;
  background-repeat: no-repeat;
}
.btn--fixFunc .btn__text {
  display: block;
  margin-top: 0.6rem;
  color: #4D4D4D;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7;
}
.btn--fixFunc.is-collection:before {
  background-image: url("../../images/liff/btn-docking_collection.svg");
}
.btn--fixFunc.is-scan:before {
  background-image: url("../../images/liff/btn-docking_scan.svg");
}
.btn--fixFunc.is-prize:before {
  background-image: url("../../images/liff/btn-docking_prize.svg");
}
.btn--submit {
  background-color: transparent;
  background-image: url("../../images/liff/arrow-submit.svg");
  background-size: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
body.is-lock {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
.popup__content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.popup__content .wrapper {
  position: relative;
}
.popup .closePopup {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  z-index: 10;
  background-image: url("../../images/liff/btn-popup_close.svg");
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.4rem 0.4rem rgba(16, 55, 141, 0.08);
          box-shadow: 0 0.4rem 0.4rem rgba(16, 55, 141, 0.08);
}
.popup .popupTitle {
  text-align: center;
  color: #3858A1;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.3rem;
}
.popup .balloonBox__cover {
  position: relative;
}
.popup .balloonBox__cover canvas {
  position: absolute;
  top: -1rem;
  left: 0;
  z-index: 1;
}
.popup .balloonBox__cover .image {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 25rem;
  height: 25rem;
  background-color: #fff;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup .balloonBox__cover .image .exclamation {
  width: 6rem;
  height: auto;
  -webkit-animation: bounceIn 0.75s ease 0.8s 1 both, pulse 1s ease 1.55s infinite;
          animation: bounceIn 0.75s ease 0.8s 1 both, pulse 1s ease 1.55s infinite;
}
.popup .balloonBox__text {
  position: relative;
  z-index: 10;
  margin-top: 2rem;
  text-align: center;
}
.popup .balloonBox__text .venue {
  font-family: "Unbounded", sans-serif;
  color: #3858A1;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.4rem;
}
.popup .balloonBox__text .topic {
  margin-top: 1rem;
  color: #3858A1;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}
.popup .action {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup .action > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
.popup .failAlert {
  position: relative;
  height: 100%;
}
.popup .failAlert__msg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 4rem 6rem;
  border-radius: 1rem;
  background-color: #5792C2;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.popup--success {
  background-color: #E4EFF9;
}
.popup--success .wrapper {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.popup--success .wrapper .popupTitle {
  margin-bottom: 3rem;
}
.popup--success .wrapper .processBox {
  margin-top: 3rem;
}
.popup--success .wrapper .processBox .processBox__text .count {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.popup--success .wrapper .action {
  margin-top: 3rem;
}
.popup--alert {
  background-color: rgba(0, 0, 0, 0.7);
}
.popup--alert .popup__content .wrapper {
  height: 100%;
}
.popup.is-hide {
  opacity: 0;
}

body {
  background-color: #fff;
}

.pageTitle__text {
  color: #3858A1;
}

.pageDesc__text {
  color: #4D4D4D;
}

.noteList > li:before {
  background-color: #4D4D4D;
}
.noteList > li span {
  color: #4D4D4D;
}

main .awardWall {
  margin-top: 3rem;
}
main .processBox .processBox__text .count {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.awardWall {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 3.2rem;
}
.awardWall > li {
  display: block;
  width: 2.8rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.8rem;
          flex: 0 0 2.8rem;
}
.awardWall > li .icon {
  display: block;
  width: 2.8rem;
  height: 6.9rem;
}
.awardWall > li .icon img {
  width: 100%;
}
.awardWall > li .venue {
  margin-top: 0.8rem;
  text-align: center;
  font-family: "Unbounded", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.14rem;
  color: #C9CACA;
}
.awardWall > li.is-active .venue {
  color: #003893;
}