
img {
    display: block;
}

//font styles
.serif {
    font-family: "Noto Serif TC", "思源宋體 TC", "思源宋體 TW", "思源宋體", serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ECE8E4;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    z-index: 100;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav {
        &__link {
            display: inline-block;
            padding: 12px 32px;
            border: 1px solid #000000;
            color: #000000;
            border-radius: 4px;
            background-color: #FFFFFF;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 2.5px;
        }
    }

    .hamburger {
        display: none;
    }

    .nav {

    }
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    
    @include laptops {
        padding: 0 75px;
    }
}