
img {
    display: block;
}

//font styles
.serif {
    font-family: "Noto Serif TC", "思源宋體 TC", "思源宋體 TW", "思源宋體", serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ECE8E4;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav {
        @include list-reset;
    }

    .hamburger {
        display: none;
    }

    .nav {

    }
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    
    @include laptops {
        padding: 0 75px;
    }
}