$path: '../images';

.fancyForm {
    &--text {
        border: none;
        @include fs(16);
        padding: 9px 12px;
        line-height: 1.25;
    }

    &--selectSearch {
        border: none;
        width: 100%;
        height: 100%;
        padding: 9px 8px;
    }
}


@media only screen and (min-width: 1200px) {
    .fancyForm {
        &--text {
            padding: 9px 12px;
        }
    
        &--selectSearch {
            padding: 9px 8px;
        }
    }
}