$path: '../images';

@mixin fs($value) {
    font-size: ($value/16)+rem;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tfoot, thead, th, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 微軟正黑體, Microsoft JhengHei;
}

img {
    display: block;
    width: 100%;
}

.outsourcing_header {
    background-color: $white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .header_logo {
        max-width: 150px;
        height: 60px;
        display: block;
    }

    .header_main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header_links {
        background-color: $java700;
        padding: 10px 15px;      

        .linkList {
            @include list-reset;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-end;
    
            & > li {
                margin: 0 10px;
    
                &:first-child {
                    margin-left: 0;
                }
    
                &:last-child {
                    margin-right: 0;
                }
    
                a {
                    display: block;
                    color: $white;
                    @include fs(15);
                    @include box-sizing(border-box);
                }
            }
        }
    }

    .header_tool {
        display: flex;
        align-items: center;

        .header_tool__item {
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }

        .fontSizeSelect {
            display: none;
        }

        .loginBtn {
            border: 1px solid $java700;
            border-radius: 24px;
            padding: 9px 29px;
            color: $java700;
            @include fs(16);
        }
    }

    .header_section {
        display: flex;
        align-items: center;
    }

    .header_search {
        display: none;
    }

    .searchWrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
        
        &__item {
            display: flex;

            select {
                width: 88px;
            }

            input[type="text"] {
                width: 206px;
            }
        }
        
        .select2 {
            border-radius: 4px 0 0 4px;
            border: 1px solid $black200;
        }
        .select2-container .select2-selection--single {
            height: 100%;
        }
        .select2-container--default .select2-selection--single {
            border: none;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 38px;
            padding-right: 27px;
            padding-left: 15px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 38px;
            top: 0;
            right: 0;
        }
        .select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
            border-radius: 4px 0 0 4px;
        }

        .fancyForm {
            border: 1px solid $black200;
            border-left: none;
        }
    }
}

.outsourcing_footer {
    position: relative;
    z-index: 10;

    .wrapper {
        display: flex;
        align-items: center;
    }

    &__powerby {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .label {
        }
        .logo {
        }
    }

    &__copyright {
        
    }

    &__nav {
    }
}

@media only screen and (min-width: 1200px) {
    .outsourcing_header {

        .header_links {
            padding: 0;
            position: absolute;
            right: 274px;
            top: 50%;
            background-color: transparent;
            @include translateY(-50%);

            .linkList {
        
                & > li {
    
                    a {
                        color: $black950;
                    }
                }
            }
        }
    
        .header_search {
            display: block;
            margin-left: 30px;
        }
    
        .header_main {
            padding: 8px 0;
        }

    }
}