@charset "UTF-8";
@import "utils/variables",
        "utils/mixin";
@import "widget/layout",
        "widget/form",
        "widget/button";
$path: '../images';


.outsourcing_body {
    background-color: #FAFAFA;

    h1 {
        font-size: 0;
    }

    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    .el-wrap {
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
        top: 0;
        z-index: -1;
        -webkit-animation: rotate360 60s ease infinite;
        animation: rotate360 60s ease infinite;
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;

        .circle {
            position: absolute;
            border-radius: 100%;
            height: 538px;
            width: 538px;
            opacity: .75;

            &.left {
                -webkit-animation: float-circle 25s ease-in infinite alternate;
                animation: float-circle 25s ease-in infinite alternate;
                background: rgb(207,248,245);
                background: radial-gradient(circle, rgba(207,248,245,1) 0%, rgba(250,250,250,0) 75%);
                bottom: -15%;
                left: 0;
                z-index: 0;
            }

            &.right {
                -webkit-animation: float-circle 25s ease-out infinite alternate-reverse;
                animation: float-circle 25s ease-out infinite alternate-reverse;
                background: rgb(255,244,133);
                background: radial-gradient(circle, rgba(255,244,133,1) 0%, rgba(250,250,250,0) 75%);
                bottom: -25%;
                right: -5%;
                z-index: 1;
            }
        }
    }
}

.outsourcing_main {
    position: relative;
    overflow: hidden;
    z-index: 5;
    padding-top: 20px;

    .section {
        position: relative;
        z-index: 5;

        &--kv {
            padding-bottom: 30px;

            .swiper-carousel {
                position: relative;
                padding: 0;
            }

            .swiper-slide {
                width: 100%;

                .image {
                    padding: 0 20px;
                }
                
                img {
                    border-radius: 10px;
                    overflow: hidden;
                }

                .textBox {
                    padding: 0 20px 5px;
                    margin-top: 10px;

                    &__content {
                        padding: 8.5px 10px;
                        border-radius: 5px;
                        background-color: $white;
                        box-shadow: -5px 5px 0px 0px $yellow;

                        p {
                            margin: 0;
                            color: $black950;
                            @include fs(22);
                            line-height: 1.3;
                            @include line-clamp(2);
                            min-height: 3.57rem;
                        }
                    }
                }
            }

            .swiper-pagination {
                width: 100%;
                left: 0;
                bottom: -30px;
                @include fs(0);
            }

            .swiper-pagination-bullet {
                margin: 0 2.5px;
                width: 5px;
                height: 5px;
                background-color: $black300;
                opacity: 1;
            }

            .swiper-pagination-bullet-active {
                background-color: $java600;
            }

            .buttonWrap {
                position: absolute;
                left: 50%;
                top: 50%;
                @include translate(-50%, -50%);
                z-index: 10;
                width: 100%;

                .wrapper {
                    display: flex;
                    justify-content: space-between;
                }

                .swiper-button-prev,
                .swiper-button-next {
                    position: relative;
                    margin-top: 0;
                    width: 40px;
                    height: 40px;
                    background-size: contain;
                }

                .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
                    left: 0;
                    background-image: url('#{$path}/arrow-slider_prev.svg');
                }

                .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
                    right: 0;
                    background-image: url('#{$path}/arrow-slider_next.svg');
                }
            }
        }

        &--services {

        }
    }
}


@media only screen and (min-width: 1200px) {
    .outsourcing_main {
        padding-top: 40px;

        .section {
            &--kv {
                padding-bottom: 45px;

                .swiper-carousel {

                    .image {
                        padding: 0;
                    }

                    .textBox {
                        display: none;
                    }
                }

                .swiper-slide {
                    width: 1140px !important;
                    border-radius: 20px;
                }

                .buttonWrap {
    
                    .swiper-button-prev,
                    .swiper-button-next {
                        width: 36px;
                        height: 36px;
                    }
    
                    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
                        left: 0;
                    }
    
                    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
                        right: 0;
                    }
                }

                .swiper-pagination {
                    bottom: -45px;
                }
            }
        }
    }
}

@-webkit-keyframes rotate360 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes rotate360 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes float-circle {
    0% {
        -webkit-transform: translateX(0) translateZ(0);
        transform: translateX(0) translateZ(0)
    }

    20% {
        -webkit-transform: translateX(120) translateZ(0);
        transform: translateX(120) translateZ(0)
    }

    40% {
        -webkit-transform: translateX(240) translateZ(0);
        transform: translateX(240) translateZ(0)
    }

    60% {
        -webkit-transform: translateX(360) translateZ(0);
        transform: translateX(360) translateZ(0)
    }

    80% {
        -webkit-transform: translateX(120) translateZ(0);
        transform: translateX(120) translateZ(0)
    }

    to {
        -webkit-transform: translateX(0) translateZ(0);
        transform: translateX(0) translateZ(0)
    }
}

@keyframes float-circle {
    0% {
        -webkit-transform: translateX(0) translateZ(0);
        transform: translateX(0) translateZ(0)
    }

    20% {
        -webkit-transform: translateX(120) translateZ(0);
        transform: translateX(120) translateZ(0)
    }

    40% {
        -webkit-transform: translateX(240) translateZ(0);
        transform: translateX(240) translateZ(0)
    }

    60% {
        -webkit-transform: translateX(360) translateZ(0);
        transform: translateX(360) translateZ(0)
    }

    80% {
        -webkit-transform: translateX(120) translateZ(0);
        transform: translateX(120) translateZ(0)
    }

    to {
        -webkit-transform: translateX(0) translateZ(0);
        transform: translateX(0) translateZ(0)
    }
}