@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');
@import 'variables';
@import 'mixin';
@import 'normalize';
@import 'layout';
@import 'button';

$path: '../images';

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.page {
	scroll-behavior: smooth;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.marquee {
	width: 100%;
	overflow: hidden;
	display: flex;
	background-color: $white;
	padding: rem(8) 0;

	.marquee__content {
		display: flex;
		flex-wrap: nowrap;
		white-space: nowrap;
		margin-right: rem(20);
		animation: marquee 40s linear infinite;

		&:last-child {
			margin-right: 0;
		}

		span {
			display: block;
			margin-right: rem(20);
			@include f-unbounded;
			font-size: rem(20);
			line-height: 1.4;
			font-weight: 500;

			&:last-child {
				margin-right: 0;
			}
		}

		.title {
			color: #717071;
		}

		.slogan {
			color: #5D97C4;
		}
	}
}

.openMenu {
	width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
	padding-top: rem(76);

	@include rwd-min(769px) {
		padding-top: rem(88);
	}
}

.opening {
	padding: 0;
	position: relative;
	background-color: #003A94;
	background-repeat: no-repeat;
	background-image: url('#{$path}/opening/layer_1-mb.svg');
	background-size: contain;

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 52%;
		z-index: 0;
		background: #3E555C;
		background: linear-gradient(0deg, rgba(62, 85, 92, 1) 0%, rgba(62, 85, 92, 0) 100%);
		mix-blend-mode: multiply;
	}

	@include rwd-min(769px) {
		background-image: url('#{$path}/opening/layer_1-pc.svg');
		background-size: contain;

		&:after {
			height: 35%;
		}
	}

	@include rwd-min(1281px) {
		background-size: cover;
	}

    .hero {
		position: relative;
		z-index: 5;
		display: flex;
		flex-direction: column-reverse;
		padding-top: rem(40);

		@include rwd-min(769px) {
			padding-top: rem(60);
		}

		&__wrap {
			&--layer2 {
				@include rwd-min(769px) {
					width: rem(560);
				}
			}
		}

        &__layer {

            &--1 {
				justify-self: center;
				margin-left: auto;
				margin-right: auto;
				padding: 0 rem(38);
				margin-top: rem(113);

				img {
					width: 100%;
				}

				@include rwd-min(769px) {
					margin-top: rem(80);
					padding: 0;
					width: rem(514);
				}
            }

            &--2 {

				img {
					width: 100%;
				}

				@include rwd-min(769px) {
					width: rem(560);
				}
            }
        }
    }

	.intro {
		position: relative;
		z-index: 5;
		padding-top: rem(107);
		padding-bottom: rem(107);

		@include rwd-min(769px) {
			padding-top: rem(150);
			padding-bottom: rem(216);
		}

		.intro__text {
			color: $white;
			margin-bottom: rem(20);
			margin-left: auto;
			margin-right: auto;

			&:last-child {
				margin-bottom: 0;
			}

			@include rwd-min(769px) {
				max-width: rem(789);
			}
		}
	}
}

.section {
	.section__title {
		text-align: center;
	}
}

.section--about {
	position: relative;
	z-index: 5;
	background-color: #F4E342;
	padding-bottom: rem(100);
	padding-top: rem(54);

	@include rwd-min(769px) {
		padding-top: rem(66);
	}

	.deco-curve {
		position: absolute;
		width: 100%;
		top: rem(-46);
		height: rem(129);
		overflow: hidden;
		z-index: 0;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			display: block;
			width: 108vw;
			height: rem(129);
			border-radius: 50%;
			background-color: #F4E342;
			@include translateX(-50%);
		}

		@include rwd-min(769px) {
			top: rem(-94);
			height: rem(267);

			&:before {
				width: 110vw;
				height: rem(267);
			}
		}
	}

	.container {
		position: relative;
		z-index: 5;
	}

	.sectionGroup {
		color: #4D4D4D;
		margin-bottom: rem(100);

		&:last-child {
			margin-bottom: 0;
		}

		&__title {
			text-align: center;
			margin-bottom: rem(40);
		}

		&__content {
			max-width: rem(780);
			margin: 0 auto;

			p {
				margin-bottom: rem(30);

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

.section--news {
	padding-top: rem(72);
	padding-bottom: rem(130);
	background-color: #5D97C4;
	background-image: url('#{$path}/deco-news.svg');
	background-repeat: repeat-x;
	background-position: left bottom;

	@include rwd-min(769px) {
		padding-top: rem(100);
	}

	.section__title {
		color: $white;
	}
}

.section--preview {
	position: relative;
	background-color: #5D97C4;

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: rem(550);
		bottom: rem(-110);
		background-image: url('#{$path}/deco-preview.svg');
	}

	@include rwd-min(769px) {
		&:after {
			bottom: rem(-40);
		}
	}

	.section__title {
		color: $white;
	}
}

.section--vi {
	background-image: url('#{$path}/bg-vi.png');
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@import 'language';