$topicclr: (topic1:#97DC02,
    topic2:#7492FF) !default;

$topicclr-info: (topic1:#7E10A5,
    topic2:#FF9F4C,
    topic3:#ECE77B) !default;

$topicimg: (topic1: "../images/topic1_img",
    topic2: "../images/topic2_img",
    topic3: "../images/topic3_img");

$topicimg-title: (topic1: "../images/topic1_peotit",
    topic2: "../images/topic2_peotit",
    topic3: "../images/topic3_peotit");

// Color system
$primary:#00D7D7;
$primary-alt: #f07aaa;
$primary-darken: #2B56C0;

$secondary:#E0D7CF;
$secondary-lighter: #ebebeb;
$secondary-alt: #ff4200;
$secondary-alt2: #f8cabb;

$warning:#ff4200;
$danger:#ff4200;
$info: #f07aaa;

$dark: #2d2d2d;
$light: #f4f4f4;

$ad-primary: #2b4793;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

//font size
$font-xs: 0.8rem;
$font-sm: 1.25rem;
$font-md: 1.5rem;
$font-lg: 2rem;

// Break point
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$border-width: 0.8px !default;
$border-color: $gray-300 !default;
$text-muted: $gray-600 !default;
// Tables

$table-color: $white !default;
$table-bg: null !default;

$table-border-width: $border-width !default;
$table-border-color: $border-color !default;

// animated
$cubic: cubic-bezier(0.64, 0.09, 0.08, 1);


//
$underline-color: $primary;
$gray-lighter: $gray-600;
$gray-normal: $gray-800;