// Body
$body-bg: #fff;

//color
$colors:(
    main: #ff973f,
    font-topic: #888,
    font-sub: #a0a0a0,
    font-article: #373737
);


@function color($color-name) {
    @return map-get($colors, $color-name);
}