@charset "UTF-8";
@import url("../fonts/didot_regular.ttf");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "utils/variables",
        "utils/mixin";
@import "normalize";
@import "widget/icon",
        "bootstrap/bootstrap-setting";

img {
    display: block;
    width: 100%;
}

//font styles
.didot {
    font-family: 'Didot', 'Didot LT STD';
}

h1, h2, h3, h4, h5, h6 ,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 1em;
    margin-bottom: 1em;

    @include laptops {
        font-weight: 500;
    }
}

h1, .h1 {
    font-size: 2.75rem;//44px

    @include laptops {
        font-size: 2.875rem;//46px
    }
}

h2, .h2 {
    font-size: 1.75rem;//28px

    @include laptops {
        font-size: 1.875rem;//30px
    }
}

h3, .h3 {
    font-size: 1.375rem;//22px

    @include laptops {
        font-size: 1.5rem;//24px
    }
}

h4, .h4 {
    font-size: 1.25rem;//20px

    @include laptops {
        font-size: 1.375rem;//22px
    }
}

h5, .h5 {
    font-size: 1.125rem;//18px

    @include laptops {
        font-size: 1.125rem;//18px
    }
}

h6, .h6 {
    font-size: 1rem;//16px
    @include laptops {
        font-size: 1rem;//16px
    }
}

// list styles
.upper-latin {
    list-style-type: upper-alpha;
}

.decimal {
    list-style-type: decimal;
}

.disc {
    list-style-type: disc;
}

.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
    }

    @include desktop {
        width: 1230px;
    }
}

.justify {
    &-start {
        justify-content: flex-start;
    }
    &-center {
        justify-content: center;
    }
    &-end {
        justify-content: flex-end;
    }
}

.row-reverse {
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

a,button {
    &.btn {
        display: table;
        border-width: 0;

        &.btn--disabled {
            color: #909090 !important;
            background-color: #dddddd !important;
            cursor: not-allowed !important;
        }

        &.btn--register {
            color: $font-black;
            background-color: $btn-register;
            font-weight: 500;

            &:hover {
                background-color: $btn-register-hover;
            }
        }

        &.btn--outlined {
            color: #909090;
            background-color: $white;
            border: 1px solid #909090;

            &:hover {
                color: $main;
                border-color: $main;
            }
        }

        &.btn--100 {
            width: 100%;
        }

        &.btn--standard {
            padding: 10px 18px;
            font-size: 1rem;
        }

        &.btn--large {
            padding: 10px 30px;
            font-size: 1rem;
        }

        &.btn--agenda {
            color: $font-black;
            background-color: $sub;
            font-weight: 500;

            &:hover {
                background-color: $sub;
            }
        }
    }

    .icon {
        display: inline-block;
        vertical-align: middle;
    }
}

.fixedTool {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $main;
    border-top: 1px solid $white;
    z-index: 999;
}

.section {

    &__title {
    }
    
    &__content {

    }
}

.kv {
    @include mobile {
        min-height: 100vh;
        padding-top: 65px;
        padding-bottom: 155px;
    }
    @include laptops {
        min-height: auto;
        padding-top: 225px;
        padding-bottom: 0;
    }

    .wrapper {
        position: relative;


        @include mobile {
            padding: 0 25px;
        }

        @include laptops {
            padding: 0 60px; 
        }
    }

    &__main {
        position: relative;
        display: inline-block;
        width: 100%;
        bottom: 0;
        
        &:before {
            content: '';
            position: relative;
            z-index: 1;
            display: block;
            background-color: $bg-main;

            @include mobile {
                padding-top: (375/332)*100%;
            }
            @include laptops {
                height: auto;
                padding-top: (770/1110)*100%;
            }
        }


        .media {
            position: absolute;
            z-index: 5;
            
            @include mobile {
                width: calc(100% - 20px);
                left: 20px;
                bottom: -50%;
            }
            
            @include laptops {
                width: auto;
                bottom: 86px;
                left: 50px;
            }
        }

        .text {
            display: inline-block;
            position: absolute;
            z-index: 5;

            @include mobile {
                left: 20px;
                top: 25px;
                text-align: left;
            }

            @include laptops {
                top: auto;
                left: auto;
                right: 70px;
                bottom: 70px;
                text-align: right;
            }

            .logo {
                display: inline-block;
            }

            .logoCH {
                display: inline-block;
                margin: 0 0 20px;

                @include mobile {
                    width: 50%;
                }
                @include laptops {
                    width: 260px;
                }
            }

            .logoEN {
                line-height: 1;
                margin: 0;
                color: $main;

                @include mobile {
                    font-size: 40px;
                }

                @include laptops {
                    font-size: 82px;
                }
            }

            .slogan {
                position: relative;
                line-height: 1;
                margin: 0;
                
                @include mobile {
                    font-size: 12px;
                    text-align: right;
                }

                @include laptops {
                    font-size: 22px;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $sub;
                    position: absolute;
                    z-index: 5;
                    top: 50%;
                    @include translateY(-50%);
                }

                &__txt {
                    position: relative;
                    z-index: 10;
                    display: inline-block;
                    color: $sub;
                    background-color: $bg-main;
                    padding-left: 5px;
                }
            }
        }
    }
}

.card {
    display: inline-block;
    position: relative;

    &--kv {
        @include mobile {
            width: 100%;
        }

        .card__front,
        .card__back {
            &:before {
                content: '';
                display: block;
                padding-top: (400/300)*100%;
            }
        }

        .card__front {
            z-index: 10;

            @include mobile {
                width: (150/250)*100%;
            }
            @include laptops {
                width: 333px;
            }
        }

        .card__back {
            z-index: 5;
            position: absolute;
            background-color: $bg-light;

            @include mobile {
                width: (150/250)*100%;
                top: -17%;
                left: 23%;
            }

            @include laptops {
                width: 300px;
                top: -169px;
                left: 275px;
            }
        }
    }
    
    &__front {
        display: inline-block;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__back {
    }
}

/*# sourceMappingURL=style.css.map */