@charset "UTF-8";
@import url("../fonts/didot_regular.ttf");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "utils/variables",
        "utils/mixin";
@import "normalize";
@import "widget/icon",
        "widget/slider",
        "bootstrap/bootstrap-setting";

img {
    display: block;
    width: 100%;
}

//font styles
.didot {
    font-family: 'Didot', 'Didot LT STD';
}

h1, h2, h3, h4, h5, h6 ,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 1em;
    margin-bottom: 1em;

    @include desktop {
        font-weight: 500;
    }
}

h1, .h1 {
    font-size: 2.75rem;//44px

    @include desktop {
        font-size: 2.875rem;//46px
    }
}

h2, .h2 {
    font-size: 1.75rem;//28px

    @include desktop {
        font-size: 1.875rem;//30px
    }
}

h3, .h3 {
    font-size: 1.375rem;//22px

    @include desktop {
        font-size: 1.5rem;//24px
    }
}

h4, .h4 {
    font-size: 1.25rem;//20px

    @include desktop {
        font-size: 1.375rem;//22px
    }
}

h5, .h5 {
    font-size: 1.125rem;//18px

    @include desktop {
        font-size: 1.125rem;//18px
    }
}

h6, .h6 {
    font-size: 1rem;//16px
    @include desktop {
        font-size: 1rem;//16px
    }
}

// list styles
.upper-latin {
    list-style-type: upper-alpha;
}

.decimal {
    list-style-type: decimal;
}

.disc {
    list-style-type: disc;
}

.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
    }

    @include laptops {
        width: 992px;
    }

    @include desktop {
        width: 1230px;
    }
}

.justify {
    &-start {
        justify-content: flex-start;
    }
    &-center {
        justify-content: center;
    }
    &-end {
        justify-content: flex-end;
    }
}

.row-reverse {
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

a,button {
    &.btn {
        display: table;
        border-width: 0;

        &.btn--disabled {
            color: #909090 !important;
            background-color: #dddddd !important;
            cursor: not-allowed !important;
        }

        &.btn--register {
            color: $font-black;
            background-color: $btn-register;
            font-weight: 500;

            &:hover {
                background-color: $btn-register-hover;
            }
        }

        &.btn--outlined {
            color: #909090;
            background-color: $white;
            border: 1px solid #909090;

            &:hover {
                color: $main;
                border-color: $main;
            }
        }

        &.btn--100 {
            width: 100%;
        }

        &.btn--standard {
            padding: 10px 18px;
            font-size: 1rem;
        }

        &.btn--large {
            padding: 10px 30px;
            font-size: 1rem;
        }

        &.btn--agenda {
            color: $font-black;
            background-color: $sub;
            font-weight: 500;

            &:hover {
                background-color: $sub;
            }
        }
    }

    .icon {
        display: inline-block;
        vertical-align: middle;
    }
}

.fixedTool {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $main;
    border-top: 1px solid $white;
    z-index: 999;
}

.section {

    &__title {
    }
    
    &__content {

    }
}

.kv {
    @include mobile {
        padding-top: 65px;
        padding-bottom: 60%;
    }

    @include laptops {
        padding-top: 165px;
        padding-bottom: 0;
    }

    @include desktop {
        padding-top: 225px;
        padding-bottom: 0;
    }

    .wrapper {
        position: relative;

        @include mobile {
            padding: 0 25px;
        }

        @include laptops {
            padding: 0 40px;
        }

        @include desktop {
            padding: 0 60px; 
        }
    }

    &__main {
        position: relative;
        width: 100%;
        bottom: 0;
        
        &:before {
            content: '';
            position: relative;
            z-index: 1;
            display: block;
            background-color: $bg-main;

            @include mobile {
                padding-top: (375/332)*100%;
            }

            @include laptops {
                height: auto;
                padding-top: (770/1110)*100%;
            }
        }

        .media {
            position: absolute;
            z-index: 5;
            
            @include mobile {
                width: calc(100% - 20px);
                left: 20px;
                bottom: -50%;
            }

            @include pad {
                bottom: -30%;
            }
            
            @include laptops {
                width: auto;
                bottom: 86px;
                left: 50px;
            }
        }

        .text {
            display: inline-block;
            position: absolute;
            z-index: 5;

            @include mobile {
                left: 20px;
                top: 25px;
                text-align: left;
            }

            @include laptops {
                top: auto;
                left: auto;
                right: 70px;
                bottom: 70px;
                text-align: right;
            }

            .logo {
                display: inline-block;
            }

            .logoCH {
                display: inline-block;
                margin: 0 0 20px;

                @include mobile {
                    width: 50%;
                }
                @include laptops {
                    width: 200px;
                }

                @include desktop {
                    width: 260px;
                }
            }

            .logoEN {
                line-height: 1;
                margin: 0;
                color: $main;

                @include mobile {
                    font-size: 40px;
                }

                @include laptops {
                    font-size: 60px;
                }

                @include desktop {
                    font-size: 82px;
                }
            }

            .slogan {
                position: relative;
                line-height: 1;
                margin: 0;
                
                @include mobile {
                    font-size: 12px;
                    text-align: right;
                }

                @include desktop {
                    font-size: 18px;
                }

                @include desktop {
                    font-size: 22px;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $sub;
                    position: absolute;
                    z-index: 5;
                    top: 50%;
                    @include translateY(-50%);
                }

                &__txt {
                    position: relative;
                    z-index: 10;
                    display: inline-block;
                    color: $sub;
                    background-color: $bg-main;
                    padding-left: 5px;
                }
            }
        }
    }
}

.card {
    display: inline-block;
    position: relative;

    &--kv {
        @include mobile {
            width: 100%;
        }

        .card__front,
        .card__back {
            &:before {
                content: '';
                display: block;
                padding-top: (400/300)*100%;
            }
        }

        .card__front {
            z-index: 10;

            @include mobile {
                width: (150/250)*100%;
            }

            @include laptops {
                width: 270px;
            }

            @include desktop {
                width: 333px;
            }
        }

        .card__back {
            z-index: 5;
            position: absolute;
            background-color: $bg-light;

            @include mobile {
                width: (150/250)*100%;
                top: -17%;
                left: 23%;
            }

            @include laptops {
                width: 270px;
                top: -100px;
                left: 95px;
            }

            @include desktop {
                width: 300px;
                top: -169px;
                left: 275px;
            }
        }
    }
    
    &__front {
        display: inline-block;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__back {
    }
}

.comments {
    background-color: $bg-light;

    @include mobile {
        padding: 25px 0 80px;
    }

    @include pad {
        padding: 90px 0;
    }

    .wrapper {
        position: relative;

        @include mobile {
            padding: 0 25px;
        }

        @include laptops {
            padding: 0 40px;
        }

        @include desktop {
            padding: 0 24px; 
        }
    }

    .slides {
        padding: 0 25px;
    }
}

.commentItem {
    padding: 12px 8px;
    border: 1px solid #B0AFB6;

    &__head {
        .media {
            display: inline-block;
            vertical-align: middle;
            background-color: #B7B7BE;
            border-radius: 50%;
            width: 48px;
            height: 48px;
            text-align: center;
            span {
                color: $white;
                line-height: 48px;
                font-size: 24px;
            }
        }
        .text {
            display: inline-block;
            vertical-align: middle;

            &__name {
                color: $main;
                font-size: 26px;
            }

            &__rank {
                line-height: 1;

                span {
                    display: inline-block;
                    margin-right: 3px;
                    width: 16px;
                    height: 16px;
                    background-image: url('../images/deco-rank.png');
                    background-repeat: no-repeat;
                    background-size: 16px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &__body {
        span {
            @include mobile {
                display: inline;
            }

            @include pad {
                display: block;
            }
        }

        p {
            color: $sub;
            font-size: 15px;
            font-weight: lighter;
            margin: 30px 0 0;
            min-height: 15px*1.6*6;
        }
    }
}

.staff {
    @include mobile {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    @include pad {
        padding-bottom: 110px;
    }

    @include laptops {
        padding-top: 130px;
        padding-bottom: 190px;
    }

    @include desktop {
        padding-bottom: 130px;
    }

    .wrapper {
        position: relative;

        @include mobile {
            padding: 0 25px;
        }

        @include laptops {
            padding: 0 40px;
        }

        @include desktop {
            padding: 0 60px; 
        }
    }

    .teacher {
        &:last-child {
            margin-bottom: 0;
        }

        @include mobile {
            margin-bottom: 30%;
        }

        @include laptops {
            margin-bottom: 10%;
        }
    
        @include desktop {
            margin-bottom: 130px;
        }
    }
}

.teacher {
    @include clearfix;
    position: relative;

    &__media {
        position: relative;
        z-index: 10;

        @include mobile {
            width: 62%;
        }

        @include laptops {
            width: 528px;
        }

        &--left {
            float: left;
        }

        &--right {
            float: right;
            
            @include mobile {
                position: relative;
            }

            @include desktop {
                position: static;
            }
        }

        .dialog{
            text-align: center;

            &__line {
                position: relative;
                background-color: $main;

                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: $white;
                    border: 1px solid $main;
                    border-radius: 50%;
                }
            }

            &__content {
                display: inline-block;
                background-color: $main;

                @include mobile {
                    padding: 10px 50px;
                }

                @include laptops {
                    padding: 20px 120px;
                }

                & > span {
                    color: $white;

                    @include mobile {
                        font-size: 16px;
                    }

                    @include laptops {
                        font-size: 32px;
                    }
                }
            }

            &--fixed {

                .dialog__line {
                    margin: -5px auto 0;
                    width: 1px;

                    @include mobile {
                        height: 25px;
                    }
                    
                    @include desktop {
                        height: 55px;
                    }

                    &:before {
                        top: 0;
                        left: 50%;
                        margin-left: -5px;
                    }
                }
            }

            &--reverse {

                @include desktop {
                    position: absolute;
                    left: 20px;
                    z-index: 10;
                    bottom: 165px;
                }

                .dialog__line {
                    vertical-align: middle;
                    margin: -5px auto 0;

                    &.sp {
                        @include mobile {
                            display: block;
                        }
                        @include desktop {
                            display: none;
                        }
                    }

                    &.pc {
                        @include mobile {
                            display: none;
                        }
                        @include desktop {
                            display: inline-block;
                        }
                    }
                    
                    @include mobile {
                        width: 1px;
                        height: 25px;
                    }
                    
                    @include desktop {
                        display: inline-block;
                        width: 255px;
                        height: 1px;
                        margin-left: -5px;
                    }

                    &:before {

                        @include mobile {
                            top: 0;
                            left: 50%;
                            margin-left: -5px;
                        }

                        @include desktop {
                            top: 50%;
                            left: auto;
                            margin-left: 0;
                            margin-top: -5px;
                            right: -5px;
                        }
                    }
                }
            }
        }
    }

    &__text {
        z-index: 5;

        @include mobile {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }

        @include desktop {
            width: auto;
            float: left;
            position: relative;
        }

        .top {
            @include laptops {
                padding-left: 0;
                margin-top: 30px;
                margin-bottom: 55px;
            }

            .name {
                font-weight: lighter;
                line-height: 1;
                color: $sub;
                margin: 0;

                @include mobile {
                    font-size: 28px;
                    display: block;
                }
                @include laptops {
                    font-size: 84px;
                    display: inline-block;
                }

                span {
                    @include mobile {
                        display: block;
                    }

                    @include desktop {
                        display: inline;
                    }
                }
            }

            .title {
                font-weight: lighter;
                line-height: 1;
                color: $main;
                margin: 0;

                @include mobile {
                    font-size: 12px;
                    display: block;
                    margin-top: 10px;
                }
                @include laptops {
                    font-size: 32px;
                    display: inline-block;
                    margin-top: 0;
                    margin-left: 24px;
                }
            }
        }

        .body {
            position: relative;

            &:before {
                content: '';
                background-color: #CCCCD0;

                @include mobile {
                    display: inline-block;
                    width: 64%;
                    padding-top: 90%;
                }

                @include laptops {
                    padding-top: 70%;
                }

                @include desktop {
                    display: block;
                    width: auto;
                    padding-top: (451/348)*100%;
                }
            }

            @include mobile {
                margin-top: 20px;
            }

            @include desktop {
                margin-top: 0;
                width: 540px;
                text-align: left;
            }

            p {
                position: absolute;

                @include mobile {
                    text-align: left;
                    top: 20px;
                    font-size: 12px;
                }

                @include laptops {
                    top: 130px;
                    font-size: 20px;
                }
            }
        }

        &--right {
            .top {
                @include mobile {
                    padding-left: 64%;
                }

                @include desktop {
                    padding-left: 40px;
                }
            }

            .body {
                @include mobile {
                    text-align: right;
                }

                @include desktop {
                    margin-left: -235px;
                }

                p {
                    @include mobile {
                        left: 64%;
                    }

                    @include desktop {
                        left: 270px;
                    }
                }
            }
        }

        &--left {
            .top {
                @include mobile {
                    padding-right: 64%;
                }
                @include desktop {
                    padding-right: 0;
                }
            }

            .body {
                @include mobile {
                    text-align: left;
                }

                p {
                    @include mobile {
                        right: 64%;
                        text-align: right;
                    }

                    @include desktop {
                        right: auto;
                        left: 20px;
                        text-align: left;
                    }
                }
            }
        }
    }
}

.categories {
    background-color: $bg-main;

    @include mobile {
        padding: 30px 0;
    }

    @include laptops {
        padding: 90px 0;
    }

    .wrapper {
        position: relative;

        @include mobile {
            padding: 0 25px;
        }

        @include laptops {
            padding: 0 40px;
        }

        @include desktop {
            padding: 0 60px; 
        }
    }

    .section__title {
        @include mobile {
            margin-bottom: 30px;
        }

        @include laptops {
            margin-bottom: 70px;
        }

        .text {
            color: $sub;
            line-height: 1;

            @include mobile {
                font-size: 28px;
            }
            @include laptops {
                font-size: 84px;
            }
        }
    }

    .section__content {
        margin-left: auto;
        margin-right: auto;

        @include mobile {
            padding-left: 25px;
        }

        @include laptops {
            width: 992px;
            padding-left: 0;
        }

        @include desktop {
            width: 1100px;
        }
    }
}

.categoryGroup {
    .category {
        @include mobile {
            margin-bottom: 40px;
        }
        @include laptops {
            margin-bottom: 100px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.category {

    &__main {
        background-color: $white;
        
        @include mobile {
            padding: 20px;
        }

        @include laptops {
            padding: 70px 40px;
        }
    }

    &__head {
        margin-bottom: 20px;
        @include mobile {
        }
    }
    &__body {
        position: relative;
        @include clearfix;
    }

    &__name {
        color: $main;

        & > .en,
        & > .ch {
            line-height: 1;

            @include mobile {
                display: block;
            }

            @include laptops {
                display: inline-block;
                vertical-align: baseline;
            }
        }

        & > .en {
            @include mobile {
                font-size: 26px;
                margin-bottom: 10px;
            }
            @include laptops {
                font-size: 52px;
                margin-bottom: 0;
                margin-right: 5px;
            }
        }

        & > .ch {
            @include mobile {
                font-size: 16px;
            }
            @include laptops {
                font-size: 32px;
            }
        }
    }

    &__intro {
        color: #694e3d;
        @include clearfix;

        .paragraph {
            @include mobile {
                margin-bottom: 20px;
                font-size: 12px;
            }
            @include laptops {
                float: left;
                width: 60%;
                font-size: 22px;
                margin-bottom: 0;
                margin-top: 20px;
            }
        }

        .feature {
            @include list-reset;

            @include laptops {
                float: left;
                width: 40%;
                padding-left: 20px;
                margin-top: 20px;
            }
            
            & > li {
                @include mobile {
                    font-size: 12px;
                }
                @include laptops {
                    font-size: 22px;
                }

                .label {
                    display: inline-block;
                    vertical-align: top;

                    &:first-child {
                        margin-right: 6px;
                    }

                    & > span {
                        @include mobile {
                            display: inline;
                        }
                        @include laptops {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &__table {
        @include mobile {
            width: 100%;
            font-size: 11px;
            margin-bottom: 10px;
        }

        @include laptops {
            float: left;
            width: 73%;
            font-size: 20px;
            margin-bottom: 0;
        }

        thead {
            background-color: $sub;

            th {
                padding: 10px 5px;
                color: $white;
                text-align: center;

                &.narrative {
                    text-align: left;
                }
            }
        }

        tbody {
            tr {
                &:nth-child(odd) {
                    background-color: $white;
                }
                &:nth-child(even) {
                    background-color: $bg-light;
                }

                td {
                    color: #694e3d;
                    padding: 10px 5px;
                    text-align: center;

                    &.narrative {
                        text-align: left;
                    }

                    .cv {

                        @include mobile {
                            font-size: 10px;
                        }
                        
                        @include laptops {
                            font-size: 15px;
                        }
                    }
                }

                &.best {
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        top: 50%;
                        background-image: url('../images/deco-best.png');
                        @include translateY(-50%);
                        
                        @include mobile {
                            width: 29px;
                            height: 13px;
                            left: -25px;
                            background-size: 29px 13px;
                        }
                        @include laptops {
                            left: -53px;
                            width: 58px;
                            height: 25px;
                            background-size: 58px 25px;
                        }
                    }
                }
            }
        }
    }

    &__image {
        @include mobile {
            width: 75%;
            position: absolute;
            z-index: 15;
        }

        @include pad {
            width: 55%;
        }

        @include laptops {
            position: relative;
            float: right;
            width: 27%;
            @include translateX(40px);
        }

        @include desktop {
            @include translateX(100px);
        }
    }

    &__foot {
        @include clearfix;
        position: relative;

        @include mobile {
            &:before {
                content: '';
                display: block;
                width: 66%;
                padding-top: 75%;
            }
        }

        @include pad {
            &:before {
                padding-top: 60%;
            }
        }

        @include laptops {
            &:before {
                display: none;
            }
        }
        
        .enName {
            position: relative;
            z-index: 10;
            background-color: $bg-main;

            span {
                color: $white;
                @include mobile {
                    display: block;
                }
                @include laptops {
                    display: inline;
                }
            }
            
            @include mobile {
                font-size: 18px;
                writing-mode: vertical-rl;
                text-orientation: mixed;
                position: absolute;
                top: 20px;
                right: 25px;
                line-height: 0.8;
            }

            @include pad {
                font-size: 38px;
            }

            @include laptops {
                float: left;
                font-size: 36px;
                writing-mode: horizontal-tb;
                padding-right: 10px;
                position: relative;
                top: auto;
                right: auto;
                line-height: 1;
                margin-top: 10px;
            }
        }

        .chName {
            position: relative;

            @include laptops {
                position: absolute;
                z-index: 5;
                width: 100%;
                right: 0;
                text-align: right;
                @include translate(10px, -10%);
            }

            @include desktop {
                @include translate(60px, -10%);
            }

            .line {
                position: absolute;
                top: 50%;
                width: 100%;
                height: 1px;
                background-color: $main;
                @include translateY(-50%);
            }
    
            .characteristic {
                position: relative;
                display: inline-block;
                background-color: $main;
    
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: $white;
                    border: 1px solid $main;
                    border-radius: 50%;
                    top: 50%;
                    margin-top: -5px;
                }
    
                @include mobile {
                    padding: 10px 50px;

                    &:before {
                        display: none;
                    }
    
                    &:after {
                        display: inline-block;
                        right: -5px;
                    }
                }
    
                @include laptops {
                    padding: 10px 95px;
    
                    &:before {
                        display: inline-block;
                        left: -5px;
                    }
    
                    &:after {
                        display: none;
                    }
                }
    
                & > span {
                    color: $white;
    
                    @include mobile {
                        font-size: 16px;
                    }
    
                    @include laptops {
                        font-size: 32px;
                    }
                }
            }
        }
    }
}

.services {
    background-color: $bg-main;

    @include mobile {
        padding: 10px 0 30px 25px;
    }

    @include laptops {
        padding: 0 0 90px;
    }
}

.serviceGroup {
    @include clearfix;
    overflow: hidden;
    @include list-reset;

    @include mobile {
    }

    @include laptops {
        margin: 0 -10px;
    }

    & > li {
        @include mobile {
            margin-bottom: 20px;
        }

        @include laptops {
            float: left;
            width: 50%;
            margin-bottom: 0;
            padding: 0 10px;
        }
    }
}

.service {
    background-color: #fff;

    @include mobile {
        padding: 25px 20px;
    }
    @include laptops {
        padding: 50px 40px;
    }
    &__title {

        .ch,
        .en {
            display: block;
            line-height: 1;
        }
        
        .ch {
            color: $sub;
            padding-bottom: 5px;
            border-bottom: 2px solid $sub;

            @include mobile {
                font-size: 16px;
            }

            @include laptops {
                font-size: 32px;
            }
        }
        .en {
            color: $main;
            padding-top: 5px;

            @include mobile {
                font-size: 17px;
            }
            
            @include laptops {
                font-size: 34px;
            }
        }
    }

    &__table {
        margin-top: 20px;
        width: 100%;

        tbody {
            tr {
                &:nth-child(odd) {
                    background-color: $white;
                }
                &:nth-child(even) {
                    background-color: $bg-light;
                }

                td {
                    width: 50%;
                    color: $sub;
                    padding: 10px 5px;
                    text-align: left;

                    .cv {

                        @include mobile {
                            font-size: 10px;
                        }
                        
                        @include laptops {
                            font-size: 15px;
                        }
                    }

                    .value {
                        & > span {
                            font-family: 'Didot', 'Didot LT STD';
                        }
                    }
                }
            }
        }
    }
}

.about {
    @include mobile {}

    @include pad {
        @include clearfix;
    }

    &__media {
        @include pad {
            float: left;
            width: 48%;
        }
    }

    &__text {
        position: relative;
        background-color: $bg-light;

        @include pad {
            float: right;
            width: 52%;
            
            &:before {
                content: '';
                display: block;
                width: 100%;
                padding-top: (916/744)*100%;
            }
        }

        .title {
            color: $main;
            margin: 0;
            text-align: center;

            @include mobile {
                @include translateY(-45px);
            }

            @include pad {
                position: absolute;
                top: 0;
                left: -55px;
                @include translateY(0);
            }

            @include laptops {
                left: -80px;
            }

            &__text {
                @include mobile {
                    font-size: 32px;
                }

                @include pad {
                    font-size: 56px;
                }

                @include laptops {
                    font-size: 82px;
                }
            }

            &__line {
                position: relative;
                background-color: $main;

                @include mobile {
                    display: inline-block;
                    width: 1px;
                    height: 65px;
                }

                @include pad {
                    display: none;
                }

                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: $white;
                    border: 1px solid $main;
                    border-radius: 50%;
                    left: 50%;
                    margin-left: -5px;
                }
            }
        }

        .paragraph {
            color: $sub;

            @include mobile {
                font-size: 10px;
                text-align: center;
                position: relative;
                top: -45px;
            }

            @include pad {
                position: absolute;
                text-align: left;
                font-size: 14px;
                top: 50%;
                left: 60px;
                padding-right: 20px;
                @include translateY(-50%);
            }

            @include laptops {
                padding-right: 0;
                font-size: 20px;
            }
        }

        .story {

            @include mobile {
                text-align: center;
                position: relative;
                top: -30px;
            }
            
            @include pad {
                position: absolute;
                width: calc(100% - 60px);
                left: 60px;
                bottom: 20px;
                top: auto;
            }

            @include laptops {
                bottom: 60px;
            }

            &__line {
                position: absolute;
                z-index: 5;
                background-color: $main;

                @include mobile {
                    display: none;
                }
                @include pad {
                    display: block;
                    width: 100%;
                    height: 1px;
                    top: 50%;
                    @include translateY(-50%);

                    &:after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        background-color: $white;
                        border: 1px solid $main;
                        border-radius: 50%;
                        right: 0;
                        top: 50%;
                        margin-top: -5px;
                    }
                }
            }

            &__dialog {
                display: inline-block;
                position:relative;
                z-index: 5;
                background-color: $main;

                @include mobile {
                    padding: 10px 50px;
                }

                @include laptops {
                    padding: 20px 120px;
                }

                & > span {
                    color: $white;

                    @include mobile {
                        font-size: 16px;
                    }

                    @include laptops {
                        font-size: 32px;
                    }
                }
            }
        }
    }
}

.maintenance {

    .wrapper {
        position: relative;

        @include mobile {
            padding: 0 25px;
        }

        @include laptops {
            padding: 0 40px;
        }

        @include desktop {
            padding: 0 60px; 
        }
    }

    .section__title {
        @include mobile {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        @include laptops {
            margin-bottom: 70px;
        }

        .text {
            color: $sub;
            line-height: 1;

            @include mobile {
                font-size: 28px;
            }
            @include laptops {
                font-size: 84px;
            }
        }
    }
    
    .section__content {
        margin-left: auto;
        margin-right: auto;

        @include laptops {
            width: 992px;
            padding-left: 0;
        }

        @include desktop {
            width: 1100px;
        }
    }
}

.maintain {
    background-color: $sub;

    @include mobile {
        padding: 30px 25px;
    }

    @include laptops {
        padding: 70px 40px;
    }

    &__list {
        @include list-reset;
        padding: 0 20px;

        .item {
            @include clearfix;

            @include mobile {
                margin-bottom: 30px;
            }
            @include laptops {
                margin-bottom: 60px;
            }

            &__media {
                float: left;

                @include mobile {
                    width: 60px;
                }
                @include laptops {
                    width: 125px;
                }
            }

            &__text {
                float: left;
                color: $white;
                
                @include mobile {
                    padding-left: 10px;
                    width: calc(100% - 60px);
                }

                @include laptops {
                    padding-left: 20px;
                    width: calc(100% - 125px);
                }

                .title {
                    letter-spacing: 2px;

                    @include mobile {
                        font-size: 16px;
                    }

                    @include laptops {
                        font-size: 32px;
                    }
                }

                .content {
                    letter-spacing: 1px;

                    @include mobile {
                        font-size: 10px;
                    }

                    @include laptops {
                        font-size: 20px;
                    }

                    & > span {
                        color: $main;
                        background-color: $white;
                    }
                }
            }
        }
    }
}
/*# sourceMappingURL=style.css.map */