@charset "UTF-8";
@import url("../fonts/didot_regular.ttf");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "utils/variables",
        "utils/mixin";
@import "normalize";
@import "widget/icon",
        "bootstrap/bootstrap-setting";

img {
    display: block;
    width: 100%;
}

//font styles
.didot {
    font-family: 'Didot', 'Didot LT STD';
}

h1, h2, h3, h4, h5, h6 ,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 1em;
    margin-bottom: 1em;

    @include desktop {
        font-weight: 500;
    }
}

h1, .h1 {
    font-size: 2.75rem;//44px

    @include desktop {
        font-size: 2.875rem;//46px
    }
}

h2, .h2 {
    font-size: 1.75rem;//28px

    @include desktop {
        font-size: 1.875rem;//30px
    }
}

h3, .h3 {
    font-size: 1.375rem;//22px

    @include desktop {
        font-size: 1.5rem;//24px
    }
}

h4, .h4 {
    font-size: 1.25rem;//20px

    @include desktop {
        font-size: 1.375rem;//22px
    }
}

h5, .h5 {
    font-size: 1.125rem;//18px

    @include desktop {
        font-size: 1.125rem;//18px
    }
}

h6, .h6 {
    font-size: 1rem;//16px
    @include desktop {
        font-size: 1rem;//16px
    }
}

// list styles
.upper-latin {
    list-style-type: upper-alpha;
}

.decimal {
    list-style-type: decimal;
}

.disc {
    list-style-type: disc;
}

.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
    }

    @include laptops {
        width: 992px;
    }

    @include desktop {
        width: 1230px;
    }
}

.justify {
    &-start {
        justify-content: flex-start;
    }
    &-center {
        justify-content: center;
    }
    &-end {
        justify-content: flex-end;
    }
}

.row-reverse {
    flex-direction: row-reverse;
}

.align-center {
    align-items: center;
}

a,button {
    &.btn {
        display: table;
        border-width: 0;

        &.btn--disabled {
            color: #909090 !important;
            background-color: #dddddd !important;
            cursor: not-allowed !important;
        }

        &.btn--register {
            color: $font-black;
            background-color: $btn-register;
            font-weight: 500;

            &:hover {
                background-color: $btn-register-hover;
            }
        }

        &.btn--outlined {
            color: #909090;
            background-color: $white;
            border: 1px solid #909090;

            &:hover {
                color: $main;
                border-color: $main;
            }
        }

        &.btn--100 {
            width: 100%;
        }

        &.btn--standard {
            padding: 10px 18px;
            font-size: 1rem;
        }

        &.btn--large {
            padding: 10px 30px;
            font-size: 1rem;
        }

        &.btn--agenda {
            color: $font-black;
            background-color: $sub;
            font-weight: 500;

            &:hover {
                background-color: $sub;
            }
        }
    }

    .icon {
        display: inline-block;
        vertical-align: middle;
    }
}

.fixedTool {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $main;
    border-top: 1px solid $white;
    z-index: 999;
}

.section {

    &__title {
    }
    
    &__content {

    }
}

.kv {
    @include mobile {
        padding-top: 65px;
        padding-bottom: 60%;
    }

    @include laptops {
        padding-top: 165px;
        padding-bottom: 0;
    }

    @include desktop {
        padding-top: 225px;
        padding-bottom: 0;
    }

    .wrapper {
        position: relative;

        @include mobile {
            padding: 0 25px;
        }

        @include laptops {
            padding: 0 40px;
        }

        @include desktop {
            padding: 0 60px; 
        }
    }

    &__main {
        position: relative;
        width: 100%;
        bottom: 0;
        
        &:before {
            content: '';
            position: relative;
            z-index: 1;
            display: block;
            background-color: $bg-main;

            @include mobile {
                padding-top: (375/332)*100%;
            }

            @include laptops {
                height: auto;
                padding-top: (770/1110)*100%;
            }
        }

        .media {
            position: absolute;
            z-index: 5;
            
            @include mobile {
                width: calc(100% - 20px);
                left: 20px;
                bottom: -50%;
            }

            @include pad {
                bottom: -30%;
            }
            
            @include laptops {
                width: auto;
                bottom: 86px;
                left: 50px;
            }
        }

        .text {
            display: inline-block;
            position: absolute;
            z-index: 5;

            @include mobile {
                left: 20px;
                top: 25px;
                text-align: left;
            }

            @include laptops {
                top: auto;
                left: auto;
                right: 70px;
                bottom: 70px;
                text-align: right;
            }

            .logo {
                display: inline-block;
            }

            .logoCH {
                display: inline-block;
                margin: 0 0 20px;

                @include mobile {
                    width: 50%;
                }
                @include laptops {
                    width: 200px;
                }

                @include desktop {
                    width: 260px;
                }
            }

            .logoEN {
                line-height: 1;
                margin: 0;
                color: $main;

                @include mobile {
                    font-size: 40px;
                }

                @include laptops {
                    font-size: 60px;
                }

                @include desktop {
                    font-size: 82px;
                }
            }

            .slogan {
                position: relative;
                line-height: 1;
                margin: 0;
                
                @include mobile {
                    font-size: 12px;
                    text-align: right;
                }

                @include desktop {
                    font-size: 18px;
                }

                @include desktop {
                    font-size: 22px;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $sub;
                    position: absolute;
                    z-index: 5;
                    top: 50%;
                    @include translateY(-50%);
                }

                &__txt {
                    position: relative;
                    z-index: 10;
                    display: inline-block;
                    color: $sub;
                    background-color: $bg-main;
                    padding-left: 5px;
                }
            }
        }
    }
}

.card {
    display: inline-block;
    position: relative;

    &--kv {
        @include mobile {
            width: 100%;
        }

        .card__front,
        .card__back {
            &:before {
                content: '';
                display: block;
                padding-top: (400/300)*100%;
            }
        }

        .card__front {
            z-index: 10;

            @include mobile {
                width: (150/250)*100%;
            }

            @include laptops {
                width: 270px;
            }

            @include desktop {
                width: 333px;
            }
        }

        .card__back {
            z-index: 5;
            position: absolute;
            background-color: $bg-light;

            @include mobile {
                width: (150/250)*100%;
                top: -17%;
                left: 23%;
            }

            @include laptops {
                width: 270px;
                top: -100px;
                left: 95px;
            }

            @include desktop {
                width: 300px;
                top: -169px;
                left: 275px;
            }
        }
    }
    
    &__front {
        display: inline-block;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__back {
    }
}

.comments {
    background-color: $bg-light;

    @include mobile {
        padding: 25px 0 80px;
    }

    @include pad {
        padding: 90px 0;
    }

    .wrapper {
        position: relative;

        @include mobile {
            padding: 0 25px;
        }

        @include laptops {
            padding: 0 40px;
        }

        @include desktop {
            padding: 0 24px; 
        }
    }

    .slides {
        padding: 0 25px;
    }
}

.commentItem {
    padding: 12px 8px;
    border: 1px solid #B0AFB6;

    &__head {
        .media {
            display: inline-block;
            vertical-align: middle;
            background-color: #B7B7BE;
            border-radius: 50%;
            width: 48px;
            height: 48px;
            text-align: center;
            span {
                color: $white;
                line-height: 48px;
                font-size: 24px;
            }
        }
        .text {
            display: inline-block;
            vertical-align: middle;

            &__name {
                color: $main;
                font-size: 26px;
            }

            &__rank {
                line-height: 1;

                span {
                    display: inline-block;
                    margin-right: 3px;
                    width: 16px;
                    height: 16px;
                    background-image: url('../images/deco-rank.png');
                    background-repeat: no-repeat;
                    background-size: 16px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &__body {
        span {
            @include mobile {
                display: inline;
            }

            @include pad {
                display: block;
            }
        }

        p {
            color: $sub;
            font-size: 15px;
            font-weight: lighter;
            margin: 30px 0 0;
            min-height: 15px*1.6*6;
        }
    }
}

.staff {
    @include mobile {
        padding-top: 65px;
        padding-bottom: 65px;
    }
    .wrapper {
        position: relative;

        @include mobile {
            padding: 0 25px;
        }

        @include laptops {
            padding: 0 40px;
        }

        @include desktop {
            padding: 0 60px; 
        }
    }
}

.teacher {
    @include clearfix;

    &__media {
        float: left;
        position: relative;
        z-index: 10;

        @include mobile {
            width: 60%;
        }
        @include laptops {
            width: 528px;
        }

        .dialog{

            &__line {
                position: relative;
                background-color: $main;

                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: $white;
                    border: 1px solid $main;
                    border-radius: 50%;
                }
            }
            &__content {
                display: inline-block;
                background-color: $main;

                @include laptops {
                    padding: 20px 120px;
                }

                & > span {
                    font-size: 32px;
                    color: $white;
                }
            }

            &--fixed {
                text-align: center;

                .dialog__line {
                    margin: -5px auto 0;
                    
                    @include laptops {
                        width: 1px;
                        height: 55px;
                    }

                    &:before {
                        top: 0;
                        left: 50%;
                        margin-left: -5px;
                    }
                }
            }

            @include laptops {
                
            }
        }
    }

    &__text {
        float: left;
        position: relative;
        z-index: 5;

        .top {
            .name {
                font-weight: lighter;
                color: $sub;

                @include mobile {
                    font-size: 28px;
                    display: block;
                }
                @include laptops {
                    font-size: 84px;
                    display: inline-block;
                }
            }
            .title {
                font-weight: lighter;
                color: $main;

                @include mobile {
                    font-size: 12px;
                    display: block;
                }
                @include laptops {
                    font-size: 32px;
                    display: inline-block;
                }
            }
        }

        .body {
            position: relative;
            background-color: #CCCCD0;

            &:before {
                content: '';
                display: block;
                padding-top: (451/348)*100%;
            }

            @include laptops {
                margin-left: -235px;
                width: 540px;
            }

            p {
                position: absolute;
                @include laptops {
                    top: 0;
                    left: 255px;
                }
            }
        }
    }
}

.slides {
    &--comments {
        .slides__item {
            margin: 0 12px;
        }
    }

    &__arrow {
        @include appearance(none);
        position: absolute;
        width: 16px;
        height: 32px;
        padding: 0;
        border: none;
        z-index: 1000;
        top: 50%;
        background-size: 16px 32px;
        background-color: transparent;
        background-repeat: no-repeat;
        @include translateY(-50%);
        

        &--comments {
            &.prev {
                background-image: url('../images/arrow-comment-prev.png');
                left: 0;
            }

            &.next {
                background-image: url('../images/arrow-comment-next.png');
                right: 0;
            }
        }

        &--teacher {
            &.prev {
                background-image: url('../images/arrow-teacher-prev.png');
                left: 10px;
            }

            &.next {
                background-image: url('../images/arrow-teacher-next.png');
                right: 10px;
            }
        }
    }

    &__dots {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;

        & > li {
            display: inline-block;
            margin: 0 3px;
        }

        button {
            border: none;
            font-size: 0;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            padding: 0;
        }

        &--comments {  
            bottom: -40px;

            button {
                background-color: #B7B7BE;
            }
        }

        &--teacher {
            bottom: 10px;

            button {
                background-color: $white;
            }
        }
    }
}
/*# sourceMappingURL=style.css.map */