$path: '../images';

body {
	background-color: $white;

    &.openNav {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

/*--------- navbar -----------*/

.l-header {
    position: fixed;
    width: 100%;
    padding: rem(16) 0;
    z-index: 99;
    background-color: transparent;
    transition: all 0.3s ease;

    @include rwd-max(768px) {
        padding: rem(8) 0;
    }

	& > .container-fluid {
		background-color: transparent;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
        padding: 0 rem(40);

        @include rwd-max(768px) {
            padding: 0 rem(16);
        }
	}

	&.is-scrolled {
		background-color: $white;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);

        .l-header__toggler {
            span {
                background-color: #222222;
            }

            &.is-active {
                span {
                    background-color: $white;
                }
            }
        }
	}

	&__toggler {
		z-index: 150;
		width: 30px;
		height: 30px;
        padding: 6px 0;
		transition: all 0.3s ease;

		@include rwd-min(769px) {
			display: none !important;
		}

		span {
			width: 16px;
			height: 2px;
			background-color: $white;
			display: block;
			margin: 3px auto;
			transition: all 0.3s ease;
		}

		&.is-active {

			span {
				width: 16px;
				height: 2px;
				display: block;
				margin: 6px auto;
				transition: all 0.3s ease;

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(1) {
					transform: translateY(3px) rotate(45deg);
				}

				&:nth-child(3) {
					transform: translateY(-13px) rotate(-45deg);
				}
			}
		}
	}

	&__logo {
		z-index: 20;

		.logoItem {
			img {
				height: rem(30);
				width: auto !important;

				@include rwd-min(1200px) {
					height: rem(40);
				}
			}
		}
	}

	&__nav {
		display: flex;
		flex-direction: row;
        align-items: center;

        .f-fakeSelect {
            margin-right: rem(32);
        }

		@include rwd-max(769px) {
			position: fixed;
			visibility: hidden;
			overflow: hidden;
			top: 0;
			width: 50%;
			height: 100%;
			right: -100%;
			flex-direction: column;
            align-items: flex-start;
			background-color: #343a40;
            padding: rem(64) rem(38) 0;
			transition: all 0.3s ease-in-out;

			&.is-open {
				visibility: visible;
				right: 0;
			}

            .f-fakeSelect {
                margin-bottom: rem(16);
                margin-right: 0;
            }
		}
	}
}

.f-fakeSelect {
	position: relative;

	.fakeSelect__toggler {
		display: flex;
		justify-content: space-between;
		align-items: center;
        cursor: pointer;
        font-weight: 500;
        font-size: rem(20);
        line-height: 1.5;
        color: #040000;

		&:after {
			content: '';
			display: block;
			width: 0;
            height: 0;
            border-left: rem(5.5) solid transparent;
            border-right: rem(5.5) solid transparent;
            border-top: rem(6) solid #040000;
            border-bottom: none;
            margin-left: rem(8);
		}

		&.active {
			color: $secondary;

			&:after {
                border-left: rem(5.5) solid transparent;
                border-right: rem(5.5) solid transparent;
                border-bottom: rem(6) solid $secondary;
                border-top: none;
			}
		}

		&:hover {
			color: $secondary;
		}

		@include rwd-max(768px) {
			&:hover {
				color: $white;
			}
		}
		
	}

	.fakeSelect__option {
		display: none;
		position: absolute;
		top: calc(100% + rem(21));
		left: 50%;
		background-color: $secondary;
		z-index: 1000;
		width: rem(137);
		@include translateX(-50%);

		.option {
            display: block;
			position: relative;
            padding: rem(16);
            color: $white;
			font-weight: 700;
			font-size: rem(24);
			line-height: 1.1;
			text-align: center;
            @include transition(all,.3s, ease-in);

            &:hover {
                background-color: $secondary-dark;
            }
		}
	}

    @include rwd-max(769px) {
        width: auto;

        .fakeSelect__toggler {
            font-size: rem(18);
            color: $white;

            &:after {
                border-top-color: $white;
            }

            &.active {
				color: $white;

                &:after {
                    border-bottom-color: $white;
                }
            }
        }

        .fakeSelect__option {
            position: static;
			width: auto;
            background-color: transparent;
            margin-top: rem(8);
			@include translateX(0);

            .option {
                color: $white;
				text-align: left;
                padding: 0;
				font-size: rem(16);
				font-weight: 400;
                margin-bottom: rem(8);

                &:last-child {
                    margin-bottom: 0
                }

                &:hover {
                    color: $white;
                }
            }
        }
    }
}

.l-navbar {
	@include list-reset;
	display: flex;
	flex-direction: row;

	.navbarItem {
        margin-right: rem(32);

        &:last-child {
            margin-right: 0;
        }

		a {
            font-size: rem(20);
            font-weight: 500;
            color: #040000;
            line-height: 1.5;
			transition: all 0.3s ease;
			width: 100%;
			display: block;
            text-align: left;

			&:hover {
				color: $secondary;
				text-decoration: none;
			}
		}

		&.is-active {
			a {
				color: $primary;
			}
		}
	}

	@include rwd-max(769px) {
        width: 100%;
		flex-direction: column;
        justify-content: flex-start;

		.navbarItem {
            width: 100%;
            margin-bottom: rem(16);
            margin-right: 0;

            a {
                font-size: rem(18);
                color: $white;
            }
		}
	}

}

.gotop {
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    // background-image: url('#{$path}/icon-gotop.svg');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
}

//footer
.l-footer {
	position: relative;
	background: $dark;
	color: $white;
	padding: rem(32) 0;

	p {
		text-align: center;
		font-size: rem(12);
		line-height: 1.8;

		a {
			color: $white;
		}
	}
}
