$path: '../images';

body {
	background-color: $white;
}

/*--------- navbar -----------*/

.l-header {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: transparent;
    transition: all 0.3s ease;

	& > .container-fluid {
		background-color: transparent;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	&.is-scrolled {
		background-color: rgba(0,0,0,.15);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
	}

	&__toggler {
		z-index: 150;
		width: 30px;
		height: 40px;
		transition: all 0.3s ease;

		@include rwd-min(769px) {
			display: none !important;
		}

		span {
			width: 30px;
			height: 4px;
			background-color: $white;
			display: block;
			margin: 7px auto;
			transition: all 0.3s ease;
		}

		&.is-active {
			
			z-index: 150;

			span {
				width: 30px;
				height: 4px;
				background-color: $white;
				display: block;
				margin: 8px auto;
				transition: all 0.3s ease;

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(1) {
					transform: translateY(7px) rotate(45deg);
				}

				&:nth-child(3) {
					transform: translateY(-17px) rotate(-45deg);
				}
			}
		}
	}

	&__logo {
		z-index: 20;

		.logoItem {
			img {
				height: rem(30);
				width: auto !important;
			
				@include rwd-min(1200px) {
					height: rem(40);
				}
			}
		}
	}

	&__nav {
		display: flex;
		flex-direction: row;

		@include rwd-max(769px) {
			position: fixed;
			visibility: hidden;
			overflow: hidden;
			top: 0;
			width: 50%;
			height: 100%;
			right: -100%;
			flex-direction: column;
			padding-top: 6rem;
			text-align: center;
			background-color: #343a40;
			transition: all 0.3s ease-in-out;
	
			&.is-open {
				visibility: visible;
				right: 0;
			}
	
		}
	}
}

.f-fakeSelect {
	position: relative;
	width: rem(120);

	.fakeSelect__toggler {
		padding: 11px 14px;
		border-radius: 4px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:after {
			content: '';
			display: block;
			background-color: $primary;
			width: rem(12);
			height: rem(12);
		}

		&.active {

			&:after {
				background-color: $dark;
			}
		}
	}

	.fakeSelect__option {
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		background-color: #FFFFFF;
		border: 1px solid #E1E2E6;
		border-radius: 4px;
		margin-top: 4px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, .08);
		z-index: 1000;

		.option {
			padding: 12px 40px 12px 16px;
			font-size: 16px;
			line-height: 1;
			position: relative;

			&.active {
				color: $primary;

				&:after {
					content: '';
					display: block;
					position: absolute;
					width: 24px;
					height: 24px;
					right: 16px;
					top: 50%;
					@include translateY(-50%);
					background-size: 24px;
					background-repeat: no-repeat;
					background-position: center;
					background-color: red
				}
			}
		}
	}
}

.l-navbar {
	@include list-reset;
	display: flex;
	flex-direction: row;

	.navbarItem {
		padding: 0 0.5rem;
		color: inherit;
		font-size: 0.85rem;
		color: $white;
		font-weight: 700;
		text-align: center;
		padding: 0 1rem;

		a {
			color: inherit;
			transition: all 0.3s ease;
			width: 100%;
			display: block;

			&:hover {
				color: $primary;
				text-decoration: none;
			}
		}

		&.is-active {
			a {
				color: $primary;
			}
		}
	}

	@include rwd-max(769px) {
		flex-direction: column;

		.navbarItem {
			color: $white;
			font-size: 1.3rem;
			padding: 0.5rem;
		}
	}
	
}

.gotop {
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    // background-image: url('#{$path}/icon-gotop.svg');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
}

//footer
.l-footer {
	position: relative;
	background: $dark;
	color: $white;
	padding: rem(32) 0;

	p {
		text-align: center;
		font-size: rem(12);
		line-height: 1.8;

		a {
			color: $white;
		}
	}
}
