@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import 'variables';
@import 'mixin';
@import 'normalize';
@import 'layout';
@import 'button';

$path: '../images';

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.h1 {
	font-size: 62px;
	line-height: 1.5;
}

.h2 {
	font-size: 30px;
	line-height: 1.5;
}

.h3 {
	font-size: 22px;
	line-height: 1.6;
}

.h4 {
	font-size: 16px;
	line-height: 1.5;
}

.h5 {
	font-size: 14px;
	line-height: 1.5;
}

@mixin heebo {
	font-family: "Heebo", sans-serif;
	font-weight: 500;
	line-height: 1.3;
	font-size: rem(18);
	letter-spacing: rem(1.5);
	writing-mode: vertical-rl;
}

.page {
	scroll-behavior: smooth;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}

.openMenu {
	width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
	@include rwd-max(768px) {
		padding-bottom: rem(24);
	}
}

.kv {
	padding: 0;
    position: relative;
    background-color: $primary;

    &:before {
        content: '';
        display: block;
        padding-top: calc((732 / 375) * 100%);

        @include rwd-min(769px) {
            padding-top: calc((902 / 1440) * 100%);
        }
    }

    .opening {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &__layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            &--1 {
                z-index: 2;
                background-image: url('../images/opening/mb/layer_1.jpg');
            }

            &--2 {
                z-index: 3;
                background-image: url('../images/opening/mb/layer_2.svg');
            }

            &--3 {
                z-index: 4;
                background-image: url('../images/opening/mb/layer_3.svg');
            }


            @include rwd-min(769px) {

                &--1 {
                    background-image: url('../images/opening/pc/layer_1.jpg');
                }

                &--2 {
                    background-image: url('../images/opening/pc/layer_2.svg');
                }

                &--3 {
                    background-image: url('../images/opening/pc/layer_3.svg');
                }
            }
        }
    }
}

.section {
	position: relative;
	padding: rem(96) 0;

	@include rwd-max(768px) {
		padding: rem(56) 0 !important;
	}

	.container {
		position: relative;
		z-index: 5;
	}

	.animateTitle {
		position: relative;

		&--d {
			display: none;
		}

		&--m {
			display: block;
		}

		@include rwd-min(768px) {

			&--d {
				display: block;
			}

			&--m {
				display: none;
			}

			&.is-intro {
				max-width: rem(760);
				margin: 0 auto;
			}

			&.is-point {
				max-width: rem(401);
			}

			&.is-article {
				max-width: rem(577);
			}
			
			&.is-movie {
				max-width: rem(391);
			}

			&.is-promo {
				max-width: rem(391);
			}
		}

		.animateTitle__item {
			left: 0;
			top: 0;
			width: 100%;

			img {
				width: 100%;
			}

			&:nth-child(1) {
				position: relative;
				z-index: 1;
			}

			&:nth-child(2) {
				position: absolute;
				z-index: 2;
			}

			&:nth-child(3) {
				position: absolute;
				z-index: 3;
			}

			&:nth-child(4) {
				position: absolute;
				z-index: 4;
			}
		}
	}

	.section__title {
		position: relative;
		text-align: left;
	}

	&--intro {
		background-color: $primary;

		&:after {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			top: 0;
			z-index: 0;
			height: rem(280);
			width: 100%;
			background-image: url('#{$path}/dot-white.png');
			background-size: rem(26) rem(26);
			background-position: center;
			background-repeat: repeat;
			opacity: 0.7;

			@include rwd-max(768px) {
				height: rem(210);
			}
		}

		.container {
			@include rwd-max(768px) {
				padding: 0;
			}
		}

		.section__title {
			margin-bottom: rem(23);

			@include rwd-max(768px) {
				padding: 0 rem(4);
				margin-bottom: rem(11);
			}
		}

		.section__content {
			.record {
				margin-top: rem(16);
			}

			.action {
				margin-top: rem(48);
			}

			.snsShare {
				margin-top: rem(32);
			}

			@include rwd-max(768px) {
				padding: 0 rem(16);
			}
		}

		.handWrite {
			position: relative;
			display: inline-block;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: rem(43);
				height: rem(41);
				border: rem(3) solid $white;
			}

			&:before {
				border-right: none;
				border-bottom: none;
				top: 0;
				left: rem(-20);
			}

			&:after {
				border-left: none;
				border-top: none;
				bottom: rem(20);
				right: rem(-20);
			}

			@include rwd-max(768px) {
				width: 100%;

				&:before {
					left: rem(16);
				}

				&:after {
					right: rem(16);
				}
			}


			&__text {
				position: relative;

				&:before {
					content: '';
					display: block;
					width: rem(500);
					height: rem(228);
					background-image: url('#{$path}/handwrite-intro_brush.png');
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center top;

					@include rwd-max(768px) {
						width: 100%;
						height: auto;
						padding-top: calc((187 / 375) * 100%);
					}
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}

		.paragraph {
			text-align: center;
			line-height: 1.9;
			font-weight: bold;
			color: $white;

			@include rwd-max(768px) {
				text-align: left;

				br {
					display: none;
				}
			}
		}

		.record {
			@include list-reset;

			& > li {
				display: flex;
				align-items: center;
				width: rem(560);
				margin: 0 auto;
				margin-bottom: rem(20);
				position: relative;
				padding-left: rem(26);

				&:before {
					content: '';
					position: absolute;
					top: rem(10);
					left: 0;
					display: block;
					width: rem(16);
					height: rem(16);
					border-radius: 50%;
					background-color: #2c2c2c;
				}

				& > div {
					font-size: rem(18);
					line-height: 1.9;
					color: $white;
					font-weight: 400;
				}

				@include rwd-max(768px) {
					display: flex;
					align-items: center;
					width: 100%;
				}
			}
		}

		.action {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.snsShare {
			text-align: center;
		}
	}

	&--point {
		background-color: $secondary;

		&:after {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			bottom: 0;
			z-index: 0;
			height: rem(442);
			width: 100%;
			background-image: url('#{$path}/dot-white.png');
			background-size: rem(26) rem(26);
			background-repeat: repeat;
			background-position: center;

			@include rwd-max(768px) {
				height: rem(100);
				bottom: rem(48)
			}
		}

		&:before {
			content: 'Self-Learning Strategies';
			@include heebo;
			position: absolute;
			left: rem(32);
			top: rem(96);
			color: $secondary-dark;

			@include rwd-max(768px) {
				display: none;
			}
		}

		.container {

			@include rwd-max(768px) {
				padding: 0 rem(5);
			}

			@include rwd-min(1200px) {
				max-width: 1200px;
				padding: 0 rem(4);
			}
		}

		.section__title {
			text-align: center;
			margin-bottom: rem(32);

			@include rwd-max(768px) {
				padding: 0 rem(15);
			}
		}

		.section__content {
			margin-top: rem(67);
		}

		.pointList {
			@include list-reset;

			& > li {
				padding: 0;
				flex: 0 0 100%;
				margin-bottom: rem(24);

				@include rwd-min(1200px) {
					flex: 0 0 calc((100% - rem(100)) / 3);
					margin-right: rem(50);
					margin-bottom: 0;

					&:nth-child(3n) {
						margin-right: 0;
					}
				}
			}
		}

		.pointItem {
			max-width: rem(414);
			margin: 0 auto;
			text-align: center;

			&__title {
				display: inline-block;
				padding: rem(10) rem(20);
				text-align: center;
				margin-bottom: rem(22);
				background-color: $primary;

				@include rwd-max(768px) {
					max-width: 33%;

					img {
						width: 100%;
					}
				}
			}

			&__content {
				background-color: #F9F8F8;
				padding: rem(75) rem(27) rem(70);

				@include rwd-max(767px) {
					padding: rem(48) rem(27);
					min-height: unset;
				}

				.topic {
					margin-bottom: rem(24);
					text-align: center;

					img {
						width: 100%;
					}
				}

				.list {
					@include list-reset;

					& > li {
						position: relative;
						padding-left: rem(18);
						margin-bottom: rem(16);
						text-align: left;

						&:before {
							content: '';
							display: block;
							position: absolute;
							top: rem(10);
							left: 0;
							width: rem(8);
							height: rem(8);
							background-color: $primary-light;
							border-radius: 50%;
						}

						&:last-child {
							margin-bottom: 0;
						}

						span {
							font-size: rem(17);
							line-height: 1.6;
							color: #2F2F2F;
						}
					}
				}
			}

			&--1 {
				.pointItem__content {
					clip-path: polygon(90% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
				}
			}
			&--2 {
				.pointItem__content {
					clip-path: polygon(100% 0, 100% 82%, 90% 100%, 0 100%, 0 0);
				}
			}
			&--3 {
				.pointItem__content {
					clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
				}
			}
		}
	}

	&--article {
		padding: rem(96) 0 rem(113);
		background-color: $white;

		&:before {
			content: 'Holistic Learning Journal';
			@include heebo;
			position: absolute;
			right: rem(32);
			top: rem(232);
			color: #A8A098;
			background-color: $white;
			z-index: 5;

			@include rwd-max(768px) {
				display: none;
			}
		}

		&:after {
			content: '';
			position: absolute;
			display: block;
			right: 0;
			top: 50%;
			z-index: 0;
			height: calc(100% -  rem(117));
			width: 50%;
			background-image: url('#{$path}/dot-gray.png');
			background-size: rem(26) rem(26);
			background-repeat: repeat;
			background-position: center top;
			@include translateY(-50%);

			@include rwd-max(768px) {
				width: 100%;
				height: 78%;
				top: auto;
				bottom: 0;
				@include translateY(0);
				background-position: left top;
			}
		}

		.container {

			@include rwd-min(1200px) {
				max-width: 1200px;
				padding: 0;
			}
		}

		.section__title {
			margin-bottom: rem(48);

			@include rwd-max(768px) {
				margin-bottom: rem(32);
				padding: 0 rem(20);
			}
		}

		.section__content {
			.subTitle {
				margin-bottom: rem(24);
			}

			@include rwd-min(1200px) {
				padding: 0 rem(100);
			}
		}

		.subTitle {
			color: $dark;
			font-size: rem(26);
			font-weight: 600;
		}

		.articleList {
			@include list-reset;

			& > li {
				margin-bottom: rem(56);

				&:last-child {
					margin-bottom: 0;
				}

				@include rwd-max(768px) {
					margin-bottom: rem(32);
				}
			}
		}

		.articleItem {
			background-color: $white;
			display: flex;
			flex-direction: row;
			padding-bottom: rem(16);
			padding-right: rem(8);

			@include rwd-max(768px) {
				flex-direction: column;
				padding-bottom: 0;
				padding-right: 0;
			}

			&__media {
				flex: 0 0 rem(318);
				position: relative;
				height: fit-content;

				&:after {
					content: '';
					top: 0;
					left: 0;
					position: absolute;
					background-color: $primary-light;
					z-index: 0;
					width: calc(100% + rem(5));
					height: calc(100% + rem(5));
				}

				.cover {
					position: relative;
					overflow: hidden;

					&:before {
						content: '';
						display: block;
						padding-top: calc((206 / 323) * 100%);
					}

					

					img {
						@include fit-cover;
						@include transition(all,.3s,ease-in);
					}
				}

				@include rwd-max(768px) {
					flex: 0 0 100%;
				}

				@include rwd-min(1200px) {
					&:hover {
						.cover {
							img {
								@include scale(1.2);
							}
						}
					}
				}
			}

			&__text {
				flex: 0 0 calc(100% - rem(318));
				padding-left: rem(32);

				.title {
					display: block;
					color: $primary-light;
					font-size: rem(26);
					font-weight: 700;
					line-height: rem(36);
					@include transition(all,.3s,ease-in);

					@include rwd-max(768px) {
						font-size: rem(22);
					}

					@include rwd-min(1200px) {
						&:hover {
							color: $secondary;
						}
					}
				}

				.intro {
					margin-top: rem(16);

					p {
						font-size: rem(16);
						font-weight: 400;
						line-height: 1.7;
						margin-bottom: rem(10);

						&:last-child {
							margin-bottom: 0;
						}
					}
				}

				.action {
					margin-top: rem(16);
					text-align: left;

					@include rwd-max(768px) {
						text-align: center;
					}
				}

				@include rwd-max(768px) {
					flex: 0 0 100%;
					padding: rem(16);
				}
			}
		}
	}

	&--movie {
		background-color: #A8A098;
		background-repeat: no-repeat;
		background-position: center top;
		background-image: url('#{$path}/dot-movie_mb.png');

		&:before {
			content: 'Video';
			@include heebo;
			position: absolute;
			right: rem(32);
			bottom: rem(64);
			color: #C5C2C0;

			@include rwd-max(768px) {
				display: none;
			}
		}

		@include rwd-min(1200px) {
			background-image: url('#{$path}/dot-movie.png');

			.container {
				max-width: 1200px;
				padding: 0;
			}
		}

		.section__title {
			margin-bottom: rem(84);

			@include rwd-max(768px) {
				margin-bottom: rem(32);
				padding: 0 rem(25);
			}
		}

		.movieList {
			@include list-reset;
			display: flex;
			align-items: flex-start;
			flex-direction: row;

			@include rwd-max(768px) {
				flex-direction: column;
			}

			& > li {
				flex: 0 0 calc((100% - rem(50)) / 2);
				margin-right: rem(50);

				&:nth-child(2) {
					margin-right: 0;
				}

				@include rwd-max(768px) {
					flex: 0 0 100%;
					width: 100%;
					margin-right: 0;
					margin-bottom: rem(32);

					&:last-child {
						margin-bottom: 0;
					}
				}

				.action {
					margin-top: rem(48);

					@include rwd-max(768px) {
						margin-top: rem(21);
					}
				}
			}
		}

		.movieBox {
			position: relative;
			max-width: rem(749);
			margin: 0 auto;


			&:before {
				content: '';
				display: block;
				padding-top: ((447/794) * 100%);
			}

			&:after {
				content: '';
				top: 0;
				left: 0;
				position: absolute;
				background-color: $primary-light;
				z-index: 0;
				width: calc(100% + rem(5));
				height: calc(100% + rem(5));
			}

			& > iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 5;
			}
		}

		.action {
			text-align: center;
		}
	}

	&--promo {
		background: rgb(236,236,236);
		background: -moz-linear-gradient(0deg, rgba(236,236,236,1) 60%, rgba(255,255,255,1) 70%);
		background: -webkit-linear-gradient(0deg, rgba(236,236,236,1) 60%, rgba(255,255,255,1) 70%);
		background: linear-gradient(0deg, rgba(236,236,236,1) 60%, rgba(255,255,255,1) 70%);

		&:before {
			content: 'Accelerated Learning';
			@include heebo;
			position: absolute;
			left: rem(32);
			bottom: rem(64);
			color:#C5C2C0;

			@include rwd-max(768px) {
				display: none;
			}
		}

		&:after {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			z-index: 0;
			height: 100%;
			bottom: 0;
			width: 100%;
			background-image: url('#{$path}/dot-white.png');
			background-size: rem(26) rem(26);
			background-repeat: repeat;
			background-position: center bottom;
		}

		@include rwd-min(1440px) {
			.container {
				max-width: 1200px;
				padding: 0;
			}
		}

		.section__title {
			margin-bottom: rem(40);

			@include rwd-max(768px) {
				margin-bottom: rem(32);
				padding: 0 rem(22);
			}
		}

		.section__content {
			@include rwd-max(768px) {
				padding: 0 rem(16);
			}
		}

		.promoList {
			@include list-reset;

			& > li {
				margin-bottom: rem(24);

				@include rwd-max(768px) {
					padding: 0;
				}
			}

			@include rwd-min(768px) {
				& > li {
					margin-bottom: rem(50);

					.promoItem {
						height: 100%;
					}
				}
			}
		}

		.promoItem {
			display: block;

			&__media {
				text-align: center;

				.coverImg {
					position: relative;
					margin: 0 auto;
					width: 52%;

					&:before {
						content: '';
						display: block;
						padding-top: ((268/187)*100%);
					}

					&:after {
						content: '';
						top: 0;
						left: 0;
						position: absolute;
						background-color: $primary-light;
						z-index: 0;
						width: calc(100% + rem(5));
						height: calc(100% + rem(5));
					}

					& > img {
						@include fit-cover;
					}
				}
			}

			&__text {
				margin-top: rem(17);

				.title {
					color: #222222;
					font-size: rem(24);
					font-weight: 700;
					line-height: 1.5;
					text-align: center;
				}

				.description {
					color: #2F2F2F;
					margin-top: rem(12);
					font-size: rem(17);
					font-weight: 400;
					line-height: 1.47;
				}
			}
		}
	}

	&--subscribe {
		background-color: $white;

		.section__title {
			margin-bottom: rem(48);
			text-align: center;

			&:before {
				display: none
			}

			.text {
				font-family: "Noto Serif TC", serif;
				font-size: rem(48);
				font-weight: 700;
				line-height: 1.3;
				font-size: rem(24);
				color: #2F2F2F;

				@include rwd-min(768px) {
					font-size: rem(32);

					br {
						display: none;
					}
				}
			}

			@include rwd-max(768px) {
				margin-bottom: rem(32);
			}
		}

		.subscribeList {
			@include list-reset;

			& > li {
				&:last-child {
					margin-bottom: 0;
				}

				@include rwd-max(768px) {
					margin-bottom: rem(16);
				}
			}
		}

		.subscribeItem {
			text-align: center;

			.subscribeItem__action {
				margin-bottom: rem(16);
			}

			&__desc {
				font-size: rem(17);
				line-height: 1.7;
				color: #222222;
			}
		}
	}
}
