//color
$white: #FFFFFF;

$black: #000000;
$black50: #F6F6F6;
$black100: #E7E7E7;
$black200: #D1D1D1;
$black300: #B0B0B0;
$black400: #888888;
$black500: #6D6D6D;
$black600: #5D5D5D;
$black700: #4F4F4F;
$black800: #454545;
$black900: #3D3D3D;
$black950: #222222;

$tango: #EF7D26;
$tango50: #FEF7EE;
$tango100: #FDEED7;
$tango200: #FAD9AE;
$tango300: #F7BD7A;
$tango400: #F29745;
$tango500: #EF7D26;
$tango600: #E06016;
$tango700: #BA4814;
$tango800: #943A18;
$tango900: #773117;
$tango950: #40170A;

$java: #20B7BC;
$java50: #F1FCFC;
$java100: #CFF8F5;
$java200: #9EF1ED;
$java300: #66E2E0;
$java400: #37C7CA;
$java500: #20B7BC;
$java600: #15868C;
$java700: #156A70;
$java800: #165359;
$java900: #16474B;
$java950: #07272C;

$yellow: #F8B300;
$yellow50: #FFFEEA;
$yellow100: #FFF9C5;
$yellow200: #FFF485;
$yellow300: #FFE846;
$yellow400: #FFD81B;
$yellow500: #F8B300;
$yellow600: #E28D00;
$yellow700: #BB6302;
$yellow800: #984C08;
$yellow900: #7C3F0B;
$yellow950: #40170A;