@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import 'variables';
@import 'mixin';
@import 'normalize';
@import 'layout';
@import 'button';

$path: '../images';

.image {
	width: 100%;
}

/* ==================================================
   動畫 animation
================================================== */

@keyframes rotate1 {
	0% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}

	50% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg)
	}

	100% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}
}
@keyframes rotate2 {
	0% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate(3deg);
		transform: rotate(3deg)
	}

	50% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate(-3deg);
		transform: rotate(-3deg)
	}

	100% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate(3deg);
		transform: rotate(3deg)
	}
}
@keyframes rotate3 {
	0% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate(-8deg);
		transform: rotate(-8deg)
	}

	50% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate(8deg);
		transform: rotate(8deg)
	}

	100% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: rotate(8deg);
		transform: rotate(8deg)
	}
}

.customShake1 {
	animation: rotate1 1.5s step-end infinite alternate;
}
.customShake2 {
	animation: rotate2 2s step-end infinite alternate;
}
.customShake3 {
	animation: rotate3 1s step-end infinite alternate;
}

@keyframes jump {
	0% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: translateY(rem(2));
		transform: translateY(rem(2))
	}

	50% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: translateY(rem(0));
		transform: translateY(rem(0))
	}

	100% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: translateY(rem(2));
		transform: translateY(rem(2))
	}
}

@keyframes float1 {
	0% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: translateX(rem(-5));
		transform: translateX(rem(-5))
	}

	50% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: translateX(rem(5));
		transform: translateX(rem(5))
	}

	100% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: translateX(rem(-5));
		transform: translateX(rem(-5))
	}
}
@keyframes float2 {
	0% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: translateX(rem(-8));
		transform: translateX(rem(-8))
	}

	50% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: translateX(rem(8));
		transform: translateX(rem(8))
	}

	100% {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: translateX(rem(-8));
		transform: translateX(rem(-8))
	}
}

/* ==================================================
   Container
================================================== */
.container {
	@include rwd-min(320px) {
		padding: 0 rem(20);
	}
	@include rwd-min(1200px) {
		max-width: 1000px;
		padding: 0;
	}
}

/* ==================================================
   Sections
================================================== */

main {
	// overflow: hidden;
}

.hero {
	position: relative;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #FFC6C6;
	width: 100dvw;
	overflow: hidden;

	@include rwd-min(320px) {
		background-size: cover;
		background-image: url('#{$path}/hero/bg_mb.svg');
	}
	@include rwd-min(768px) {
		background-size: contain;
	}

	@include rwd-min(991.98px) {
		background-size: auto 100%;
		background-image: url('#{$path}/hero/bg_pc.svg');
	}

	&:after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		display: block;
		width: 100%;
		background-size: cover;
		background-position: center bottom;
		background-repeat: no-repeat;

		@include rwd-min(320px) {
			background-image: url('#{$path}/deco-book_mb.svg');
			padding-top: (66/375)*100%;

		}

		@include rwd-min(768px) {
			padding-top: (63/1440)*100%;
			background-image: url('#{$path}/deco-book_pc.svg');
		}
	}

	.wrapper {
		position: relative;
		max-width: 1440px;
		min-height: 100%;
		margin: 0 auto;

		@include rwd-min(320px) {
			padding: rem(125) 0 rem(305);
		}
		@include rwd-min(768px) {
			padding: rem(220) 0 rem(260);
		}

		@include rwd-min(991.98px) {
			padding: rem(130) 0 rem(240);
		}

		.text {
			position: relative;
			z-index: 5;
			display: flex;
			flex-direction: column;

			img {
				width: 100%;
			}

			&__intro {
				text-align: center;

				& > div {
					margin-left: auto;
					margin-right: auto;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			@include rwd-min(320px) {
				padding: 0 rem(25);

				.text__slogan {
					width: rem(192);
					margin-left: rem(4);
				}

				.text__title {
					padding: 0 rem(10);
				}

				.text__intro {
					margin-top: rem(15);

					& > div {

						&:nth-child(1) {
							width: rem(248);
						}

						&:nth-child(2) {
							width: rem(325);
						}
					}
				}
			}

			@include rwd-min(768px) {
				width: rem(449);
				padding: 0;
				margin: 0 auto;

				.text__slogan {
					width: rem(288);
				}

				.text__title {
					width: rem(449);
				}

				.text__intro {
					margin-top: rem(40);

					& > div {

						&:nth-child(1) {
							width: rem(259);
						}

						&:nth-child(2) {
							width: rem(365);
						}
					}
				}
			}

			@include rwd-min(991.98px) {
				width: rem(538);

				.text__slogan {
					width: rem(427);
				}

				.text__title {
					width: rem(538);
				}

				.text__intro {
					margin-top: rem(30);

					& > div {
						margin-bottom: rem(18);

						&:nth-child(1) {
							width: rem(319);
						}

						&:nth-child(2) {
							width: rem(420);
						}
					}
				}
			}
		}

		.deco {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: 100%;
			height: 100%;

			&__img {
				position: absolute;

				img {
					width: 100%;
				}

				&--rt {

					@include rwd-min(320px) {
						width: rem(127);
						top: rem(41);
						right: 0;
					}

					@include rwd-min(768px) {
						width: rem(191);
						top: rem(80);
						right: rem(10);
					}

					@include rwd-min(991.98px) {
						width: rem(267);
						top: rem(88);
						right: rem(122);
					}

				}

				&--lm {

					@include rwd-min(320px) {
						width: rem(161);
						bottom: rem(122);
						left: rem(10);
					}

					@include rwd-min(768px) {
						width: rem(242);
						bottom: rem(100);
						left: rem(10);
					}

					@include rwd-min(991.98px) {
						width: rem(414);
						bottom: rem(248);
						left: rem(-28);
					}

				}
				&--rb {

					@include rwd-min(320px) {
						width: rem(160);
						bottom: rem(18);
						right: rem(10);
					}

					@include rwd-min(768px) {
						width: rem(240);
						bottom: rem(-40);
						right: rem(10);
					}

					@include rwd-min(991.98px) {
						width: rem(367);
						bottom: rem(-76);
						right: rem(14);
					}
				}
			}
		}
	}
}

.mainContent {
	position: relative;
	background-color: #FFE3E3;
}

.section {
	position: relative;

	.section__title {
		text-align: center;

		.topic {
			font-size: rem(32)
		}

		.subTitle {
			margin-top: rem(24);
			font-size: rem(20);
		}
	}

	.section__content {
		.wrapper {
			position: relative;
			max-width: 1200px;
			min-height: 100%;
			margin: 0 auto;

			@include rwd-min(320px) {
				padding: 0 rem(16);
			}

			@include rwd-min(768px) {
				padding: 0 rem(8.5);
			}

			.paragraph,
			.heading {
				max-width: rem(590);
				margin-left: auto;
				margin-right: auto;
				margin-bottom: rem(24);

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.paragraph {
			p {
				margin-top: 0;
				margin-bottom: rem(24);
				color: #270C05;
				font-size: rem(20);
				font-weight: 400;
				line-height: 1.9;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.heading {

			&__text {
				text-align: center;
				display: block;
				color: #6D3526;
				line-height: 1.3;
				font-weight: 700;

				@include rwd-min(320px) {
					font-size: rem(28);

					br {
						display: block;
					}
				}
				@include rwd-min(768px) {
					font-size: rem(32);

					br {
						display: none;
					}
				}
			}

			&__highlight {
				color: #EE6C48;
				font-size: rem(26);
				font-weight: 700;
				text-align: center;

				span {
					font-family: Roboto;
					margin: 0 rem(5);
				}
			}
		}
	}

	&--about {
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: rem(93);
			z-index: 0;
			background-image: url('#{$path}/bg-note.png');
			background-repeat: repeat;
			background-position: left rem(14);
		}

		@include rwd-min(320px) {
			padding-top: rem(56);
			padding-bottom: rem(50);
		}

		@include rwd-min(768px) {
			padding-top: rem(70);
			padding-bottom: rem(100);
		}

		.section__content {
			position: relative;
			z-index: 1;
		}

		.intro {

			&--top {
				@include rwd-min(992.98px) {
					background-image: url('#{$path}/bg-about_pc.png');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center bottom;
				}

				.wrapper {
					@include rwd-min(320px) {
						padding: 0;

						.paragraph {
							padding: 0 rem(16);
						}
					}

					@include rwd-min(768px) {

						.paragraph {
							padding: 0;
						}
					}
				}

				.heading {
					@include rwd-min(320px) {
						&:before {
							content: '';
							display: block;
							padding-top: calc((180 / 375) * 100%);
							margin: rem(48) auto rem(10);
							background-image: url('#{$path}/bg-about_mb.png');
							background-size: cover;
							background-repeat: no-repeat;
							background-position: center;
						}
					}

					@include rwd-min(768px) {
						&:before {
							padding-top: calc((360 / 802) * 100%);
							max-width: rem(590);
							background-size: contain;
						}
					}

					@include rwd-min(991.98px) {
						&:before {
							display: none;
						}
					}
				}
			}

			.paragraph {
				.photo {
					max-width: rem(590);
					margin-left: auto;
					margin-right: auto;
					margin-bottom: rem(24);
				}
			}

			.further {
				margin-top: rem(24);
				max-width: rem(590);
				margin-left: auto;
				margin-right: auto;
			}
		}

		.misperception {
			margin-top: rem(24);

			@include rwd-min(320px) {
				margin-bottom: rem(40);
			}

			@include rwd-min(768px) {
				margin-bottom: rem(64);
			}

			.heading {
				.heading__img {
					max-width: rem(190);
					margin-left: auto;
					margin-right: auto;

					@include rwd-min(768px) {
						margin-bottom: rem(24);
					}
				}
			}

			.keyMessages {
				@include rwd-min(320px) {
					margin-top: rem(40);
				}

				@include rwd-min(768px) {
					margin-top: rem(64);
				}
			}
		}

		.keyMessages {

			@include rwd-min(320px) {
				max-width: rem(590);
				margin-left: auto;
				margin-right: auto;

				.keyMessages__item {
					margin-bottom: rem(42);

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			@include rwd-min(991.98px) {
				max-width: none;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: rem(42);
				align-items: stretch;

				.keyMessages__item {
					display: flex;
				}
			}
		}

		.keyBox {

			&__title {

				.topicNum {
					display: flex;
					align-items: center;
					background-color: #EE6C48;
					border-radius: rem(16) rem(16) 0 0;

					@include rwd-min(320px) {
						padding: rem(8) rem(24);
						justify-content: space-between;

						&:after {
							content: '';
							display: block;
							width: rem(25);
							height: rem(28);
							background-image: url('#{$path}/arrow-collapse.svg');
							background-size: cover;
							background-repeat: no-repeat;
							@include rotate(180);
							@include transition(all, .3s, ease-in-out);
						}
					}

					@include rwd-min(991.98px) {
						padding: rem(16) 0 rem(8);
						justify-content: center;

						&:after {
							display: none;
						}
					}

					& > span {
						display: flex;
						align-items: center;
						color: #FFFFFF;
						line-height: rem(26);
						font-size: rem(26);
						font-weight: 700;
					}

					.num {
						font-family: "Roboto Condensed", sans-serif;
						font-weight: 400;
						font-style: italic;
						line-height: rem(26);
						color: #FFFFFF;
						margin-top: rem(-3);
						margin-left: rem(4);

						@include rwd-min(320px) {
							font-size: rem(40);
						}

						@include rwd-min(991.98px) {
							font-size: rem(46);
						}
					}
				}

				.topicText {
					border-radius: 0 0 rem(16) rem(16);
					border: rem(2) solid #EE6C48;
					background-color: #FFF2F2;
					overflow: hidden;
					padding: rem(12) rem(24);
					line-height: 1.3;
					letter-spacing: rem(1);
					font-weight: 700;
					color: #EE6C48;

					@include rwd-min(320px) {
						font-size: rem(20);

						br {
							display: block;
						}
					}

					@include rwd-min(991.98px) {
						font-size: rem(26);

						br {
							display: none;
						}
					}
				}
			}

			&__content {
				margin-top: rem(14);

				p {
					color: #6F4337;
					font-size: rem(18);
					font-weight: 400;
					line-height: 1.7;
				}

				div {
					margin-top: rem(14);
				}
			}

			@include rwd-min(320px) {
				.keyBox__content {
					display: none;
				}

				&.is-active {

					.topicNum {

						&:after {
							@include rotate(0);
						}
					}
				}
			}

			@include rwd-min(991.98px) {
				display: flex;
				flex-direction: column;
				height: 100%;

				.keyBox__title {
					display: flex;
					flex-direction: column;

					.topicText {
						flex: 1;
						display: flex;
						align-items: center;
						min-height: rem(126);
					}
				}

				.keyBox__content {
					display: block;
				}
			}
		}

		.further {
			display: block;

			&__title {
				display: inline-block;
				background-color: #6D3526;
				padding: rem(4) rem(12);
				border-radius: rem(8) rem(8) 0 0;
				@include transition(all, .3s, ease-in);

				.text {
					color: #FFFFFF;
					font-weight: 700;
					font-size: rem(20);
					line-height: 1.3;
					letter-spacing: rem(1);
				}
			}

			&__content {
				background-color: #FFF2F2;
				border: rem(2) solid #6D3526;
				border-radius: 0 rem(16) rem(16) rem(16);
				@include transition(all, .3s, ease-in);

				@include rwd-min(320px) {
					padding: rem(16);
				}

				@include rwd-min(768px) {
					padding: rem(16) rem(24);
				}

				.textLink {
					color: #6D3526;
					font-weight: 700;
					font-size: rem(20);
					line-height: 1.3;
					letter-spacing: rem(1);
					@include transition(all, .3s, ease-in);
				}
			}

			&:hover {

				.further__title {
					background-color: #EE6C48;
				}
				.further__content {
					border: rem(2) solid #EE6C48;

					.textLink {
						color: #EE6C48;
					}
				}
			}

			@include rwd-not-hover {
				&:hover {
					.further__title {
						background-color: #6D3526;
					}
					.further__content {
						border: rem(2) solid #6D3526;

						.textLink {
							color: #6D3526;
						}
					}
				}
			}
		}
	}

	&--milestone {
		background-image: url('#{$path}/bg-noise.jpg');
		background-repeat: repeat;
		background-size: contain;
		background-position: left top;
		background-attachment: fixed;

		@include rwd-min(320px) {
			padding-top: rem(64);
		}

		@include rwd-min(768px) {
			padding-top: rem(80);
		}

		.discList {
			& > li {
				position: relative;
				color: #6D3526;
				font-weight: 400;

				&:before {
					content: '';
					display: block;
					position: absolute;
					left: rem(9.5);
					width: rem(5);
					height: rem(5);
					background-color: #6D3526;
					border-radius: 50%;
				}
			}

			@include rwd-min(320px) {

				& > li {
					padding-left: rem(28);

					&:before {
						left: rem(10.5);
					}
				}

				br {
					display: block;
				}
			}

			@include rwd-min(768px) {

				& > li {
					padding-left: rem(28);

					&:before {
						left: rem(9.5);
					}
				}

				br {
					display: none;
				}
			}
		}

		.intro {

			.wrapper {
				@include rwd-min(320px) {

				}

				@include rwd-min(768px) {
					max-width: rem(590);
					padding: 0;
				}
			}

			.illustrate {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: nowrap;

				&__image {

					@include rwd-min(320px) {
						flex: 0 0 rem(80);
					}

					@include rwd-min(768px) {
						flex: 0 0 rem(96);
					}
				}

				&__dialog {
					flex: 1;
					padding-left: rem(24);
				}

				.dialogBox {
					position: relative;
					background-color: #FEC1AE;
					border-radius: rem(16);

					@include rwd-min(320px) {
						padding: rem(8) rem(16);
					}

					@include rwd-min(768px) {
						padding: rem(8) rem(26);
					}

					&:before {
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						left: rem(-14);
						width: rem(15);
						height: rem(15);
						background-image: url('#{$path}/polygon-dialog_left.svg');
						background-repeat: no-repeat;
						background-position: right center;
						@include translateY(-50%);
					}

					&__title {
						color: #6D3526;
						font-size: rem(18);
						font-weight: 700;
						line-height: 1.6;
					}

					.discList {
						& > li {
							font-size: rem(16);
							line-height: 1.6;

							&:before {
								top: rem(10.3);
							}
						}
					}
				}
			}

			.professor {
				margin-top: rem(24);

				&:after {
					content: '';
					display: block;
					width: 100%;
					height: rem(33);
					background-image: url('#{$path}/deco-border.svg');
					background-repeat: repeat-x;
					background-position: center left;
				}
				&__title {
					display: flex;
					width: 100%;
					align-items: center;
					justify-content: space-between;
					flex-wrap: nowrap;
					gap: rem(10);

					.text {
						display: inline-block;
						background-color: #6D3526;
						border-radius: rem(80);
						// width: rem(120);
						padding: rem(4) rem(24);
						color: #FFFFFF;
						font-size: rem(18);
						line-height: 1.4;
						font-weight: 700;
					}

					&:after {
						content: '';
						flex: 1;
						display: block;
						height: rem(7);
						background-image: url('#{$path}/deco-border.svg');
						background-repeat: repeat-x;
						background-position: center left;
					}
				}
				.discList {
					margin: rem(8) 0;
					font-size: rem(18);
					line-height: 1.9;

					& > li {
						&:before {
							top: rem(14.6);
						}
					}
				}
			}
		}
	}

	&--article {
		background-color: #FFFFFF;
		padding-top: rem(64);
		padding-bottom: rem(40);

		.section__title {
			overflow: hidden;
			position: relative;
			color: #6D3526;

			&:before,
			&:after {
				content: '';
				position: absolute;
				display: block;
				background-repeat: no-repeat;
			}

			&:before {
				top: rem(8);
				width: rem(117);
				height: rem(28);
				background-image: url("#{$path}/deco-cloud_left.svg");
				animation: jump 1s step-end infinite alternate;

				@include rwd-min(320px) {
					left: rem(-30);
				}
				@include rwd-min(768px) {
					left: calc(50% - rem(300));
				}
			}

			&:after {
				bottom: rem(25);
				width: rem(80);
				height: rem(23);
				background-image: url("#{$path}/deco-cloud_right.svg");
				animation: jump 1.3s step-end infinite alternate;

				@include rwd-min(320px) {
					right: rem(-55);
				}

				@include rwd-min(768px) {
					right: calc(50% - rem(390));
				}
			}
		}

		.articleItem {
			display: block;
			text-decoration: none;

			.articleItem__img {
				position: relative;
				overflow: hidden;
				border: rem(1) solid #6D3526;
				border-radius: rem(16);

				&:before {
					content: '';
					display: block;
					padding-top: calc((215 / 356) * 100%);
				}

				img {
					display: block;
					width: 100%;
					@include fit-cover;
					@include scale(1);
					@include transition(all, .5s, ease-in);
				}
			}

			.articleItem__txt {
				margin-top: rem(16);
				text-align: left;

				.title {
					margin-bottom: rem(10);
					font-size: rem(24);
					line-height: 1.3;
					font-weight: 500;
					text-align: justify;
					color: #222222;
					@include transition(all, .3s, ease-in);
				}

				.more {
					margin-top: rem(16);
					display: inline-flex;
					align-items: center;
					padding: rem(8) rem(13);
					font-family: Roboto;
					font-size: rem(18);
					line-height: rem(13);
					color: #6D3526;
					background-color: #F4D798;
					@include transition(all, .3s, ease-in);
					border-radius: rem(70);
					
					&:after {
						content: '';
						display: block;
						width: rem(5);
						height: rem(8);
						background-repeat: no-repeat;
						background-image: url('#{$path}/arrow-read_b.svg');
						background-position: center;
						background-repeat: no-repeat;
						margin-left: rem(3);
						@include transition(all, .3s, ease-in);
					}
				}
			}

			&:hover {
				.articleItem__img {
					img {
						@include scale(1.2);
					}
				}

				.articleItem__txt {
					.more {
						background-color: #EE6C48;
						color: #FFFFFF;

						&:after {
							background-image: url('#{$path}/arrow-read_w.svg');
						}
					}
				}
			}

			@include rwd-not-hover {
				&:hover {
					.articleItem__img {
						img {
							@include scale(1);
						}
					}

					
					.articleItem__txt {
						.more {
							background-color: #F4D798;
							color: #6D3526;

							&:after {
								background-image: url('#{$path}/arrow-read_b.svg');
							}
						}
					}
				}
			}
		}
	}

	&--cooperation {
		position: relative;
		
		&:before {
			content: '';
			display: block;
			width: 100%;
			background-repeat: no-repeat;
			background-color: $white;

			@include rwd-min(320px) {
				height: rem(77);
				background-position: right bottom;
				background-size: cover;
				background-image: url('#{$path}/bg-footer_sp.png');
			}

			@include rwd-min(768px) {
				height: rem(131);
				background-position: center bottom;
				background-size: contain;
				background-image: url('#{$path}/bg-footer_pc.png');
			}
		}

		.section__content {
			position: relative;
			background-color: #FFC6C6;

			.wrapper {
				padding-top: rem(56);
				padding-bottom: rem(56);

				&:before {
					content: '';
					display: block;
					position: absolute;
					background-image: url('#{$path}/img-footer.png');
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					animation: rotate2 1s step-end infinite alternate;

					@include rwd-min(320px) {
						width: rem(244);
						height: rem(173);
						right: rem(5);
						top: rem(-133);
					}

					@include rwd-min(768px) {
						width: rem(292);
						height: rem(208);
						right: rem(145);
						top: rem(-166);
					}
				}
			}
		}

		.cooperation {
			display: flex;
			align-items: center;
			justify-content: center;

			&__title {
				font-size: rem(16);
				font-weight: 500;
				text-align: justify;
				color: #000000;
			}

			&__name {
				max-width: rem(207);
				margin-left: rem(32);
			}
		}
	}

}

/******************* slick start ******************/
.slickList {

	&--article {
		--swiper-wrapper-transition-timing-function: cubic-bezier(.645, .045, .355, 1);

		.slick-list {
			padding-top: rem(30) !important;

			@include rwd-min(320px) {
				padding-bottom: rem(0) !important;
			}
			
			@include rwd-min(768px) {
				padding-bottom: rem(90) !important;
			}
		}

		.slickList__item {
			transition: translate 0.8s 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55),
			transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
			box-shadow 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
			translate: 0 0;

			@include rwd-min(320px) {
				margin: 0 rem(8);
			}

			@include rwd-min(991.98px) {
				margin: 0 rem(30);

				&.is-down {
					translate: 0 rem(80);
				}

				&:not(.is-down) {
					translate: 0 0;
				}
			}

			&:nth-child(even) {
				
				.articleItem {
					position: relative;

					&:before,
					&:after {
						content: '';
						position: absolute;
						z-index: 1;
						display: block;
						background-repeat: no-repeat;
					}

					&:before {
						top: rem(-31);
						right: rem(77);
						width: rem(23);
						height: rem(20);
						background-image: url('#{$path}/deco-bird_s.svg');
						animation: float1 0.8s step-end infinite alternate;
					}
					
					&:after {
						top: rem(-21);
						right: rem(19);
						width: rem(43);
						height: rem(39);
						background-image: url('#{$path}/deco-bird_l.svg');
						animation: float2 0.65s step-start infinite alternate;
					}
				}
			}
		}
	}

}

.slick-slider {
	margin-bottom: 0;
}

/******************* slick end ********************/