@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

@import 'variables';
@import 'mixin';
@import 'normalize';
@import 'layout';
@import 'button';

$path: '../images';

body {
	background-color: $primary-light;
}


/* ==================================================
   動畫 animation
================================================== */
@keyframes zoomLoop {
	to {
		transform:scale(1.05);
	}
}

.zoomLoop {
	animation: zoomLoop 1.5s ease-in infinite alternate;
}

@keyframes loop {
  50% {
    transform:translateY(rem(-6));
  }
}

@keyframes loopReverse {
	50% {
	  transform:translateY(rem(6));
	}
}

.floatLoop {
	animation: loop 1.5s ease-in infinite alternate;
}


@keyframes decoDown {
	from { background-position-y: 0; }
  	to { background-position-y: 180px; }
}

@keyframes breath {
	from {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	to {
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
}

@keyframes waveBG_hero {
	from {
		-webkit-transform-origin: center;
		transform-origin: center;
		background-size: rem(416) auto;
	}

	to {
		-webkit-transform-origin: center;
		transform-origin: center;
		background-size: rem(446) auto;
	}
}

@keyframes waveBG_L {
	from {
		-webkit-transform-origin: center;
		transform-origin: center;
		background-size: rem(403) auto;
	}

	to {
		-webkit-transform-origin: center;
		transform-origin: center;
		background-size: rem(433) auto;
	}
}

@keyframes waveBG_R {
	from {
		-webkit-transform-origin: center;
		transform-origin: center;
		background-size: rem(807) auto;
	}

	to {
		-webkit-transform-origin: center;
		transform-origin: center;
		background-size: rem(837) auto;
	}
}

@keyframes waveBG_process {
	from {
		-webkit-transform-origin: center;
		transform-origin: center;
		background-size: rem(271) auto;
	}

	to {
		-webkit-transform-origin: center;
		transform-origin: center;
		background-size: rem(301) auto;
	}
}


/* ==================================================
   Container
================================================== */
.container {
	@include rwd-min(320px) {
		padding: 0 rem(20);
	}
	@include rwd-min(1200px) {
		max-width: 1000px;
		padding: 0;
	}
}

/* ==================================================
   Sections
================================================== */

main {
	overflow: hidden;
}

.hero {

}

.section {
	position: relative;

	.section__title {
		padding: rem(30.5) 0;
		text-align: center;
		font-weight: bold;
		position: relative;

		.topic {
			position: relative;
			z-index: 5;
			color: $white;

			@include rwd-min(320px) {
				@include f-h2-mb;
				padding: 0 rem(20);
			}

			@include rwd-min(768px) {
				@include f-h2;
				padding: 0;
			}
		}

		.sub {
			position: relative;
			z-index: 5;
			margin-top: rem(12);
			@include f-h3;
			color: $white;
		}

		.desc {
			position: relative;
			z-index: 5;
			@include f-h4;
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			height: 100%;
			background-repeat: repeat;
			z-index: 0;
			animation: decoDown 10s infinite linear;

			@include rwd-min(320px) {
				width: rem(120);
				background-size: rem(120) auto;
			}

			@include rwd-min(768px) {
				width: rem(240);
				background-size: rem(120) auto;
			}
		}
	}

	.section__content {
		padding-top: rem(50);
	}

	
}

.nav {

}

.articleItem {
	display: block;
	border-radius: 0 0 rem(20) rem(20);
	overflow: hidden;
	color: $dark;
	background-color: $white;
	text-decoration: none;

	.articleItem__img {
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			padding-top: calc((230 / 320) * 100%);
		}

		img {
			display: block;
			width: 100%;
			@include fit-cover;
			@include scale(1.01);
			@include transition(all, .5s, ease-in);
		}
	}

	.articleItem__txt {
		padding: rem(20) rem(40) rem(30);
		text-align: left;

		.title {
			margin-bottom: rem(10);
			@include f-h4-bold;
			@include ellipsis;
			@include transition(all, .3s, ease-in);
		}

		.intro {
			margin-top: rem(10);
			@include f-h5;
			@include line-clamp(4);
			height: rem(96);
			@include transition(all, .3s, ease-in);
		}

		.more {
			margin-top: rem(10);
			@include f-h5-medium;
			text-align: left;
			color: $secondary-dark;
			@include transition(all, .3s, ease-in);
		}
	}

	@include rwd-not-hover {
		&:hover {
			.articleItem__img {
				img {
					@include scale(1);
				}
			}

			.articleItem__txt {
				.more {
					color: $secondary-dark
				}
			}
		}
	}

	&:hover {
		.articleItem__img {
			img {
				@include scale(1.05);
			}
		}

		.articleItem__txt {
			.title,
			.intro,
			.more {
				color: $secondary;
			}
		}
	}
}

/******************* slick start ******************/
.slick-slider {
	margin-bottom: 0;

	.btn-arrowL,
	.btn-arrowR {
		cursor: pointer;
		position: absolute;
		top: 50%;
		background-color: $white;
		line-height:1;
		opacity: 1;
		z-index: 5;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: rem(18);
		@include translateY(-50%);
		@include transition(all, .3s, ease-in);

		@include rwd-min(320px) {
			box-shadow: 0 0 rem(10) rgba(0,0,0,.3);
			width: rem(40);
			height: rem(40);
		}

		@include rwd-min(768px) {
			width: rem(80);
			height: rem(80);
		}
	}

	.btn-arrowL {
		background-image: url('../images/arrow-prev.svg');

		&:hover {
			background-position-x: calc(50% - rem(5));
		}

		@include rwd-min(320px) {
			right: calc(100% - rem(25));
		}

		@include rwd-min(768px) {
			right: calc(100% + rem(20));
		}

		@include rwd-not-hover {
			&:hover {
				background-position-x: center;
			}
		}
	}

	.btn-arrowR {
		background-image: url('../images/arrow-next.svg');

		&:hover {
			background-position-x: calc(50% + rem(5));
		}

		@include rwd-min(320px) {
			left: calc(100% - rem(25));
		}

		@include rwd-min(768px) {
			left: calc(100% + rem(20));
		}

		@include rwd-not-hover {
			&:hover {
				background-position-x: center;
			}
		}
	}
}

/******************* slick end ********************/