// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff

.modal-open {
    overflow: hidden;

    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
  
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;

    &-dialog {
        position: relative;
        width: auto;
        margin: 0.5rem;
        pointer-events: none;

        &-centered {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            min-height: calc(100% - (0.5rem * 2));

            &::before {
                content: '';
                display: block;
                height: calc(100vh - (0.5rem * 2));
            }
        }
    }

    &.fade {
        .modal-dialog {
            transition: -webkit-transform 0.3s ease-out;
            transition: transform 0.3s ease-out;
            transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
            -webkit-transform: translate(0, -25%);
            transform: translate(0, -25%);
        }
    }

    &.in {
        .modal-dialog {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }

    &-content {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        outline: 0;
    }

    &-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;

        &.fade {
            opacity: 0;
        }

        &.in {
            opacity: .5;
        }
    }

    &-header {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #e9ecef;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;

        .close {
            padding: 1rem;
            margin: -1rem -1rem -1rem auto;
        }
    }

    &-title {
        margin-bottom: 0;
        line-height: 1.5;
    }

    &-body {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        // padding: 1rem;
    }

    &-footer {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 1rem;
        border-top: 1px solid #e9ecef;

        & > :not(:first-child) {
            margin-left: .25rem;
        }

        & > :not(:last-child) {
            margin-right: .25rem;
        }
    }

    &-scrollbar-measure {
        position: absolute;
        top: -9999px;
        width: 50px;
        height: 50px;
        overflow: scroll;
    }

    .close {
        position: absolute;
        cursor: pointer;
        padding: 8.5px 5px;
        right: -17.5px;
        top: -17.5px;
        background-color: color(p700);
        border: none;
        border-radius: 50%;
        z-index: 5;
        
        &__content {
            width: 25px;
            height: 18px;
            position: relative;
            @include rotate(0);
    
            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background-color: color(white);
                border-radius: 2px;
                opacity: 1;
                left: 0;
        
                &:nth-of-type(1) {
                    top: 8px;
                    @include rotate(45);
                }
        
                &:nth-of-type(2) {
                    top: 8px;
                    @include rotate(-45);
                }
            }
        }
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    .modal {
        &.fade {
            .modal-dialog {
                transition: none;
            }
        }
    }
}

@media (min-width: 576px) {
    .modal {
        &-dialog {
            max-width: 970px;
            margin: 1.75rem auto;

            &-centered {
                min-height: calc(100% - (1.75rem * 2));

                &::before {
                    height: calc(100vh - (1.75rem * 2));
                }
            }
        }

        &-sm {
            max-width: 300px;
        }
    }
}
  
@media (min-width: 992px) {
    .modal {
        &-lg {
            max-width: 800px;
        }
    }
}

//Small devices (portrait phones, 414 and down)
@media only screen and (max-width: 414px) { 
    .modal-dialog {
        margin: 0.5rem 1.5rem;
    }
}