@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-style: inherit;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}

del,
ins {
  text-decoration: none;
}

li {
  font-style: inherit;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

legend {
  color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input,
button,
textarea,
select {
  *font-size: 100%;
}

html {
  height: 100%;
  max-height: 50000em;
}

body {
  height: 100%;
  font-size: 100%;
  color: #17181A;
  font-family: "Noto Sans TC", "Open Sans", Arial, Helvetica, sans-serif, "微軟正黑體", "Microsoft JhengHei", "STHeiti Light", "儷黑 Pro", "LiHei Pro", "Microsoft Yahei", "Microsoft JhengHei", "新細明體", serif; /* 1 */
  line-height: 1.44;
  font-weight: 300;
  -ms-text-size-adjust: 100%; /* 2 */
  -moz-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  text-size-adjust: 100%; /* 2 */
  background: #FFFFFF;
}

div,
ul,
li,
header,
footer,
section,
p,
dl,
dt,
dd {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body {
  background-color: #fff;
}
body.openNav {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*--------- navbar -----------*/
.l-header {
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  z-index: 99;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .l-header {
    padding: 0.5rem 0;
  }
}
.l-header > .container-fluid {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 2.5rem;
}
@media (max-width: 768px) {
  .l-header > .container-fluid {
    padding: 0 1rem;
  }
}
.l-header.is-scrolled {
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}
.l-header.is-scrolled .l-header__toggler span {
  background-color: #222222;
}
.l-header.is-scrolled .l-header__toggler.is-active span {
  background-color: #fff;
}
.l-header__toggler {
  z-index: 150;
  width: 30px;
  height: 30px;
  padding: 6px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 769px) {
  .l-header__toggler {
    display: none !important;
  }
}
.l-header__toggler span {
  width: 16px;
  height: 2px;
  background-color: #222222;
  display: block;
  margin: 3px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.l-header__toggler.is-active span {
  width: 16px;
  height: 2px;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
}
.l-header__toggler.is-active span:nth-child(2) {
  opacity: 0;
}
.l-header__toggler.is-active span:nth-child(1) {
  -webkit-transform: translateY(3px) rotate(45deg);
          transform: translateY(3px) rotate(45deg);
}
.l-header__toggler.is-active span:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
          transform: translateY(-13px) rotate(-45deg);
}
.l-header__logo {
  z-index: 20;
}
.l-header__logo .logoItem img {
  height: 1.875rem;
  width: auto !important;
}
@media (min-width: 1200px) {
  .l-header__logo .logoItem img {
    height: 2.5rem;
  }
}
.l-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.l-header__nav .f-fakeSelect {
  margin-right: 2rem;
}
@media (max-width: 769px) {
  .l-header__nav {
    position: fixed;
    visibility: hidden;
    overflow: hidden;
    top: 0;
    width: 50%;
    height: 100%;
    right: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #0094FF;
    padding: 4rem 2.375rem 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .l-header__nav.is-open {
    visibility: visible;
    right: 0;
  }
  .l-header__nav .f-fakeSelect {
    margin-bottom: 1rem;
    margin-right: 0;
  }
}

.f-fakeSelect {
  position: relative;
}
.f-fakeSelect .fakeSelect__toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #040000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.f-fakeSelect .fakeSelect__toggler:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 0.34375rem solid transparent;
  border-right: 0.34375rem solid transparent;
  border-top: 0.375rem solid #040000;
  border-bottom: none;
  margin-left: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.f-fakeSelect .fakeSelect__toggler.active {
  color: #0094FF;
}
.f-fakeSelect .fakeSelect__toggler.active:after {
  border-left: 0.34375rem solid transparent;
  border-right: 0.34375rem solid transparent;
  border-bottom: 0.375rem solid #0094FF;
  border-top: none;
}
.f-fakeSelect .fakeSelect__toggler:hover {
  color: #0094FF;
}
.f-fakeSelect .fakeSelect__toggler:hover:after {
  border-top-color: #0094FF;
}
@media (max-width: 768px) {
  .f-fakeSelect .fakeSelect__toggler:hover {
    color: #fff;
  }
  .f-fakeSelect .fakeSelect__toggler:hover:after {
    border-top-color: #fff;
  }
}
.f-fakeSelect .fakeSelect__option {
  display: none;
  position: absolute;
  top: calc(100% + 1.3125rem);
  left: 50%;
  background-color: #0094FF;
  z-index: 1000;
  width: 8.5625rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.f-fakeSelect .fakeSelect__option .option {
  display: block;
  position: relative;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.1;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.f-fakeSelect .fakeSelect__option .option:hover {
  background-color: #186C98;
}
@media (max-width: 769px) {
  .f-fakeSelect {
    width: auto;
  }
  .f-fakeSelect .fakeSelect__toggler {
    font-size: 1.125rem;
    color: #fff;
  }
  .f-fakeSelect .fakeSelect__toggler:after {
    border-top-color: #fff;
  }
  .f-fakeSelect .fakeSelect__toggler.active {
    color: #fff;
  }
  .f-fakeSelect .fakeSelect__toggler.active:after {
    border-bottom-color: #fff;
  }
  .f-fakeSelect .fakeSelect__option {
    position: static;
    width: auto;
    background-color: transparent;
    margin-top: 0.5rem;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .f-fakeSelect .fakeSelect__option .option {
    color: #fff;
    text-align: left;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  .f-fakeSelect .fakeSelect__option .option:last-child {
    margin-bottom: 0;
  }
  .f-fakeSelect .fakeSelect__option .option:hover {
    color: #fff;
  }
}

.l-navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.l-navbar .navbarItem {
  margin-right: 2rem;
}
.l-navbar .navbarItem:last-child {
  margin-right: 0;
}
.l-navbar .navbarItem a {
  font-size: 1.25rem;
  font-weight: 500;
  color: #040000;
  line-height: 1.5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  display: block;
  text-align: left;
}
.l-navbar .navbarItem a:hover {
  color: #0094FF;
  text-decoration: none;
}
.l-navbar .navbarItem.is-active a {
  color: #FF8A00;
}
@media (max-width: 769px) {
  .l-navbar {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .l-navbar .navbarItem {
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .l-navbar .navbarItem a {
    font-size: 1.125rem;
    color: #fff;
  }
}

.gotop {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
}

.l-footer {
  position: relative;
  background: #2C2C2C;
  color: #fff;
  padding: 2rem 0;
}
.l-footer p {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.8;
}
.l-footer p a {
  color: #fff;
}

.btn {
  border-radius: 0;
  border: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.btn .btn__text {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.btn--primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 13.75rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 0.625rem;
  background-color: #fff;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
.btn--primary .btn__text {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #0094FF;
}
@media (min-width: 1200px) {
  .btn--primary:hover {
    background-color: #0094FF;
  }
  .btn--primary:hover .btn__text {
    color: #fff;
  }
}
.btn--article {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.btn--article:after {
  content: "";
  display: block;
  width: 1.0625rem;
  height: 1.0625rem;
  -webkit-mask-image: url("../images/arrow-article.svg");
          mask-image: url("../images/arrow-article.svg");
  background-color: #30363A;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0.3125rem;
  margin-top: 0.125rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.btn--article .btn__text {
  color: #242E40;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.44444;
}
@media (min-width: 1200px) {
  .btn--article:hover .btn__text {
    color: #0094FF;
  }
  .btn--article:hover:after {
    background-color: #0094FF;
  }
}
.btn--video {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: #A8A098;
}
.btn--video:after {
  content: "";
  display: block;
  width: 1.0625rem;
  height: 1.0625rem;
  -webkit-mask-image: url("../images/arrow-video.svg");
          mask-image: url("../images/arrow-video.svg");
  background-color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0.3125rem;
  margin-top: 0.125rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.btn--video .btn__text {
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  .btn--video:hover .btn__text {
    color: #FFC267;
  }
  .btn--video:hover:after {
    background-color: #FFC267;
  }
}
.btn--subscribe {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 1.4375rem;
  background-color: #FF9900;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
}
.btn--subscribe .btn__text {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
}
@media (min-width: 1200px) {
  .btn--subscribe:hover {
    background-color: #0094FF;
  }
  .btn--subscribe:hover .action__text {
    color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.h1 {
  font-size: 62px;
  line-height: 1.5;
}

.h2 {
  font-size: 30px;
  line-height: 1.5;
}

.h3 {
  font-size: 22px;
  line-height: 1.6;
}

.h4 {
  font-size: 16px;
  line-height: 1.5;
}

.h5 {
  font-size: 14px;
  line-height: 1.5;
}

.page {
  scroll-behavior: smooth;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.openMenu {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .main {
    padding-bottom: 1.5rem;
  }
}

.kv {
  padding: 0;
  position: relative;
  background-color: #FF8A00;
}
.kv:before {
  content: "";
  display: block;
  padding-top: 195.2%;
}
@media (min-width: 769px) {
  .kv:before {
    padding-top: 62.6388888889%;
  }
}
.kv .opening {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.kv .opening__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.kv .opening__layer--1 {
  z-index: 2;
  background-image: url("../images/opening/mb/layer_1.jpg");
}
.kv .opening__layer--2 {
  z-index: 3;
  background-image: url("../images/opening/mb/layer_2.svg");
}
.kv .opening__layer--3 {
  z-index: 4;
  background-image: url("../images/opening/mb/layer_3.svg");
}
@media (min-width: 769px) {
  .kv .opening__layer--1 {
    background-image: url("../images/opening/pc/layer_1.jpg");
  }
  .kv .opening__layer--2 {
    background-image: url("../images/opening/pc/layer_2.svg");
  }
  .kv .opening__layer--3 {
    background-image: url("../images/opening/pc/layer_3.svg");
  }
}

.section {
  position: relative;
  padding: 6rem 0;
  overflow: hidden;
}
@media (max-width: 768px) {
  .section {
    padding: 3.5rem 0 !important;
  }
}
.section .container {
  position: relative;
  z-index: 5;
}
.section .animateTitle {
  position: relative;
}
.section .animateTitle--d {
  display: none;
}
.section .animateTitle--m {
  display: block;
}
@media (min-width: 768px) {
  .section .animateTitle--d {
    display: block;
  }
  .section .animateTitle--m {
    display: none;
  }
  .section .animateTitle.is-intro {
    max-width: 47.5rem;
    margin: 0 auto;
  }
  .section .animateTitle.is-point {
    max-width: 25.0625rem;
  }
  .section .animateTitle.is-article {
    max-width: 36.0625rem;
  }
  .section .animateTitle.is-movie {
    max-width: 24.4375rem;
  }
  .section .animateTitle.is-promo {
    max-width: 24.4375rem;
  }
}
.section .animateTitle .animateTitle__item {
  left: 0;
  top: 0;
  width: 100%;
}
.section .animateTitle .animateTitle__item img {
  width: 100%;
}
.section .animateTitle .animateTitle__item:nth-child(1) {
  position: relative;
  z-index: 1;
}
.section .animateTitle .animateTitle__item:nth-child(2) {
  position: absolute;
  z-index: 2;
}
.section .animateTitle .animateTitle__item:nth-child(3) {
  position: absolute;
  z-index: 3;
}
.section .animateTitle .animateTitle__item:nth-child(4) {
  position: absolute;
  z-index: 4;
}
.section .section__title {
  position: relative;
  text-align: left;
}
.section--intro {
  background-color: #FF8A00;
}
.section--intro:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: 0;
  height: 17.5rem;
  width: 100%;
  background-image: url("../images/dot-white.png");
  background-size: 1.625rem 1.625rem;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.7;
}
@media (max-width: 768px) {
  .section--intro:after {
    height: 13.125rem;
  }
}
@media (max-width: 768px) {
  .section--intro .container {
    padding: 0;
  }
}
.section--intro .section__title {
  margin-bottom: 1.4375rem;
}
@media (max-width: 768px) {
  .section--intro .section__title {
    padding: 0 0.25rem;
    margin-bottom: 0.6875rem;
  }
}
.section--intro .section__content .record {
  margin-top: 1rem;
}
.section--intro .section__content .action {
  margin-top: 3rem;
}
.section--intro .section__content .snsShare {
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .section--intro .section__content {
    padding: 0 1rem;
  }
}
.section--intro .handWrite {
  position: relative;
  display: inline-block;
}
.section--intro .handWrite:before, .section--intro .handWrite:after {
  content: "";
  display: block;
  position: absolute;
  width: 2.6875rem;
  height: 2.5625rem;
  border: 0.1875rem solid #fff;
}
.section--intro .handWrite:before {
  border-right: none;
  border-bottom: none;
  top: 0;
  left: -1.25rem;
}
.section--intro .handWrite:after {
  border-left: none;
  border-top: none;
  bottom: 1.25rem;
  right: -1.25rem;
}
@media (max-width: 768px) {
  .section--intro .handWrite {
    width: 100%;
  }
  .section--intro .handWrite:before {
    left: 1rem;
  }
  .section--intro .handWrite:after {
    right: 1rem;
  }
}
.section--intro .handWrite__text {
  position: relative;
}
.section--intro .handWrite__text:before {
  content: "";
  display: block;
  width: 31.25rem;
  height: 14.25rem;
  background-image: url("../images/handwrite-intro_brush.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
@media (max-width: 768px) {
  .section--intro .handWrite__text:before {
    width: 100%;
    height: auto;
    padding-top: 49.8666666667%;
  }
}
.section--intro .handWrite__text img {
  position: absolute;
  top: 0;
  left: 0;
}
.section--intro .paragraph {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.9;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 768px) {
  .section--intro .paragraph {
    text-align: left;
  }
  .section--intro .paragraph br {
    display: none;
  }
}
.section--intro .record {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section--intro .record > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  position: relative;
  padding-left: 1.625rem;
}
.section--intro .record > li:before {
  content: "";
  position: absolute;
  top: 0.625rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #2c2c2c;
}
.section--intro .record > li > div {
  font-size: 1.25rem;
  line-height: 1.9;
  color: #fff;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section--intro .record > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}
.section--intro .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--intro .snsShare {
  text-align: center;
}
.section--point {
  background-color: #0094FF;
}
.section--point:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  z-index: 0;
  height: 27.625rem;
  width: 100%;
  background-image: url("../images/dot-white.png");
  background-size: 1.625rem 1.625rem;
  background-repeat: repeat;
  background-position: center;
}
@media (max-width: 768px) {
  .section--point:after {
    height: 6.25rem;
    bottom: 3rem;
  }
}
.section--point:before {
  content: "Self-Learning Strategies";
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.125rem;
  letter-spacing: 0.09375rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  left: 2rem;
  top: 6rem;
  color: #186C98;
}
@media (max-width: 768px) {
  .section--point:before {
    display: none;
  }
}
@media (max-width: 768px) {
  .section--point .container {
    padding: 0 0.3125rem;
  }
}
@media (min-width: 1200px) {
  .section--point .container {
    max-width: 1200px;
    padding: 0 0.25rem;
  }
}
.section--point .section__title {
  text-align: center;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .section--point .section__title {
    padding: 0 0.9375rem;
  }
}
.section--point .section__content {
  margin-top: 4.1875rem;
}
.section--point .pointList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section--point .pointList > li {
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 1.5rem;
}
@media (min-width: 1200px) {
  .section--point .pointList > li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% - 6.25rem) / 3);
            flex: 0 0 calc((100% - 6.25rem) / 3);
    margin-right: 3.125rem;
    margin-bottom: 0;
  }
  .section--point .pointList > li:nth-child(3n) {
    margin-right: 0;
  }
}
.section--point .pointItem {
  max-width: 25.875rem;
  margin: 0 auto;
  text-align: center;
}
.section--point .pointItem__title {
  display: inline-block;
  padding: 0.625rem 1.25rem;
  text-align: center;
  margin-bottom: 1.375rem;
  background-color: #FF8A00;
}
@media (max-width: 768px) {
  .section--point .pointItem__title {
    max-width: 33%;
  }
  .section--point .pointItem__title img {
    width: 100%;
  }
}
.section--point .pointItem__content {
  background-color: #F9F8F8;
  padding: 4.6875rem 1.6875rem 4.375rem;
}
@media (max-width: 767px) {
  .section--point .pointItem__content {
    padding: 3rem 1.6875rem;
    min-height: unset;
  }
}
.section--point .pointItem__content .topic {
  margin-bottom: 1.5rem;
  text-align: center;
}
.section--point .pointItem__content .topic img {
  width: 100%;
}
.section--point .pointItem__content .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section--point .pointItem__content .list > li {
  position: relative;
  padding-left: 1.125rem;
  margin-bottom: 1rem;
  text-align: left;
}
.section--point .pointItem__content .list > li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0.625rem;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #FF9900;
  border-radius: 50%;
}
.section--point .pointItem__content .list > li:last-child {
  margin-bottom: 0;
}
.section--point .pointItem__content .list > li span {
  font-size: 1.0625rem;
  line-height: 1.6;
  color: #2F2F2F;
}
.section--point .pointItem--1 .pointItem__content {
  clip-path: polygon(90% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
}
.section--point .pointItem--2 .pointItem__content {
  clip-path: polygon(100% 0, 100% 82%, 90% 100%, 0 100%, 0 0);
}
.section--point .pointItem--3 .pointItem__content {
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
}
.section--article {
  padding: 6rem 0 7.0625rem;
  background-color: #fff;
}
.section--article:before {
  content: "Holistic Learning Journal";
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.125rem;
  letter-spacing: 0.09375rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  right: 2rem;
  top: 14.5rem;
  color: #A8A098;
  background-color: #fff;
  z-index: 5;
}
@media (max-width: 768px) {
  .section--article:before {
    display: none;
  }
}
.section--article:after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  z-index: 0;
  height: calc(100% - 7.3125rem);
  width: 50%;
  background-image: url("../images/dot-gray.png");
  background-size: 1.625rem 1.625rem;
  background-repeat: repeat;
  background-position: center top;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .section--article:after {
    width: 100%;
    height: 78%;
    top: auto;
    bottom: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background-position: left top;
  }
}
@media (min-width: 1200px) {
  .section--article .container {
    max-width: 1200px;
    padding: 0;
  }
}
.section--article .section__title {
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .section--article .section__title {
    margin-bottom: 2rem;
    padding: 0 1.25rem;
  }
}
.section--article .section__content .subTitle {
  margin-bottom: 1.5rem;
}
@media (min-width: 1200px) {
  .section--article .section__content {
    padding: 0 6.25rem;
  }
}
.section--article .subTitle {
  color: #2C2C2C;
  font-size: 1.625rem;
  font-weight: 600;
}
.section--article .articleList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section--article .articleList > li {
  margin-bottom: 3.5rem;
}
.section--article .articleList > li:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .section--article .articleList > li {
    margin-bottom: 2rem;
  }
}
.section--article .articleItem {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 768px) {
  .section--article .articleItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
    padding-right: 0;
  }
}
.section--article .articleItem__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19.875rem;
          flex: 0 0 19.875rem;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.section--article .articleItem__media:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-color: #FF9900;
  z-index: 0;
  width: calc(100% + 0.3125rem);
  height: calc(100% + 0.3125rem);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.section--article .articleItem__media .cover {
  position: relative;
  overflow: hidden;
}
.section--article .articleItem__media .cover:before {
  content: "";
  display: block;
  padding-top: 63.7770897833%;
}
.section--article .articleItem__media .cover img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media (max-width: 768px) {
  .section--article .articleItem__media {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
@media (min-width: 1200px) {
  .section--article .articleItem__media:hover:after {
    background-color: #0094FF;
  }
  .section--article .articleItem__media:hover .cover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.section--article .articleItem__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 19.875rem);
          flex: 0 0 calc(100% - 19.875rem);
  padding-left: 2rem;
}
.section--article .articleItem__text .title {
  display: block;
  color: #FF9900;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2.25rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
@media (max-width: 768px) {
  .section--article .articleItem__text .title {
    font-size: 1.375rem;
  }
}
@media (min-width: 1200px) {
  .section--article .articleItem__text .title:hover {
    color: #0177CC;
  }
}
.section--article .articleItem__text .intro {
  margin-top: 1rem;
}
.section--article .articleItem__text .intro p {
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 0.625rem;
}
.section--article .articleItem__text .intro p:last-child {
  margin-bottom: 0;
}
.section--article .articleItem__text .action {
  margin-top: 1rem;
  text-align: left;
}
@media (max-width: 768px) {
  .section--article .articleItem__text .action {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .section--article .articleItem__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 1rem;
  }
}
.section--movie {
  background-color: #A8A098;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("../images/dot-movie_mb.png");
}
.section--movie:before {
  content: "Video";
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.125rem;
  letter-spacing: 0.09375rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  right: 2rem;
  bottom: 4rem;
  color: #C5C2C0;
}
@media (max-width: 768px) {
  .section--movie:before {
    display: none;
  }
}
@media (min-width: 1200px) {
  .section--movie {
    background-image: url("../images/dot-movie.png");
  }
  .section--movie .container {
    max-width: 1200px;
    padding: 0;
  }
}
.section--movie .section__title {
  margin-bottom: 5.25rem;
}
@media (max-width: 768px) {
  .section--movie .section__title {
    margin-bottom: 2rem;
    padding: 0 1.5625rem;
  }
}
.section--movie .movieList {
  position: relative;
}
.section--movie .movieList--normal {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 768px) {
  .section--movie .movieList--normal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section--movie .movieList--normal > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - 3.125rem) / 2);
          flex: 0 0 calc((100% - 3.125rem) / 2);
  margin-right: 3.125rem;
}
.section--movie .movieList--normal > li:nth-child(2) {
  margin-right: 0;
}
@media (max-width: 768px) {
  .section--movie .movieList--normal > li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .section--movie .movieList--normal > li:last-child {
    margin-bottom: 0;
  }
}
.section--movie .movieList--normal > li .action {
  margin-top: 1.8125rem;
}
@media (max-width: 768px) {
  .section--movie .movieList--normal > li .action {
    margin-top: 1.3125rem;
  }
}
.section--movie .movieList--shorts .swiper {
  width: calc(100% - 6.5rem);
  margin: 0 auto;
}
.section--movie .movieList--shorts .swiper-button-prev,
.section--movie .movieList--shorts .swiper-button-next {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section--movie .movieList--shorts .swiper-button-prev:after,
.section--movie .movieList--shorts .swiper-button-next:after {
  display: none;
}
.section--movie .movieList--shorts .swiper-button-prev {
  left: 0;
  background-image: url("../images/arrow-slide_prev.svg");
}
.section--movie .movieList--shorts .swiper-button-next {
  right: 0;
  background-image: url("../images/arrow-slide_next.svg");
}
.section--movie .movieBox {
  position: relative;
  max-width: 46.8125rem;
  margin: 0 auto;
}
.section--movie .movieBox:before {
  content: "";
  display: block;
  padding-top: 56.2972292191%;
}
.section--movie .movieBox:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-color: #FF9900;
  z-index: 0;
  width: calc(100% + 0.3125rem);
  height: calc(100% + 0.3125rem);
}
.section--movie .movieBox > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.section--movie .action {
  text-align: center;
}
.section--movie .swiper .swiper-slide {
  position: relative;
}
.section--movie .swiper .swiper-slide:before {
  content: "";
  display: block;
  padding-top: 177.7777777778%;
}
.section--movie .swiper .swiper-slide iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.section--promo {
  background: rgb(236, 236, 236);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(65%, rgb(236, 236, 236)), color-stop(85%, rgb(255, 255, 255)));
  background: linear-gradient(0deg, rgb(236, 236, 236) 65%, rgb(255, 255, 255) 85%);
}
.section--promo:before {
  content: "Accelerated Learning";
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  line-height: 1.3;
  font-size: 1.125rem;
  letter-spacing: 0.09375rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  left: 2rem;
  bottom: 4rem;
  color: #C5C2C0;
}
@media (max-width: 768px) {
  .section--promo:before {
    display: none;
  }
}
.section--promo:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  z-index: 0;
  height: 100%;
  bottom: 0;
  width: 100%;
  background-image: url("../images/dot-white.png");
  background-size: 1.625rem 1.625rem;
  background-repeat: repeat;
  background-position: center bottom;
}
@media (min-width: 1440px) {
  .section--promo .container {
    max-width: 1200px;
    padding: 0;
  }
}
.section--promo .section__title {
  margin-bottom: 2.5rem;
}
@media (max-width: 768px) {
  .section--promo .section__title {
    margin-bottom: 2rem;
    padding: 0 1.375rem;
  }
}
@media (max-width: 768px) {
  .section--promo .section__content {
    padding: 0 1rem;
  }
}
.section--promo .promoList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section--promo .promoList > li {
  margin-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .section--promo .promoList > li {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .section--promo .promoList > li {
    margin-bottom: 3.125rem;
  }
  .section--promo .promoList > li .promoItem {
    height: 100%;
  }
}
.section--promo .promoItem {
  display: block;
}
.section--promo .promoItem__media {
  text-align: center;
}
.section--promo .promoItem__media .coverImg {
  position: relative;
  margin: 0 auto;
  width: 52%;
}
.section--promo .promoItem__media .coverImg:before {
  content: "";
  display: block;
  padding-top: 143.3155080214%;
}
.section--promo .promoItem__media .coverImg:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-color: #FF9900;
  z-index: 0;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.section--promo .promoItem__media .coverImg > img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.section--promo .promoItem__text {
  margin-top: 1.0625rem;
}
.section--promo .promoItem__text .title {
  color: #222222;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.section--promo .promoItem__text .publish {
  margin-top: 0.25rem;
  font-size: 1rem;
  color: #727272;
  font-weight: 400;
  text-align: center;
}
.section--promo .promoItem__text .description {
  color: #2F2F2F;
  margin-top: 0.25rem;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.47;
}
@media (min-width: 1200px) {
  .section--promo .promoItem--link:hover .promoItem__media .coverImg:after {
    background-color: #0094FF;
  }
  .section--promo .promoItem--link:hover .promoItem__text .title {
    color: #0094FF;
  }
}
.section--subscribe {
  background-color: #fff;
}
.section--subscribe .section__title {
  margin-bottom: 3rem;
  text-align: center;
}
.section--subscribe .section__title:before {
  display: none;
}
.section--subscribe .section__title .text {
  font-family: "Noto Serif TC", serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  font-size: 1.5rem;
  color: #2F2F2F;
}
@media (min-width: 768px) {
  .section--subscribe .section__title .text {
    font-size: 2rem;
  }
  .section--subscribe .section__title .text br {
    display: none;
  }
}
@media (max-width: 768px) {
  .section--subscribe .section__title {
    margin-bottom: 2rem;
  }
}
.section--subscribe .subscribeList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.section--subscribe .subscribeList > li:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .section--subscribe .subscribeList > li {
    margin-bottom: 1rem;
  }
}
.section--subscribe .subscribeItem {
  text-align: center;
}
.section--subscribe .subscribeItem .subscribeItem__action {
  margin-bottom: 1rem;
}
.section--subscribe .subscribeItem__desc {
  font-size: 1.0625rem;
  line-height: 1.7;
  color: #222222;
}