@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-style: inherit;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}

del,
ins {
  text-decoration: none;
}

li {
  font-style: inherit;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

legend {
  color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input,
button,
textarea,
select {
  *font-size: 100%;
}

html {
  height: 100%;
  max-height: 50000em;
}

body {
  height: 100%;
  font-size: 100%;
  color: #17181A;
  font-family: "Noto Sans TC", "Open Sans", Arial, Helvetica, sans-serif, "微軟正黑體", "Microsoft JhengHei", "STHeiti Light", "儷黑 Pro", "LiHei Pro", "Microsoft Yahei", "Microsoft JhengHei", "新細明體", serif; /* 1 */
  line-height: 1.44;
  font-weight: 300;
  -ms-text-size-adjust: 100%; /* 2 */
  -moz-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  text-size-adjust: 100%; /* 2 */
  background: #FFFFFF;
}

div,
ul,
li,
header,
footer,
section,
p,
dl,
dt,
dd {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

body {
  background-color: #FFFFFF;
}

/*--------- navbar -----------*/
.l-header {
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.l-header > .container-fluid {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.l-header.is-scrolled {
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
}
.l-header__toggler {
  z-index: 150;
  width: 30px;
  height: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 769px) {
  .l-header__toggler {
    display: none !important;
  }
}
.l-header__toggler span {
  width: 30px;
  height: 4px;
  background-color: #FFFFFF;
  display: block;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.l-header__toggler.is-active {
  z-index: 150;
}
.l-header__toggler.is-active span {
  width: 30px;
  height: 4px;
  background-color: #FFFFFF;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.l-header__toggler.is-active span:nth-child(2) {
  opacity: 0;
}
.l-header__toggler.is-active span:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}
.l-header__toggler.is-active span:nth-child(3) {
  -webkit-transform: translateY(-17px) rotate(-45deg);
          transform: translateY(-17px) rotate(-45deg);
}
.l-header__logo {
  z-index: 20;
}
.l-header__logo .logoItem img {
  height: 1.875rem;
  width: auto !important;
}
@media (min-width: 1200px) {
  .l-header__logo .logoItem img {
    height: 2.5rem;
  }
}
.l-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 769px) {
  .l-header__nav {
    position: fixed;
    visibility: hidden;
    overflow: hidden;
    top: 0;
    width: 50%;
    height: 100%;
    right: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 6rem;
    text-align: center;
    background-color: #343a40;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .l-header__nav.is-open {
    visibility: visible;
    right: 0;
  }
}

.f-fakeSelect {
  position: relative;
  width: 7.5rem;
}
.f-fakeSelect .fakeSelect__toggler {
  padding: 11px 14px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.f-fakeSelect .fakeSelect__toggler:after {
  content: "";
  display: block;
  background-color: #F15C3B;
  width: 0.75rem;
  height: 0.75rem;
}
.f-fakeSelect .fakeSelect__toggler.active:after {
  background-color: #3C3E3F;
}
.f-fakeSelect .fakeSelect__option {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  border: 1px solid #E1E2E6;
  border-radius: 4px;
  margin-top: 4px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  z-index: 1000;
}
.f-fakeSelect .fakeSelect__option .option {
  padding: 12px 40px 12px 16px;
  font-size: 16px;
  line-height: 1;
  position: relative;
}
.f-fakeSelect .fakeSelect__option .option.active {
  color: #F15C3B;
}
.f-fakeSelect .fakeSelect__option .option.active:after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
}

.l-navbar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.l-navbar .navbarItem {
  padding: 0 0.5rem;
  color: inherit;
  font-size: 0.85rem;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  padding: 0 1rem;
}
.l-navbar .navbarItem a {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  display: block;
}
.l-navbar .navbarItem a:hover {
  color: #F15C3B;
  text-decoration: none;
}
.l-navbar .navbarItem.is-active a {
  color: #F15C3B;
}
@media (max-width: 769px) {
  .l-navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .l-navbar .navbarItem {
    color: #FFFFFF;
    font-size: 1.3rem;
    padding: 0.5rem;
  }
}

.gotop {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
}

.l-footer {
  position: relative;
  background: #3C3E3F;
  color: #FFFFFF;
  padding: 2rem 0;
}
.l-footer p {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.8;
}
.l-footer p a {
  color: #FFFFFF;
}

.btn {
  border-radius: 0;
  border: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.btn .btn__text {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.btn--default {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 24px;
  background-color: #F15C3B;
  border-radius: 21px;
}
.btn--default .btn__text {
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.h1 {
  font-size: 62px;
  line-height: 1.5;
}

.h2 {
  font-size: 30px;
  line-height: 1.5;
}

.h3 {
  font-size: 22px;
  line-height: 1.6;
}

.h4 {
  font-size: 16px;
  line-height: 1.5;
}

.h5 {
  font-size: 14px;
  line-height: 1.5;
}

.page {
  scroll-behavior: smooth;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.openMenu {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.kv {
  background-color: #F15C3B;
  position: relative;
}
.kv:before {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.kv .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 5;
}
.kv__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section {
  min-height: 100vh;
}
.section--intro .section__title {
  text-align: center;
}
.section--intro .section__title img {
  width: 100%;
}
.section--intro .handWrite {
  position: relative;
  display: inline-block;
  padding: 1rem 0.625rem 0rem 0.625rem;
}
.section--intro .handWrite:before, .section--intro .handWrite:after {
  content: "";
  display: block;
  position: absolute;
  width: 2.6875rem;
  height: 2.5625rem;
  border: 0.1875rem solid rgba(241, 92, 59, 0.5);
}
.section--intro .handWrite:before {
  border-right: none;
  border-bottom: none;
  top: 0;
  left: 0;
}
.section--intro .handWrite:after {
  border-left: none;
  border-top: none;
  bottom: 0;
  right: 0;
}
.section--intro .paragraph {
  text-align: center;
  line-height: 1.9;
}
@media (max-width: 768) {
  .section--intro .paragraph {
    text-align: left;
  }
}
.section--intro .record {
  margin: 0;
  padding: 0;
  list-style: none;
}