.bg--primary {
    background-color: $primary;
}

.bg--secondary {
    background-color: $secondary;
}

.bg--dark {
    background-color: $dark;
}

.bg--darker {
    background-color: $gray-300;
}

.bg--white {
    background-color: $white;
}

.bg--gray {
    background-color: #EFEFEF;
}

.bg--light {
    background-color: $light;
}

.txt--white {
    color: $white;
}

.txt--dark {
    color: $dark;
}

.txt--primary {
    color: $primary;
}

.txt--secondary {
    color: $secondary;
}