@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html {
  font-size: 16px;
}

body {
  font-size: 100%;
  color: #17181A;
  line-height: 1.44;
  font-weight: 300;
  -ms-text-size-adjust: 100%; /* 2 */
  -moz-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  text-size-adjust: 100%; /* 2 */
  background: #FFFFFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-style: inherit;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}

del,
ins {
  text-decoration: none;
}

li {
  font-style: inherit;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: baseline;
}

sub {
  vertical-align: baseline;
}

legend {
  color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input,
button,
textarea,
select {
  *font-size: 100%;
}

div,
ul,
li,
header,
footer,
section,
p,
dl,
dt,
dd {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* 取消新版chrome搞出來的黑框bug */
*, *:focus {
  outline: none;
}

button:active, button.active, button:focus, button.focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* ==================================================
   BS內建
================================================== */
html {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", -apple-system, Segoe UI, Roboto, "微軟正黑體", "Helvetica Neue", Arial, sans-serif; /*無襯線字體sans-serif*/
  font-weight: bold;
  margin: 0 auto;
  background-color: #FFECD5;
  color: #333333;
}

/* ==================================================
   header
================================================== */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  padding: 1rem 1.875rem;
}
.navbar .nav-link {
  font-size: 1.125rem;
  display: block;
  color: #333333;
  text-decoration: none;
}
.navbar .nav-link.active {
  color: #EB6E02;
}
.navbar .navbar-brand {
  padding: 0;
}
.navbar .navbar-brand img {
  width: auto;
}
@media (min-width: 320px) {
  .navbar .navbar-brand img {
    height: 1.875rem;
  }
}
@media (min-width: 390px) {
  .navbar .navbar-brand img {
    height: 2.5rem;
  }
}
@media (min-width: 768px) {
  .navbar .navbar-brand img {
    height: 3.125rem;
  }
}
.navbar-expand-lg .navbar-nav .nav-item {
  margin-left: 1.875rem;
}
.navbar-expand-lg .navbar-nav .nav-item:first-child {
  margin-left: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}

/*ipad 橫式 lg以下*/
@media (max-width: 1199.98px) {
  .navbar {
    padding-right: 1.1rem;
    padding-left: 1.1rem;
  }
  .navbar-brand img {
    height: 40px;
  }
}
/*ipad 橫式 lg*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar .nav-link {
    font-size: 1.05rem;
    padding: 0 1rem !important;
  }
}
/*ipad 直式 md以下*/
@media (max-width: 991.98px) {
  /*.navbar-collapse {
  	height: 100vh;
  }*/
  .navbar-nav {
    margin: 1.3rem 0;
    padding-bottom: 20em;
  }
  .navbar .nav-link {
    font-size: 1.5rem;
    padding: 0.75rem 0;
    padding-left: 5px !important;
  }
}
/*手機版~*/
@media (max-width: 767.98px) {
  .navbar {
    padding-right: 0.75rem;
    padding-left: 0.5rem;
  }
  .navbar-brand img {
    height: 35px;
  }
  .navbar .nav-link {
    font-size: 1.3rem;
    padding: 0.5rem 0;
    padding-left: 5px !important;
  }
}
/* ==================================================
   漢堡按鈕-旋轉X
================================================== */
.navbar-toggler {
  padding: 0;
  border-radius: 0;
  background-color: none;
  border: none;
}
.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*Hamburger Menu to X css*/
.navbarX {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent !important;
  position: relative;
  float: right;
  margin-right: 0;
  cursor: pointer;
}
@media (min-width: 992px) {
  .navbarX {
    display: none;
  }
}
.navbarX i {
  display: block;
  background: #222222;
  border-radius: 0.1875rem;
  width: 100%;
  height: 0.1875rem;
}
.navbarX i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
          animation: outT 0.8s backwards; /*若要取消進場動畫*/
  animation-direction: reverse;
}
.navbarX i:nth-child(2) {
  margin: 0.3125rem 0;
  -webkit-animation: outM 0.8s backwards;
          animation: outM 0.8s backwards; /*若要取消進場動畫*/
  animation-direction: reverse;
}
.navbarX i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
          animation: outBtm 0.8s backwards; /*若要取消進場動畫*/
  animation-direction: reverse;
}
.navbarX.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
          animation: inT 0.8s forwards;
}
.navbarX.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
          animation: inM 0.8s forwards;
}
.navbarX.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
          animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(7px) rotate(135deg);
            transform: translateY(7px) rotate(135deg); /*微上調2px*/
  }
}
@keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(7px) rotate(135deg);
            transform: translateY(7px) rotate(135deg); /*微上調2px*/
  }
}
@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(7px) rotate(135deg);
            transform: translateY(7px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
            transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(7px) rotate(135deg);
            transform: translateY(7px) rotate(135deg);
  }
}
@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}
@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
            transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
            transform: translateY(-9px) rotate(135deg);
  }
}
/* ==================================================
   footer 康健規範-白底黑字款
================================================== */
footer {
  background-color: #fff;
  width: 100%;
  padding: 30px 0 15px;
}
footer a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #2E6232;
  text-decoration: none;
}
footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
footer ul li {
  font-size: 15px;
  line-height: 15px;
  border-right: 1px solid var(--green-deep);
  padding: 0 10px 0 0;
  margin: 0 10px 10px 0;
}
footer ul li:last-child {
  border: none;
  padding: 0;
  margin: 0;
}
footer ul li a {
  color: #2E6232;
  line-height: 15px;
}
footer ul li a:hover {
  opacity: 0.65;
}
footer ul:last-child {
  margin: 0;
}
footer p {
  color: #2E6232;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  footer ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  footer ul li {
    padding: 0 5px 0 0;
    margin: 0 5px 10px 0;
  }
}

.btn-more {
  position: fixed;
  bottom: 2em;
  right: 15px;
  z-index: 9;
  -webkit-animation: loop 2.5s ease-out infinite;
          animation: loop 2.5s ease-out infinite; /*會一直重來loop播放*/
}
.btn-more img {
  height: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 120px;
}

.btn {
  padding: 0;
  border-radius: 0;
  border: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.btn .btn__text {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* ==================================================
   動畫 animation
================================================== */
@-webkit-keyframes zoomLoop {
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@keyframes zoomLoop {
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@-webkit-keyframes loop {
  50% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}
@keyframes loop {
  50% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}
@-webkit-keyframes decoDown {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: 180px;
  }
}
@keyframes decoDown {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: 180px;
  }
}
.zoomLoop {
  -webkit-animation: zoomLoop 1.5s ease-in infinite alternate;
          animation: zoomLoop 1.5s ease-in infinite alternate; /*infinite會一直loop播放*/ /*alternate會反轉*/
}

@-webkit-keyframes breath {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@keyframes breath {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
/*捲軸觸發區塊效果-inout*/
.inout {
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}
.inout.highlight {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* ==================================================
   RWD
================================================== */
/*桌上型 xl*/
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1000px;
  }
}
.hero {
  overflow: hidden;
  position: relative;
  background: radial-gradient(circle at 72.9% 21.1%, rgb(255, 146, 68) 11%, rgb(255, 231, 201) 50%);
}
@media (min-width: 320px) {
  .hero .cover {
    position: relative;
    z-index: 5;
    top: -1.25rem;
    left: -7rem;
    width: 46.875rem;
    height: 46.875rem;
  }
}
@media (min-width: 768px) {
  .hero .cover {
    position: absolute;
    top: -4.4375rem;
    left: auto;
    right: -6.3125rem;
    width: 40.75rem;
    height: 40.75rem;
  }
}
@media (min-width: 1024px) {
  .hero .cover {
    top: -2.9375rem;
    right: -8.5rem;
    width: 50.625rem;
    height: 50.625rem;
  }
}
@media (min-width: 1440px) {
  .hero .cover {
    top: -5.9375rem;
    right: -5.3125rem;
    width: 58.75rem;
    height: 58.75rem;
  }
}
.hero .cover .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .cover .wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding-top: 100%;
  background-image: url("../images/kv_wave.png");
  background-size: contain;
  -webkit-animation: breath 3s ease-in-out infinite alternate;
          animation: breath 3s ease-in-out infinite alternate;
}
.hero .cover .wrapper img {
  height: 50%;
  width: 50%;
  z-index: 5;
  -webkit-animation: breath 1.5s ease-in infinite alternate;
          animation: breath 1.5s ease-in infinite alternate;
}
.hero .mainKvBox {
  overflow: hidden;
}
@media (min-width: 768px) {
  .hero .mainKvBox {
    min-height: 100dvh;
  }
}
.hero .mainKvBox__text {
  position: relative;
  z-index: 10;
}
@media (min-width: 320px) {
  .hero .mainKvBox__text {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
  .hero .mainKvBox__text .intro {
    margin: 1.875rem 0 2.5rem;
  }
}
@media (min-width: 768px) {
  .hero .mainKvBox__text {
    padding-top: 7.5rem;
    padding-left: 2.5rem;
  }
  .hero .mainKvBox__text .slogan {
    width: 250px;
  }
  .hero .mainKvBox__text .intro {
    margin: 1.25rem 0 6.25rem;
  }
}
@media (min-width: 1024px) {
  .hero .mainKvBox__text {
    padding-top: 8.125rem;
    padding-left: 2.5rem;
  }
  .hero .mainKvBox__text .slogan {
    width: 350px;
  }
  .hero .mainKvBox__text .intro {
    margin: 1.75rem 0 4.5rem;
  }
}
@media (min-width: 1440px) {
  .hero .mainKvBox__text {
    padding-top: 8.4375rem;
    padding-left: 8.125rem;
  }
  .hero .mainKvBox__text .slogan {
    width: 31.25rem;
  }
  .hero .mainKvBox__text .intro {
    margin: 1.375rem 0 1.9375rem;
  }
}
.hero .mainKvBox__text .slogan img {
  width: 100%;
}
.hero .mainKvBox__text .intro {
  font-size: 2rem;
  line-height: 1.25;
  color: #333333;
}
.hero .mainKvBox__text .list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero .mainKvBox__text .list > li {
  margin-right: 1.25rem;
  position: relative;
  width: 8.125rem;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1.125rem rgba(255, 255, 255, 0.95);
          box-shadow: 0 0 1.125rem rgba(255, 255, 255, 0.95);
}
.hero .mainKvBox__text .list > li:last-child {
  margin-right: 0;
}
.hero .mainKvBox__text .list > li:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.hero .mainKvBox__text .list > li img {
  width: 100%;
}
.hero .mainKvBox__text .list > li span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  color: #fff;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.hero .mainKvBox__text .list > li:hover:after {
  opacity: 1;
}
.hero .mainKvBox__text .list > li:hover span {
  opacity: 1;
}

.section {
  /* ==================================================
  	延伸閱讀
  ================================================== */
}
.section .section__title {
  padding: 1.90625rem 0;
  text-align: center;
  font-weight: bold;
  position: relative;
}
.section .section__title .topic {
  font-size: 2.625rem;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
}
.section .section__title .sub {
  margin-top: 0.75rem;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
}
.section .section__title .desc {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
}
.section .section__title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 15rem;
  height: 100%;
  background-size: 7.5rem auto;
  background-repeat: repeat;
  -webkit-animation: decoDown 10s infinite linear;
          animation: decoDown 10s infinite linear;
}
.section .section__content {
  padding-top: 3.125rem;
}
.section--quiz {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.section--quiz .section__title {
  padding: 0;
  margin-bottom: 1.875rem;
}
.section--quiz .section__title .topic {
  color: #EB6E02;
}
.section--quiz .section__title .sub {
  margin-top: 1.5625rem;
  color: #EB6E02;
}
.section--quiz .section__title .desc {
  margin-top: 3.4375rem;
  color: #333333;
}
.section--quiz .section__title:before {
  display: none;
}
.section--about .section__title {
  background-color: #EB6E02;
}
.section--about .section__title:before {
  background-image: url("../images/deco_title-light.svg");
  opacity: 0.3;
}
.section--about .section__content .chapter:last-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFECD5), to(#B3C9B5));
  background: linear-gradient(180deg, #FFECD5 0%, #B3C9B5 100%);
}
.section--information {
  background-color: #D8E5D6;
}
.section--information .section__title {
  background-color: #2E6232;
}
.section--information .section__title:before {
  background-image: url("../images/deco_title-dark.svg");
  opacity: 0.5;
}
.section--process {
  background-color: #D8E5D6;
}
.section--process .section__title {
  background-color: #2E6232;
}
.section--process .section__title:before {
  background-image: url("../images/deco_title-dark.svg");
  opacity: 0.3;
}
.section--article {
  padding-bottom: 6.25rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #D8E5D6), to(#fff));
  background: linear-gradient(180deg, #D8E5D6 60%, #fff 100%);
}
.section--article .slickList--article {
  width: 100%;
}
.section--article .slickList--article .slickList__item {
  margin-right: 1.25rem;
}

.stressForm {
  max-width: 41.25rem;
  margin: 0 auto;
}
.stressForm__questions {
  padding: 3.125rem 2.375rem;
  border: 2px solid #333333;
  border-radius: 1.75rem;
  background-color: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.stressForm .quizBox {
  display: none;
}
.stressForm .quizBox.active {
  display: block;
}
.stressForm .quizBox__question {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
  color: #333333;
  text-align: center;
}
.stressForm .quizBox__question > span {
  display: block;
  margin-bottom: 0.5rem;
}
.stressForm .quizBox__option {
  margin-top: 2.8125rem;
}
.stressForm .quizBox__option ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.stressForm .quizBox__option ul > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  margin-right: 1.25rem;
}
.stressForm .quizBox__option ul > li:last-child {
  margin-right: 0;
}
.stressForm .quizBox__option input[type=radio] {
  display: none;
}
.stressForm .quizBox__option input[type=radio]:checked + label {
  background-color: #333333;
}
.stressForm .quizBox__option label {
  display: block;
  padding: 0.875rem 0;
  background-color: #EB6E02;
  border-radius: 1.625rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  color: #fff;
}
.stressForm .quizBox__option label:hover {
  background-color: #333333;
}
.articleItem {
  display: block;
  border-radius: 0 0 1.25rem 1.25rem;
  overflow: hidden;
  color: #333333;
  background-color: #fff;
  text-decoration: none;
}
.articleItem .articleItem__img {
  position: relative;
}
.articleItem .articleItem__img:before {
  content: "";
  display: block;
  padding-top: 71.875%;
}
.articleItem .articleItem__img img {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.articleItem .articleItem__txt {
  padding: 1.25rem 2.5rem 1.875rem;
}
.articleItem .articleItem__txt .title {
  margin-bottom: 0.625rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.articleItem .articleItem__txt .intro {
  margin-top: 0.625rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.articleItem .articleItem__txt .more {
  margin-top: 0.625rem;
  text-align: left;
}
@media (min-width: 1200px) {
  .articleItem:hover .articleItem__img img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  .articleItem:hover .articleItem__txt .more {
    color: var(--green);
  }
}

/******************* slick start ******************/
.slick-slider {
  margin-bottom: 0;
}
.slick-slider .btn-arrowL,
.slick-slider .btn-arrowR {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 5rem;
  line-height: 1;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}
.slick-slider .btn-arrowL {
  right: 100%;
}
.slick-slider .btn-arrowR {
  left: 100%;
}

/******************* slick end ********************/