@import '_mixin';
@import '_variables';

section {
    padding: 5.6rem 0;

    @include rwd-max(565px) {
        padding: 2.6rem 0;
    }
}

h1 {
    @include font(50px, 1.3, 500);
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    @include font(rem(30), 1.3, 500);
}

h3 {
    @include font(rem(24), 1.3, 500);
}

h4 {
    @include font(rem(18), 1.5, 500);
}

h5 {
    @include font(rem(20), 1.8, 500);
}

h6 {
    @include font(12px, 1.6, 300);
}

p {
    @include font(18px, 1.85, 300);
    margin-bottom: 0;
}

a {
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;

    &:hover {
        text-decoration: none;
        color: $primary;
    }

}

.a__disable {
    cursor: default !important;
}

strong {
    font-weight: 500;
}

blockquote {
    @include font(24px, 1.5, 500);
    margin-bottom: 0;
}

li {
    list-style: none;
    line-height: 1.85;
    font-size: 18px;
}

button {
    outline: none;
    border: 0;

    &:focus {
        outline: none;
    }
}

input {
    outline: none;
    font-weight: 300;
}

img {
    display: block;
    width: 100%;
}


/*--------- navbar -----------*/

.l-navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: transparent;
    transition: all 0.3s ease;
}

.l-navbar>.container-fluid {
    padding: .5rem 2rem;
    background-color: transparent;
}

.l-navbar--scrolled {
    background-color: rgba($color: $dark, $alpha: 0.9);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);

    .l-navbar__menu__items a {
        color: $white;
    }

    .l-navbar__toggler span {
        background-color: $white;
    }
}

.l-navbar__toggler {
    z-index: 150;
    transition: all 0.3s ease;
}

@media (min-width: 769px) {
    .l-navbar__toggler {
        display: none !important;
    }
}

.l-navbar__toggler span {
    width: 30px;
    height: 4px;
    background-color: $black;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease;
}

.l-navbar__toggler--activate {
    width: 30px;
    height: 30px;
    z-index: 150;
}

.l-navbar__toggler--activate span {
    width: 30px;
    height: 4px;
    background-color: $white;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease;
}

.l-navbar__toggler--activate span:nth-child(2) {
    opacity: 0;
}

.l-navbar__toggler--activate span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.l-navbar__toggler--activate span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
}

.l-navbar__brand {
    z-index: 20;
    flex-grow: 1;
}

.l-navbar__brand img {
    height: rem(30);
    width: auto !important;

    @include rwd-min(1200px) {
        height: rem(40);
    }
}

.l-navbar__menu {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.l-navbar__menu__items {
    padding: 0 0.5rem;
    color: inherit;
    font-size: 0.85rem;
    color: $white;
    font-weight: 700;
    text-align: center;
    padding: 0 1rem;
}

.l-navbar__menu__items a {
    color: inherit;
    transition: all 0.3s ease;
    width: 100%;
    display: block;

    span {
        font-size: rem(14);
        font-weight: 500;
    }

    @include rwd-tablet-portrait {
        color: $dark;
    }
}

.l-navbar__menu__items a:hover {
    color: $primary;
    text-decoration: none;
}

.l-navbar__menu__items--active a {
    color: $primary;
}

@media (max-width: 769px) {
    .l-navbar__menu {
        visibility: hidden;
        overflow: hidden;
        height: 0;
        width: 0;
    }

    .l-navbar__menu.open {
        visibility: visible;
        flex-direction: column;
        padding-top: 6rem;
        text-align: center;
        position: fixed;
        background-color: #343a40;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.3s;
    }

    .l-navbar__menu__items {
        color: $white;
        padding: 0.5rem;
    }

    .l-navbar__menu__items a {
    
        span {
            font-size: rem(16);
        }
    }
}

.fakeSelect {
    position: relative;
	

	.fakeSelect__toggler {
		display: flex;
		justify-content: space-between;
		align-items: center;
        cursor: pointer;

        .option {
            font-size: rem(14);
            font-weight: 500;
            color: $white;
        }

		&:after {
			content: '';
			display: block;
			width: rem(8);
            height: rem(6);
            background-image: url('../images/arrow-select.svg');
            background-size: rem(8) rem(6);
            margin-left: rem(8);
            @include transition(all, .3s, ease-in);
		}

		&.active {

			&:after {
                @include rotate(-180);
			}
		}
	}

	.fakeSelect__option {
		display: none;
		position: absolute;
		top: 100%;
		left: rem(-10);
		right: 0;
		background-color: $white;
        padding: rem(8) 0;
		border-radius: rem(4);
		box-shadow: 0 rem(4) rem(9) rgba(0, 0, 0, .25);
		z-index: 1000;
        width: rem(120);

		.option {
            display: block;
            width: 100%;
			position: relative;
            padding: rem(4) 0;
            color: $black;
            @include transition(all,.3s, ease-in);

            &:hover {
                background-color: $primary;;
            }
		}
	}

    @include rwd-max(769px) {
        width: auto;

        .fakeSelect__toggler {
            
            .option {
                font-size: rem(16);
            }
    
        }

        .fakeSelect__option {
            position: static;
            background-color: transparent;
            border: none;
            width: auto;
            box-shadow: none;
            padding: rem(8) 0 0;

            .option {
                color: $primary;
                padding: 0;
                font-size: rem(14);
                padding: rem(4) 0;

                &:last-child {
                    margin-bottom: 0
                }

                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

/*---------- display ----------*/
.hide {
    display: none !important;

    &--hd {
        display: none !important;
    }

    &--mb {
        display: block !important;
    }
}

.hideF {
    display: none !important;

    &--hd {
        display: none !important;
    }

    &--mb {
        display: flex !important;
    }
}

/*---------- text ----------*/
.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.text {
    &--arial {
        font-family: Arial, 'Noto Sans TC', 'Roboto', 'Microsoft JhengHei', sans-serif;
    }

    &--main {
        color: $primary;
    }
}

.list {
    &--decimal {
        padding-left: 18px;

        li {
            list-style: decimal;
        }
    }

    &--upperAlpha {
        padding-left: 18px;

        li {
            list-style: upper-alpha;
            position: relative;

            &:before {
                content: '-';
                position: absolute;
                left: -28px;
            }
        }
    }
}

.floatCols {
    float: left;

    &:last-of-type:before {
        content: '';
        clear: both;
    }
}

/*---------- layouts ----------*/
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    padding-right: 40px;
    padding-left: 40px;
}

.main {
    // background-color: $gray-light;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.imageWrap {
    width: 100%;

    img {
        margin: 0 auto;
    }

    &--circle {
        border-radius: 50%;
        overflow: hidden;
    }
}

/*---------- footer ----------*/
.footer {
    text-align: center;
    padding: rem(50) 0;
    background-color: $dark;
    color: $white;
    font-size: rem(12);

    a,
    span {
        font-size: rem(12);
        font-weight: 300;
        display: inline-block;
        color: $white;
        @include transition-general
    }

    a:hover {
        color: $primary;
    }

    p {
        font-size: rem(12);
        line-height: 1.55;
        color: $white;
        margin-bottom: .25rem;
        font-weight: 300;
    }


    &__sponsor {
        img {
            height: 2.2rem;
            width: auto;
        }

        &__co {
            height: 45px;

            img {
                height: 100%;
                width: auto;
            }
        }
    }

    &__items {
        display: inline-block;
    }

}


//mfp iframe not overflow to show close btn
.mfp-iframe-scaler {
    overflow: unset;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1280px;
    }
}


@media only screen and (max-width: 768px) {
    h2 {
        font-size: rem(30);
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }

    .container,
    .container-sm {
        padding-right: 20px;
        padding-left: 20px;
    }

    /*---------- display ----------*/
    .hide {
        &--hd {
            display: block !important;
        }

        &--mb {
            display: none !important;
        }
    }

    .hideF {
        &--hd {
            display: flex !important;
        }

        &--mb {
            display: none !important;
        }
    }

}