.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.imgWrap {
    overflow: hidden;

    img {
        width: 100%;
        margin: 0 auto;
    }
}

body {
    background-color: $primary;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.p {

    &-imgBkg {
        background-color: $primary;

        &:before,
        &:after {
            content: '';
            position: relative;
            display: block;
            padding-top: calc((244 / 1488) * 100%);
            background-color: #313131;
        }

        &:before {
            top: 1px;
            clip-path: polygon(100% 0, 0 100%, 100% 100%);
        }

        &:after {
            bottom: 1px;
            clip-path: polygon(100% 0, 0 0, 100% 100%);
        }

    }

    @include rwd-min(1200px) {
        &__h3 {
            font-size: 1.5rem;
        }
    }

    &-section {
        position: relative;


        .marquee {
            display: none;


            @include rwd-min(1200px) {
                display: flex;
                position: absolute;
                top: 50%;
                @include translateY(-50%);
                width: 100%;
                overflow: hidden;
                z-index: 1;

                .marquee__content {
                    display: inline-flex;
                    flex-wrap: nowrap;
                    animation: marquee 100s linear infinite;

                    img {
                        width: auto;
                        margin-right: rem(60);
                    }
                }
            }
        }

        .container {
            position: relative;
            z-index: 5;
        }
    }

    &-summary {
        background-color: $primary;
        padding: 3.125rem 1rem;

        @include rwd-min(1200px) {
            padding: 5rem 0;
        }

        &__text {
            text-align: center;
            color: $black;
            font-weight: 500;
            font-size: rem(18);
            // text-align: justify;

            @include rwd-min(1200px) {
                font-size: rem(20);
            }
        }

        &__link {
            color: $secondary;
            display: inline-block;
            font-weight: 500;

            &:hover {
                color: $secondary;
                text-decoration: underline !important;
            }
        }


        &__dialog {
            width: 88%;
            margin: 82px auto 70px;
            height: 348px;

            .floatDialog {
                position: absolute;
                width: 596px;

                &--layer1 {
                    left: 0;
                    top: 0;
                    z-index: 1;
                }

                &--layer2 {
                    right: 0;
                    top: 147px;
                    z-index: 2;
                }
            }
        }
    }

    &-graph {
        background-color: #313131;
        position: relative;

        .animateChart {

            &--pc {
                display: none;
            }

            &--mb {
                display: block;
            }

            @include rwd-min(992px) {
                &--pc {
                    display: block;
                    margin: 0 auto;

                    &.graph1 {
                        max-width: 652px;
                    }

                    &.graph2 {
                        max-width: 349px;
                    }

                    &.graph3 {
                        max-width: 642px;
                    }

                    &.graph4 {
                        max-width: 470px;
                    }

                    &.graph5 {
                        max-width: 783px;
                    }

                    &.graph6 {
                        max-width: 802px;
                    }
                }

                &--mb {
                    display: none;
                }
            }

            .animateChart__item {
                left: 0;
                top: 0;
                width: 100%;

                &:nth-child(1) {
                    position: relative;
                    z-index: 1;
                }

                &:nth-child(2) {
                    position: absolute;
                    z-index: 2;
                }

                &:nth-child(3) {
                    position: absolute;
                    z-index: 3;
                }

                &:nth-child(4) {
                    position: absolute;
                    z-index: 4;
                }
            }
        }

        &__title {

            h2{
                color: $white;
                span {
                    font-weight: 500;
                    color: $primary;
                }
            }

            .saying {
                &:before,
                &:after {

                }

                &__content {
                    color: #40A3FF;
                }

                &__person {
                    color: $white;
                }
            }
        }

        &__content {
            .paragraph {
                color: $white;

                p {
                    font-size: rem(16);

                    @include rwd-min(1200px) {
                        font-size: rem(20);
                    }
                }
            }
        }
    }

    //報告下載區塊
    &-download {
        background-color: $primary;
        padding-bottom: rem(80);

        @include rwd-min(1200px) {
            padding-bottom: rem(200);
        }

        .container {
            max-width: 800px;

            @include rwd-min(768px) {
                padding: 0;
            }
        }

        &__title {
            color: $dark;
            text-align: center;

            .p__h2 {
                font-size: rem(26);
                font-weight: 700;

                @include rwd-min(1200px) {
                    font-size: rem(42);
                }
            }
        }

        &__content {
            margin: 0 auto !important;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            @include rwd-min(768px) {
                flex-direction: row;
                align-items: flex-start;
                flex-wrap: nowrap;
                justify-content: space-between;

                .p-download__cover {
                    flex: 0 0 280px;
                }

                .p-download__text {
                    margin-top: rem(20);
                    max-width: 492px;
                }
            }
        }

        &__fixedbutton {
            position: fixed;
            bottom: 5rem;
            top: auto;
            right: 0;
            z-index: 15;

            .imgWrap {
                width: rem(80);
            }

            @include rwd-min(1200px) {
                top: 7rem;
                bottom: auto;

                .imgWrap {
                    width: rem(96);
                }
            }
        }

        &__text {

            .downloadCard {
                margin-bottom: rem(32);

                &:last-child {
                    margin-bottom: 0;
                }

                @include rwd-min(768px) {
                    margin-bottom: rem(52);
                }
            }

            h4 {
                display: inline-block;
                font-size: rem(18);
                text-align: center;
                font-weight: 600;
                padding: rem(10);
                color: $white;
                background-color: #373737;
                margin-bottom: 0;
            }

            h5 {
                display: inline-block;
                font-size: rem(20);
                text-align: center;
                font-weight: 600;
                padding: rem(10);
                color: $white;
                background-color: #373737;
                margin-bottom: 0;

                @include rwd-min(768px) {
                    padding: rem(10) rem(28);

                    br {
                        display: none;
                    }
                }
            }

            p {
                font-size: rem(16);
                font-weight: 500;
                text-align: justify;
                color: $black;
                margin-top: rem(8);
                margin-bottom: 0;

                @include rwd-min(768px) {
                    margin-top: rem(12);
                }
            }
        }

        &__link {
            color: $primary-darken;
            text-decoration: none;
            padding: rem(16) rem(32);
            width: 90%;
            display: block;
            transition: .3s ease-out;
            text-align: center;
            margin: 0 auto;

            text-align: right;

            .p__link {
                display: block;
                color: $primary;
                font-size: rem(16);
                font-weight: 500;
                transform: translateY(0px);

                transition: .3s ease-out;

                span {
                    display: block;
                    position: relative;
                    font-weight: 500;
                }

                &:hover {
                    color: $primary;
                    transform: translateY(-5px);
                }

                &:hover {
                    color: $primary-darken1;
                }
            }
        }
    }

    //文章列表區塊
    &-articleList {
        background-color: #FAFAFA;
        padding-bottom: 3.6rem;
        @include bg-cover;

        &__title {
            position: relative;
            margin-bottom: 1.5rem;

            @include rwd-min(1200px) {
                margin-bottom: 3rem;
            }

            .p__h2 {
                font-weight: 800;
                text-align: center;
                font-size: rem(36);

                @include rwd-min(1200px) {
                    font-size: rem(48);
                }
            }

            .p__h3 {
                font-weight: 500;
                display: inline-block;
            }

            p {
                font-weight: 500;
            }
        }


        .stories {
            padding-top: rem(80);

            &__link {
                text-decoration: none;
                color: $dark;
                margin-bottom: 2.5rem;

                &:hover {
                    .stories__cover {
                        background-color: rgba($color: $primary, $alpha: 0.5);
                    }

                    .stories__cover.ad {
                        background-color: rgba($color: map-get($topicclr, topic1), $alpha: 0.5);
                    }
                }
            }


            &__box {
                position: relative;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 250px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    position: absolute;

                }
            }

            &__cover {
                background-color: transparent;
                position: absolute;
                height: 100%;
                width: 100%;
                transition-duration: .8s;
            }

            &__txt {
                text-align: left;
                margin-top: -1.5rem;

                h4 {
                    font-size: 1.25rem !important;
                    line-height: 1.4;
                }

                span {
                    color: $white;
                    font-weight: 500;
                    padding: 4px 8px;
                    background-color: $primary;
                    display: inline-block;

                    &.ad {
                        background-color: $primary-darken;
                    }

                    &.tag-typeA {
                        background-color: #0BD588;
                    }

                    &.tag-typeB {
                        background-color: #1071CB;
                    }

                    &.tag-typeC {
                        background-color: #BC5C69;
                    }
                }
            }
        }

    }
}

/*----- KV -----*/
.l-hero {
    padding: 0;
    position: relative;
    background-color: $primary;

    &:before {
        content: '';
        display: block;
        min-height: 100dvh;
        padding-top: calc((852 / 393) * 100%);

        @include rwd-tablet-portrait {
            padding-top: calc((1350 / 834) * 100%);
        }

        @include rwd-min(1200px) {
            padding-top: calc((1080 / 1920) * 100%);
        }
    }

    .opening {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &__layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            &--1 {
                z-index: 2;
                background-image: url('../images/opening/mb/layer_1.svg');
            }

            &--2 {
                z-index: 3;
                background-image: url('../images/opening/mb/layer_2.svg');
            }

            &--3 {
                z-index: 4;
                background-image: url('../images/opening/mb/layer_3.svg');
            }

            &--4 {
                z-index: 1;
                background-image: url('../images/opening/mb/layer_4.svg');
            }

            &--5 {
                z-index: 5;
                background-image: url('../images/opening/mb/layer_5.svg');
            }

            &--6 {
                z-index: 6;
                background-image: url('../images/opening/mb/layer_6.svg');
            }

            @include rwd-tablet-portrait {
                &--1 {
                    background-image: url('../images/opening/tablet/layer_1.svg');
                }

                &--2 {
                    background-image: url('../images/opening/tablet/layer_2.svg');
                }

                &--3 {
                    background-image: url('../images/opening/tablet/layer_3.svg');
                }

                &--4 {
                    background-image: url('../images/opening/tablet/layer_4.svg');
                }

                &--5 {
                    background-image: url('../images/opening/tablet/layer_5.svg');
                }

                &--6 {
                    background-image: url('../images/opening/tablet/layer_6.svg');
                }
            }


            @include rwd-min(1200px) {

                &--1 {
                    background-image: url('../images/opening/pc/layer_1.svg');
                }

                &--2 {
                    background-image: url('../images/opening/pc/layer_2.svg');
                }

                &--3 {
                    background-image: url('../images/opening/pc/layer_3.svg');
                }

                &--4 {
                    background-image: url('../images/opening/pc/layer_4.svg');
                }

                &--5 {
                    background-image: url('../images/opening/pc/layer_5.svg');
                }

                &--6 {
                    background-image: url('../images/opening/pc/layer_6.svg');
                }
            }
        }
    }
}