@import 'variables';
@import 'mixin';

$formPath: '../../images/liff';

.formRow {
    display: flex;

    &--exchange {
        align-items: center;
        background: white;
        border-radius: 11.5rem;
        border: 1px solid $secondary;
        height: 7.2rem;
        overflow: hidden;
        text-align: right;
        box-shadow: 0 0.4rem 0.4rem rgba(16, 55, 141, 0.08);

        .formRow__label {
            width: 8.4rem;
            flex: 0 0 8.4rem;
            color: $secondary;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.7;
            white-space: nowrap;
            flex-shrink: 0;
        }

        .formRow__content {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            flex: 0 0 calc(100% - 8.4rem);
            width: calc(100% - 8.4rem);
            height: 100%;

            .fancyInput {
                flex: 0 0 calc(100% - 6.8rem);
                width: calc(100% - 6.8rem);
                padding: 0 1.8rem 0 1rem;
                height: 100%;
                border-right: 1px solid $secondary;
                @include box-sizing(border-box);
            }

            .btn {
                flex: 0 0 6.8rem;
                width: 6.8rem;
                height: 100%;
            }
        }
    }

    &:focus-within {

    }
}

.fancyInput {
    border: none;
    outline: none;
    background: transparent;

    &--exchange {
        flex: 1;
        text-align: right;
        @include f-unbounded;
        font-size: 4rem;
        font-weight: bold;
        color: $primary-hover;
        letter-spacing: 0.4rem;
    }
}